﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="Gateway" ResponseEncoding="UTF-8" Codebehind="Gateway.aspx.cs" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    
    <style>
    table { 
        border-spacing: 10px;
        border-collapse: separate;
    }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <D:PlaceHolder runat="server" ID="plhOutput"></D:PlaceHolder>
    </div>
<pre><D:PlaceHolder runat="server" ID="plhOutputPre"></D:PlaceHolder></pre>
    </form>
</body>
</html>
