﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="MediaGateway" Codebehind="MediaGateway.aspx.cs" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>This page intentionally left blank</title>
</head>
<body>
    <form id="form1" runat="server">
        <D:PlaceHolder runat="server" ID="plhOutput"></D:PlaceHolder>
    </form>
</body>
</html>
