﻿<h2 style="color:#555">[[DELIVERYPOINTCAPTION]]: [[DELIVERYPOINT]]</h2><br />
<strong style="color:#555">Order Date:</strong> [[CREATED]]
<table width="480" height="100%" border="0" cellpadding="0">
    <tr>
        <td width="480" style="text-align: left;">
            <div style="color: #8b8d8e; font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-align: left; width: 520px; line-height: 18px">
            	10568
            </div>
        </td>
    </tr>
</table>
<div style="float: left; width:480px">
    [[ORDER]]
</div>
<table width="480" height="100%" border="0" cellpadding="0">
    <tr>
        <td width="480" style="text-align: left;">
            <div style="color: #8b8d8e; font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-align: left; width: 520px; line-height: 18px"></div></td>
    </tr>
</table>