/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* -- WebChartControl -- */
.dxchartsuiLoadingDiv_Glass
{
    background-color: Gray;
    opacity: 0.01;
    filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxchartsuiLoadingPanel_Glass
{
    font: 12px Tahoma, Geneva, sans-serif;
    color: #303030;
    border: solid 1px #7EACB1;
    background-color: White;
}
.dxchartsuiLoadingPanel_Glass td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 12px 12px 12px 12px;
}
/* -- Crosshair -- */
.dxchartsuiCrosshairHLine_Glass,
.dxchartsuiCrosshairVLine_Glass
{
    background-color: transparent;
    border-color: #de39cd;
}
.dxchartsuiCrosshairLabel_Glass,
.dxchartsuiCrosshairHLine_Glass,
.dxchartsuiCrosshairVLine_Glass
{
    position: absolute;
    z-index: 41998;
}
.dxchartsuiCrosshairLabel_Glass
{
    background-color: #de39cd;
    color: White;
    font: 12px Tahoma, Geneva, sans-serif;
    padding: 1px 4px 1px 4px;
    white-space: nowrap;
}
.dxchartsuiCrosshairHLine_Glass
{
    height: 0px;
}
.dxchartsuiCrosshairVLine_Glass
{
    width: 0px;
}
/* -- Tooltip -- */
.dxchartsuiTooltip_Glass,
.dxchartsuiTooltip_TopLeft_Glass,
.dxchartsuiTooltip_TopRight_Glass,
.dxchartsuiTooltip_BottomLeft_Glass,
.dxchartsuiTooltip_BottomRight_Glass
{
    font: 12px Tahoma, Geneva, sans-serif;
    color: #201f35;
    background-color: #EDF3F4;
    border: 1px solid rgba(0,0,0,0.35);
    padding: 6px 10px 6px 10px;
    position: absolute;
    cursor: default;
    white-space: nowrap;
    -moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.35);
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    z-index: 41999;
}
.dxchartsuiTooltip_TopLeft_Glass:before,
.dxchartsuiTooltip_TopRight_Glass:before,
.dxchartsuiTooltip_BottomLeft_Glass:before,
.dxchartsuiTooltip_BottomRight_Glass:before,
.dxchartsuiTooltip_TopLeft_Glass:after,
.dxchartsuiTooltip_TopRight_Glass:after,
.dxchartsuiTooltip_BottomLeft_Glass:after,
.dxchartsuiTooltip_BottomRight_Glass:after
{
    border-style: solid;
    content: "";
    display: block;
    position: absolute;
    width: 0;
}
.dxchartsuiTooltip_TopLeft_Glass:before,
.dxchartsuiTooltip_TopRight_Glass:before,
.dxchartsuiTooltip_BottomLeft_Glass:before,
.dxchartsuiTooltip_BottomRight_Glass:before
{
    border-width: 10px 5px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dxchartsuiTooltip_TopLeft_Glass:after,
.dxchartsuiTooltip_TopRight_Glass:after,
.dxchartsuiTooltip_BottomLeft_Glass:after,
.dxchartsuiTooltip_BottomRight_Glass:after
{
    border-width: 8px 4px;
}
.dxchartsuiTooltip_TopLeft_Glass:before
{
    border-color: transparent transparent rgba(139,139,139,0.35) rgba(139,139,139,0.35);
    top: -20px;
    left: 10px;
}
.dxchartsuiTooltip_TopLeft_Glass:after
{
    border-color: transparent transparent White White;
    top: -16px;
    left: 11px;
}
.dxchartsuiTooltip_TopRight_Glass:before
{
    border-color: transparent rgba(139,139,139,0.35) rgba(139,139,139,0.35) transparent;
    top: -20px;
    right: 10px;
}
.dxchartsuiTooltip_TopRight_Glass:after
{
    border-color: transparent White White transparent;
    top: -16px;
    right: 11px;
}
.dxchartsuiTooltip_BottomRight_Glass:before
{
    border-color: rgba(139,139,139,0.35) rgba(139,139,139,0.35) transparent transparent;
    bottom: -20px;
    right: 10px;
}
.dxchartsuiTooltip_BottomRight_Glass:after
{
    border-color: White White transparent transparent;
    bottom: -16px;
    right: 11px;
}
.dxchartsuiTooltip_BottomLeft_Glass:before
{
    border-color: rgba(139,139,139,0.35) transparent transparent rgba(139,139,139,0.35);
    bottom: -20px;
    left: 10px;
}
.dxchartsuiTooltip_BottomLeft_Glass:after
{
    border-color: White transparent transparent White;
    bottom: -16px;
    left: 11px;
}
