﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Organization.SubPanels.AlterationV3BrandCollection" Codebehind="AlterationV3BrandCollection.ascx.cs" %>
<D:PlaceHolder runat="server" ID="phlAddProduct">
    <div style="overflow:hidden;margin-bottom:10px;">
        <D:Button runat="server" ID="btnCreateAlteration" Text="Create New Alteration" ToolTip="Create Alteration" />   
    </div>
</D:PlaceHolder>
<X:GridViewColumnSelector runat="server" ID="gvcsProducts">
    <Columns />
</X:GridViewColumnSelector>