﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Organization.SubPanels.ProductBrandCollection" Codebehind="ProductBrandCollection.ascx.cs" %>
<D:PlaceHolder runat="server" ID="phlAddProduct">
<div style="overflow:hidden;margin-bottom:10px;">
<D:Button runat="server" ID="btnCreateProduct" Text="Create New Product" ToolTip="Create Product" />   
</div>
</D:PlaceHolder>
<X:GridViewColumnSelector runat="server" ID="gvcsProducts">
	<Columns />
</X:GridViewColumnSelector>