﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.AppLess.SubPanels.WidgetWaitTimePanel" Codebehind="WidgetWaitTimePanel.ascx.cs" %>
<tr>
	<td class="label">
        <D:Label runat="server" id="lblText">Text</D:Label>
    </td>
    <td class="control">
        <D:TextBoxString runat="server" ID="tbText" IsRequired="true" MaxLength="100"></D:TextBoxString>
    </td>
    <td class="label">
    </td>
    <td class="control">
    </td>
</tr>