﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.AppLess.SubPanels.WidgetOpeningTimePanel" Codebehind="WidgetOpeningTimePanel.ascx.cs" %>
<tr>
	<td class="label">
        <D:Label runat="server" id="lblTitle">Title</D:Label>
    </td>
    <td class="control">
        <D:TextBoxString runat="server" ID="tbTitle" IsRequired="true" MaxLength="255"></D:TextBoxString>
    </td>
    <td class="label">
    </td>
    <td class="control">
    </td>
</tr>