﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.AppLess.SubPanels.CheckoutMethodCollection" Codebehind="CheckoutMethodCollection.ascx.cs" %>
<D:CommandButton runat="server" ID="btAdd" CommandName="AddPage" Text="Add" ToolTip="Add" />&nbsp;
<br /><br />
<X:GridViewColumnSelector runat="server" ID="gvcsCheckoutMethodCollection">
	<Columns />
</X:GridViewColumnSelector>