﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.AppLess.SubPanels.NavigationMenuCollection" Codebehind="NavigationMenuCollection.ascx.cs" %>
<D:CommandButton runat="server" ID="btAdd" CommandName="AddPage" Text="Add" ToolTip="Add" />&nbsp;        
<br /><br />
<X:GridViewColumnSelector runat="server" ID="gvcsNavigationMenuCollection">
	<Columns />
</X:GridViewColumnSelector>