﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.AppLess.SubPanels.WidgetCollection" Codebehind="WidgetCollection.ascx.cs" %>
<X:ComboBoxInt runat="server" ID="cbType" UseDataBinding="True"/>
<D:CommandButton runat="server" ID="btAdd" CommandName="AddPage" Text="Add" ToolTip="Add" />&nbsp;        
<br /><br />
<X:GridViewColumnSelector runat="server" ID="gvcsWidgetCollection">
	<Columns />
</X:GridViewColumnSelector>