﻿<%@ Page Language="C#" MasterPageFile="~/MasterPages/MasterPageEntityCollection.master" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Organization.Brandproducts" Title="Brand Products" Codebehind="Brandproducts.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cplhTitle" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cplhAdditionalToolBarButtons" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cplhPrePageContent" Runat="Server">
    <X:ComboBoxLLBLGenEntityCollection runat="server" ID="ddlBrands" UseDataBinding="true" EntityName="Brand" TextField="Name" PreventEntityCollectionInitialization="true" Width="250px" notdirty="true" AutoPostBack="True" /><br/>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cplhPostPageContent" Runat="Server">
</asp:Content>
