﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/CraveMobileNocBase.master" AutoEventWireup="true" Inherits="Default" Codebehind="Default.aspx.cs" %>
<%@ Reference VirtualPath="~/UserControls/Listitems/Order.ascx" %>
<%@ Reference VirtualPath="~/UserControls/Listitems/Client.ascx" %>
<%@ Reference VirtualPath="~/UserControls/Listitems/Terminal.ascx" %>
<%@ Reference VirtualPath="~/UserControls/Listitems/ClientsSummary.ascx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div id="title"><D:LabelTextOnly ID="lblTitle" runat="server"></D:LabelTextOnly></div>
</asp:Content>

