﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/CraveMobileNocBase.master" AutoEventWireup="true" Inherits="DeviceActivityLog" Codebehind="DeviceActivityLog.aspx.cs" %>
<%@ Reference VirtualPath="~/UserControls/Listitems/DeviceActivityLog.ascx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<ul class="list">
    <D:PlaceHolder runat="server" ID="plhDetails"></D:PlaceHolder>
</ul>      
</asp:Content>

