﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/CraveMobileNocBase.master" AutoEventWireup="true" Inherits="Error" Codebehind="Error.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div id="error-content">
    <center>
    <h1>Oops...</h1>
    <p><D:Label runat="server" ID="lblMessage"></D:Label></p>
        </center>
</div>
</asp:Content>
