﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/CraveMobileNocBase.master" AutoEventWireup="true" Inherits="Navigation" Codebehind="Navigation.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<D:PlaceHolder runat="server" ID="plhDatabaseIssues" Visible="false">
    <h1>Issues loading Default.aspx (Database Down?)</h1>
</D:PlaceHolder>
<ul class="list">
    <D:PlaceHolder ID="plhList" runat="server"></D:PlaceHolder>
</ul>
</asp:Content>

