
.dxHtmlEditor_heConstrainProportionsBottom_Glass, .dxHtmlEditor_heConstrainProportionsBottomRtl_Glass, .dxHtmlEditor_heConstrainProportionsMiddleOff_Glass, .dxHtmlEditor_heConstrainProportionsMiddleOffRtl_Glass, .dxHtmlEditor_heConstrainProportionsMiddleOn_Glass, .dxHtmlEditor_heConstrainProportionsMiddleOnRtl_Glass, .dxHtmlEditor_heConstrainProportionsTop_Glass, .dxHtmlEditor_heConstrainProportionsTopRtl_Glass, .dxHtmlEditor_heEnumIcon_Glass, .dxHtmlEditor_heErrorFrameCloseButton_Glass, .dxHtmlEditor_heEventIcon_Glass, .dxHtmlEditor_heFieldIcon_Glass, .dxHtmlEditor_heReset_Glass, .dxHtmlEditor_heSizeGrip_Glass, .dxHtmlEditor_heSizeGripRtl_Glass, .dxHtmlEditor_heTagInspectorChangeButton_Glass, .dxHtmlEditor_heTagInspectorRemoveButton_Glass, .dxHtmlEditor_heTagInspectorSeparator_Glass, .dxHtmlEditor_heToolbarPopOut_Glass, .dxHtmlEditor_heXmlItemIcon_Glass { background-image: url('sprite.png'); background-repeat: no-repeat; background-color: transparent } 
.dxHtmlEditor_heConstrainProportionsBottom_Glass { background-position: -246px 0px; width: 11px; height: 6px } 
.dxHtmlEditor_heConstrainProportionsBottomRtl_Glass { background-position: -259px 0px; width: 11px; height: 6px } 
.dxHtmlEditor_heConstrainProportionsMiddleOff_Glass { background-position: -77px 0px; width: 11px; height: 18px } 
.dxHtmlEditor_heConstrainProportionsMiddleOffRtl_Glass { background-position: -64px 0px; width: 11px; height: 18px } 
.dxHtmlEditor_heConstrainProportionsMiddleOn_Glass { background-position: -103px 0px; width: 11px; height: 18px } 
.dxHtmlEditor_heConstrainProportionsMiddleOnRtl_Glass { background-position: -90px 0px; width: 11px; height: 18px } 
.dxHtmlEditor_heConstrainProportionsTop_Glass { background-position: -272px 0px; width: 11px; height: 5px } 
.dxHtmlEditor_heConstrainProportionsTopRtl_Glass { background-position: -285px 0px; width: 11px; height: 5px } 
.dxHtmlEditor_heEnumIcon_Glass { background-position: -134px 0px; width: 16px; height: 16px } 
.dxHtmlEditor_heErrorFrameCloseButton_Glass { background-position: -216px 0px; width: 13px; height: 9px } 
.dxHtmlEditor_heEventIcon_Glass { background-position: -152px 0px; width: 16px; height: 16px } 
.dxHtmlEditor_heFieldIcon_Glass { background-position: -170px 0px; width: 16px; height: 16px } 
.dxHtmlEditor_heReset_Glass { background-position: 0px 0px; width: 20px; height: 20px } 
.dxHtmlEditor_heSizeGrip_Glass { background-position: -188px 0px; width: 12px; height: 12px } 
.dxHtmlEditor_heSizeGripRtl_Glass { background-position: -202px 0px; width: 12px; height: 12px } 
.dxHtmlEditor_heTagInspectorChangeButton_Glass { background-position: -43px 0px; width: 19px; height: 19px } 
.dxHtmlEditor_heTagInspectorRemoveButton_Glass { background-position: -22px 0px; width: 19px; height: 19px } 
.dxHtmlEditor_heTagInspectorSeparator_Glass { background-position: -240px 0px; width: 4px; height: 7px } 
.dxHtmlEditor_heToolbarPopOut_Glass { background-position: -231px 0px; width: 7px; height: 7px } 
.dxHtmlEditor_heXmlItemIcon_Glass { background-position: -116px 0px; width: 16px; height: 16px } 
.dxHtmlEditor_heConstrainProportionsMiddleOn_Glass,
.dxHtmlEditor_heConstrainProportionsMiddleOff_Glass,
.dxHtmlEditor_heConstrainProportionsBottom_Glass,
.dxHtmlEditor_heConstrainProportionsTop_Glass,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_Glass,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_Glass,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_Glass,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_Glass,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_Glass,
.dxHtmlEditor_RoundPanel_herpTopRightCorner_Glass,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_Glass,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_Glass,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_Glass,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_Glass
{
	display:block;
}


