.dx-acc-r .dxHtmlEditor_heConstrainProportionsBottom_Glass:before, .dx-acc-r .dxHtmlEditor_heConstrainProportionsBottomRtl_Glass:before, .dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOff_Glass:before, .dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOffRtl_Glass:before, .dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOn_Glass:before, .dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOnRtl_Glass:before, .dx-acc-r .dxHtmlEditor_heConstrainProportionsTop_Glass:before, .dx-acc-r .dxHtmlEditor_heConstrainProportionsTopRtl_Glass:before, .dx-acc-r .dxHtmlEditor_heEnumIcon_Glass:before, .dx-acc-r .dxHtmlEditor_heErrorFrameCloseButton_Glass:before, .dx-acc-r .dxHtmlEditor_heEventIcon_Glass:before, .dx-acc-r .dxHtmlEditor_heFieldIcon_Glass:before, .dx-acc-r .dxHtmlEditor_heReset_Glass:before, .dx-acc-r .dxHtmlEditor_heSizeGrip_Glass:before, .dx-acc-r .dxHtmlEditor_heSizeGripRtl_Glass:before, .dx-acc-r .dxHtmlEditor_heTagInspectorChangeButton_Glass:before, .dx-acc-r .dxHtmlEditor_heTagInspectorRemoveButton_Glass:before, .dx-acc-r .dxHtmlEditor_heTagInspectorSeparator_Glass:before, .dx-acc-r .dxHtmlEditor_heToolbarPopOut_Glass:before, .dx-acc-r .dxHtmlEditor_heXmlItemIcon_Glass:before { content: url('spriteAccessible.png'); }
.dx-acc-r .dxHtmlEditor_heConstrainProportionsBottom_Glass:before { left: -246px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heConstrainProportionsBottomRtl_Glass:before { left: -259px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOff_Glass:before { left: -77px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOffRtl_Glass:before { left: -64px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOn_Glass:before { left: -103px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heConstrainProportionsMiddleOnRtl_Glass:before { left: -90px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heConstrainProportionsTop_Glass:before { left: -272px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heConstrainProportionsTopRtl_Glass:before { left: -285px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heEnumIcon_Glass:before { left: -134px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heErrorFrameCloseButton_Glass:before { left: -216px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heEventIcon_Glass:before { left: -152px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heFieldIcon_Glass:before { left: -170px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heReset_Glass:before { left: 0px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heSizeGrip_Glass:before { left: -188px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heSizeGripRtl_Glass:before { left: -202px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heTagInspectorChangeButton_Glass:before { left: -43px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heTagInspectorRemoveButton_Glass:before { left: -22px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heTagInspectorSeparator_Glass:before { left: -240px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heToolbarPopOut_Glass:before { left: -231px; top: 0px; }
.dx-acc-r .dxHtmlEditor_heXmlItemIcon_Glass:before { left: -116px; top: 0px; }

