.dx-acc-r .dxCardView_CTClearFilter_Glass:before, .dx-acc-r .dxCardView_CTClearFilterDisabled_Glass:before, .dx-acc-r .dxCardView_CTDeleteRow_Glass:before, .dx-acc-r .dxCardView_CTDeleteRowDisabled_Glass:before, .dx-acc-r .dxCardView_CTEditRow_Glass:before, .dx-acc-r .dxCardView_CTEditRowDisabled_Glass:before, .dx-acc-r .dxCardView_CTExportCsv_Glass:before, .dx-acc-r .dxCardView_CTExportCsvDisabled_Glass:before, .dx-acc-r .dxCardView_CTExportDocx_Glass:before, .dx-acc-r .dxCardView_CTExportDocxDisabled_Glass:before, .dx-acc-r .dxCardView_CTExportPdf_Glass:before, .dx-acc-r .dxCardView_CTExportPdfDisabled_Glass:before, .dx-acc-r .dxCardView_CTExportRtf_Glass:before, .dx-acc-r .dxCardView_CTExportRtfDisabled_Glass:before, .dx-acc-r .dxCardView_CTExportXls_Glass:before, .dx-acc-r .dxCardView_CTExportXlsDisabled_Glass:before, .dx-acc-r .dxCardView_CTExportXlsx_Glass:before, .dx-acc-r .dxCardView_CTExportXlsxDisabled_Glass:before, .dx-acc-r .dxCardView_CTFullCollapse_Glass:before, .dx-acc-r .dxCardView_CTFullCollapseDisabled_Glass:before, .dx-acc-r .dxCardView_CTFullExpand_Glass:before, .dx-acc-r .dxCardView_CTFullExpandDisabled_Glass:before, .dx-acc-r .dxCardView_CTNewRow_Glass:before, .dx-acc-r .dxCardView_CTNewRowDisabled_Glass:before, .dx-acc-r .dxCardView_CTRefresh_Glass:before, .dx-acc-r .dxCardView_CTRefreshDisabled_Glass:before, .dx-acc-r .dxCardView_CTShowCustomizationWindow_Glass:before, .dx-acc-r .dxCardView_CTShowCustomizationWindowDisabled_Glass:before, .dx-acc-r .dxCardView_CTShowFilterEditor_Glass:before, .dx-acc-r .dxCardView_CTShowFilterEditorDisabled_Glass:before, .dx-acc-r .dxCardView_CTShowSearchPanel_Glass:before, .dx-acc-r .dxCardView_CTShowSearchPanelDisabled_Glass:before, .dx-acc-r .dxCardView_CTUpdateSummaries_Glass:before, .dx-acc-r .dxCardView_cvCollapsedButton_Glass:before, .dx-acc-r .dxCardView_cvCollapsedButtonRtl_Glass:before, .dx-acc-r .dxCardView_cvExpandedButton_Glass:before, .dx-acc-r .dxCardView_cvExpandedButtonRtl_Glass:before, .dx-acc-r .dxCardView_gvCellError_Glass:before, .dx-acc-r .dxCardView_gvFilterRowButton_Glass:before, .dx-acc-r .dxCardView_gvHeaderFilter_Glass:before, .dx-acc-r .dxCardView_gvHeaderFilterActive_Glass:before, .dx-acc-r .dxCardView_gvHeaderSortDown_Glass:before, .dx-acc-r .dxCardView_gvHeaderSortUp_Glass:before, .dx-acc-r .dxCardView_gvUpdateSummariesButton_Glass:before { content: url('spriteAccessible.png'); }
.dx-acc-r .dxCardView_CTClearFilter_Glass:before { left: -382px; top: 0px; }
.dx-acc-r .dxCardView_CTClearFilterDisabled_Glass:before { left: -40px; top: 0px; }
.dx-acc-r .dxCardView_CTDeleteRow_Glass:before { left: -418px; top: 0px; }
.dx-acc-r .dxCardView_CTDeleteRowDisabled_Glass:before { left: -400px; top: 0px; }
.dx-acc-r .dxCardView_CTEditRow_Glass:before { left: -454px; top: 0px; }
.dx-acc-r .dxCardView_CTEditRowDisabled_Glass:before { left: -436px; top: 0px; }
.dx-acc-r .dxCardView_CTExportCsv_Glass:before { left: -490px; top: 0px; }
.dx-acc-r .dxCardView_CTExportCsvDisabled_Glass:before { left: -472px; top: 0px; }
.dx-acc-r .dxCardView_CTExportDocx_Glass:before { left: 0px; top: -20px; }
.dx-acc-r .dxCardView_CTExportDocxDisabled_Glass:before { left: -18px; top: -20px; }
.dx-acc-r .dxCardView_CTExportPdf_Glass:before { left: -36px; top: -20px; }
.dx-acc-r .dxCardView_CTExportPdfDisabled_Glass:before { left: -162px; top: -20px; }
.dx-acc-r .dxCardView_CTExportRtf_Glass:before { left: -72px; top: -20px; }
.dx-acc-r .dxCardView_CTExportRtfDisabled_Glass:before { left: -54px; top: -20px; }
.dx-acc-r .dxCardView_CTExportXls_Glass:before { left: -144px; top: -20px; }
.dx-acc-r .dxCardView_CTExportXlsDisabled_Glass:before { left: -90px; top: -20px; }
.dx-acc-r .dxCardView_CTExportXlsx_Glass:before { left: -126px; top: -20px; }
.dx-acc-r .dxCardView_CTExportXlsxDisabled_Glass:before { left: -108px; top: -20px; }
.dx-acc-r .dxCardView_CTFullCollapse_Glass:before { left: -508px; top: 0px; }
.dx-acc-r .dxCardView_CTFullCollapseDisabled_Glass:before { left: -364px; top: 0px; }
.dx-acc-r .dxCardView_CTFullExpand_Glass:before { left: -346px; top: 0px; }
.dx-acc-r .dxCardView_CTFullExpandDisabled_Glass:before { left: -328px; top: 0px; }
.dx-acc-r .dxCardView_CTNewRow_Glass:before { left: -58px; top: 0px; }
.dx-acc-r .dxCardView_CTNewRowDisabled_Glass:before { left: -310px; top: 0px; }
.dx-acc-r .dxCardView_CTRefresh_Glass:before { left: -94px; top: 0px; }
.dx-acc-r .dxCardView_CTRefreshDisabled_Glass:before { left: -76px; top: 0px; }
.dx-acc-r .dxCardView_CTShowCustomizationWindow_Glass:before { left: -130px; top: 0px; }
.dx-acc-r .dxCardView_CTShowCustomizationWindowDisabled_Glass:before { left: -112px; top: 0px; }
.dx-acc-r .dxCardView_CTShowFilterEditor_Glass:before { left: -166px; top: 0px; }
.dx-acc-r .dxCardView_CTShowFilterEditorDisabled_Glass:before { left: -148px; top: 0px; }
.dx-acc-r .dxCardView_CTShowSearchPanel_Glass:before { left: -202px; top: 0px; }
.dx-acc-r .dxCardView_CTShowSearchPanelDisabled_Glass:before { left: -184px; top: 0px; }
.dx-acc-r .dxCardView_CTUpdateSummaries_Glass:before { left: -220px; top: 0px; }
.dx-acc-r .dxCardView_cvCollapsedButton_Glass:before { left: -256px; top: 0px; }
.dx-acc-r .dxCardView_cvCollapsedButtonRtl_Glass:before { left: -238px; top: 0px; }
.dx-acc-r .dxCardView_cvExpandedButton_Glass:before { left: -292px; top: 0px; }
.dx-acc-r .dxCardView_cvExpandedButtonRtl_Glass:before { left: -274px; top: 0px; }
.dx-acc-r .dxCardView_gvCellError_Glass:before { left: -198px; top: -20px; }
.dx-acc-r .dxCardView_gvFilterRowButton_Glass:before { left: -214px; top: -20px; }
.dx-acc-r .dxCardView_gvHeaderFilter_Glass:before { left: 0px; top: 0px; }
.dx-acc-r .dxCardView_gvHeaderFilterActive_Glass:before { left: -20px; top: 0px; }
.dx-acc-r .dxCardView_gvHeaderSortDown_Glass:before { left: -529px; top: -14px; }
.dx-acc-r .dxCardView_gvHeaderSortUp_Glass:before { left: -526px; top: 0px; }
.dx-acc-r .dxCardView_gvUpdateSummariesButton_Glass:before { left: -180px; top: -20px; }

