
.dxCardView_CTClearFilter_Glass, .dxCardView_CTClearFilterDisabled_Glass, .dxCardView_CTDeleteRow_Glass, .dxCardView_CTDeleteRowDisabled_Glass, .dxCardView_CTEditRow_Glass, .dxCardView_CTEditRowDisabled_Glass, .dxCardView_CTExportCsv_Glass, .dxCardView_CTExportCsvDisabled_Glass, .dxCardView_CTExportDocx_Glass, .dxCardView_CTExportDocxDisabled_Glass, .dxCardView_CTExportPdf_Glass, .dxCardView_CTExportPdfDisabled_Glass, .dxCardView_CTExportRtf_Glass, .dxCardView_CTExportRtfDisabled_Glass, .dxCardView_CTExportXls_Glass, .dxCardView_CTExportXlsDisabled_Glass, .dxCardView_CTExportXlsx_Glass, .dxCardView_CTExportXlsxDisabled_Glass, .dxCardView_CTFullCollapse_Glass, .dxCardView_CTFullCollapseDisabled_Glass, .dxCardView_CTFullExpand_Glass, .dxCardView_CTFullExpandDisabled_Glass, .dxCardView_CTNewRow_Glass, .dxCardView_CTNewRowDisabled_Glass, .dxCardView_CTRefresh_Glass, .dxCardView_CTRefreshDisabled_Glass, .dxCardView_CTShowCustomizationWindow_Glass, .dxCardView_CTShowCustomizationWindowDisabled_Glass, .dxCardView_CTShowFilterEditor_Glass, .dxCardView_CTShowFilterEditorDisabled_Glass, .dxCardView_CTShowSearchPanel_Glass, .dxCardView_CTShowSearchPanelDisabled_Glass, .dxCardView_CTUpdateSummaries_Glass, .dxCardView_cvCollapsedButton_Glass, .dxCardView_cvCollapsedButtonRtl_Glass, .dxCardView_cvExpandedButton_Glass, .dxCardView_cvExpandedButtonRtl_Glass, .dxCardView_gvCellError_Glass, .dxCardView_gvFilterRowButton_Glass, .dxCardView_gvHeaderFilter_Glass, .dxCardView_gvHeaderFilterActive_Glass, .dxCardView_gvHeaderSortDown_Glass, .dxCardView_gvHeaderSortUp_Glass, .dxCardView_gvUpdateSummariesButton_Glass { background-image: url('sprite.png'); background-repeat: no-repeat; background-color: transparent } 
.dxCardView_CTClearFilter_Glass { background-position: -382px 0px; width: 16px; height: 16px } 
.dxCardView_CTClearFilterDisabled_Glass { background-position: -40px 0px; width: 16px; height: 16px } 
.dxCardView_CTDeleteRow_Glass { background-position: -418px 0px; width: 16px; height: 16px } 
.dxCardView_CTDeleteRowDisabled_Glass { background-position: -400px 0px; width: 16px; height: 16px } 
.dxCardView_CTEditRow_Glass { background-position: -454px 0px; width: 16px; height: 16px } 
.dxCardView_CTEditRowDisabled_Glass { background-position: -436px 0px; width: 16px; height: 16px } 
.dxCardView_CTExportCsv_Glass { background-position: -490px 0px; width: 16px; height: 16px } 
.dxCardView_CTExportCsvDisabled_Glass { background-position: -472px 0px; width: 16px; height: 16px } 
.dxCardView_CTExportDocx_Glass { background-position: 0px -20px; width: 16px; height: 16px } 
.dxCardView_CTExportDocxDisabled_Glass { background-position: -18px -20px; width: 16px; height: 16px } 
.dxCardView_CTExportPdf_Glass { background-position: -36px -20px; width: 16px; height: 16px } 
.dxCardView_CTExportPdfDisabled_Glass { background-position: -162px -20px; width: 16px; height: 16px } 
.dxCardView_CTExportRtf_Glass { background-position: -72px -20px; width: 16px; height: 16px } 
.dxCardView_CTExportRtfDisabled_Glass { background-position: -54px -20px; width: 16px; height: 16px } 
.dxCardView_CTExportXls_Glass { background-position: -144px -20px; width: 16px; height: 16px } 
.dxCardView_CTExportXlsDisabled_Glass { background-position: -90px -20px; width: 16px; height: 16px } 
.dxCardView_CTExportXlsx_Glass { background-position: -126px -20px; width: 16px; height: 16px } 
.dxCardView_CTExportXlsxDisabled_Glass { background-position: -108px -20px; width: 16px; height: 16px } 
.dxCardView_CTFullCollapse_Glass { background-position: -508px 0px; width: 16px; height: 16px } 
.dxCardView_CTFullCollapseDisabled_Glass { background-position: -364px 0px; width: 16px; height: 16px } 
.dxCardView_CTFullExpand_Glass { background-position: -346px 0px; width: 16px; height: 16px } 
.dxCardView_CTFullExpandDisabled_Glass { background-position: -328px 0px; width: 16px; height: 16px } 
.dxCardView_CTNewRow_Glass { background-position: -58px 0px; width: 16px; height: 16px } 
.dxCardView_CTNewRowDisabled_Glass { background-position: -310px 0px; width: 16px; height: 16px } 
.dxCardView_CTRefresh_Glass { background-position: -94px 0px; width: 16px; height: 16px } 
.dxCardView_CTRefreshDisabled_Glass { background-position: -76px 0px; width: 16px; height: 16px } 
.dxCardView_CTShowCustomizationWindow_Glass { background-position: -130px 0px; width: 16px; height: 16px } 
.dxCardView_CTShowCustomizationWindowDisabled_Glass { background-position: -112px 0px; width: 16px; height: 16px } 
.dxCardView_CTShowFilterEditor_Glass { background-position: -166px 0px; width: 16px; height: 16px } 
.dxCardView_CTShowFilterEditorDisabled_Glass { background-position: -148px 0px; width: 16px; height: 16px } 
.dxCardView_CTShowSearchPanel_Glass { background-position: -202px 0px; width: 16px; height: 16px } 
.dxCardView_CTShowSearchPanelDisabled_Glass { background-position: -184px 0px; width: 16px; height: 16px } 
.dxCardView_CTUpdateSummaries_Glass { background-position: -220px 0px; width: 16px; height: 16px } 
.dxCardView_cvCollapsedButton_Glass { background-position: -256px 0px; width: 16px; height: 16px } 
.dxCardView_cvCollapsedButtonRtl_Glass { background-position: -238px 0px; width: 16px; height: 16px } 
.dxCardView_cvExpandedButton_Glass { background-position: -292px 0px; width: 16px; height: 16px } 
.dxCardView_cvExpandedButtonRtl_Glass { background-position: -274px 0px; width: 16px; height: 16px } 
.dxCardView_gvCellError_Glass { background-position: -198px -20px; width: 14px; height: 14px } 
.dxCardView_gvFilterRowButton_Glass { background-position: -214px -20px; width: 13px; height: 13px } 
.dxCardView_gvHeaderFilter_Glass { background-position: 0px 0px; width: 18px; height: 18px } 
.dxCardView_gvHeaderFilterActive_Glass { background-position: -20px 0px; width: 18px; height: 18px } 
.dxCardView_gvHeaderSortDown_Glass { background-position: -529px -14px; width: 7px; height: 4px } 
.dxCardView_gvHeaderSortUp_Glass { background-position: -526px 0px; width: 7px; height: 4px } 
.dxCardView_gvUpdateSummariesButton_Glass { background-position: -180px -20px; width: 16px; height: 16px } 

