
.dxdd-root.dxmodalSys .dxeButtonEditButtonHover_Glass .dxEditors_edtClear_Glass { background-position: -384px -103px; width: 20px; height: 20px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarFNNextPeriod_Glass { background-position: -520px -18px; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarFNPrevPeriod_Glass { background-position: -506px -47px; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarNextMonth_Glass { background-position: -506px -61px; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarNextYear_Glass { background-position: -506px -75px; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevMonth_Glass { background-position: -506px -89px; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevYear_Glass { background-position: -60px -140px; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtClear_Glass { background-position: -362px -103px; width: 20px; height: 20px } 
.dxeButtonEditButtonHover_Glass .dxEditors_edtClear_Glass { background-position: -480px -125px; width: 13px; height: 13px } 
.dxEditors_caRefresh_Glass { background-position: -465px -125px; width: 13px; height: 13px } 
.dxEditors_ddapply_Glass { background-position: -452px 0px; width: 22px; height: 22px } 
.dxEditors_ddclose_Glass { background-position: -428px 0px; width: 22px; height: 22px } 
.dxEditors_edtBinaryImageDelete_Glass { background-position: -150px 0px; width: 32px; height: 32px } 
.dxEditors_edtBinaryImageOpenDialog_Glass { background-position: -184px 0px; width: 32px; height: 32px } 
.dxEditors_edtCalendarFastNavBackToPrevMode_Glass { background-position: -375px -125px; width: 13px; height: 13px } 
.dxEditors_edtCalendarFastNavBackToPrevModeRtl_Glass { background-position: -450px -125px; width: 13px; height: 13px } 
.dxEditors_edtCalendarFNNextPeriod_Glass { background-position: -150px -83px; width: 20px; height: 18px } 
.dxEditors_edtCalendarFNNextYear_Glass { background-position: -134px -105px; width: 20px; height: 18px } 
.dxEditors_edtCalendarFNPrevPeriod_Glass { background-position: -156px -105px; width: 20px; height: 18px } 
.dxEditors_edtCalendarFNPrevYear_Glass { background-position: -218px -83px; width: 20px; height: 18px } 
.dxEditors_edtCalendarNextMonth_Glass { background-position: -200px -105px; width: 20px; height: 18px } 
.dxEditors_edtCalendarNextMonthDisabled_Glass { background-position: -222px -105px; width: 20px; height: 18px } 
.dxEditors_edtCalendarNextYear_Glass { background-position: -314px -105px; width: 22px; height: 18px } 
.dxEditors_edtCalendarNextYearDisabled_Glass { background-position: -266px -105px; width: 22px; height: 18px } 
.dxEditors_edtCalendarPrevMonth_Glass { background-position: -244px -105px; width: 20px; height: 18px } 
.dxEditors_edtCalendarPrevMonthDisabled_Glass { background-position: -178px -105px; width: 20px; height: 18px } 
.dxEditors_edtCalendarPrevYear_Glass { background-position: -290px -105px; width: 22px; height: 18px } 
.dxEditors_edtCalendarPrevYearDisabled_Glass { background-position: -338px -105px; width: 22px; height: 18px } 
.dxEditors_edtClear_Glass { background-position: -435px -125px; width: 13px; height: 13px } 
.dxEditors_edtDETSClockFace_Glass { background-position: 0px 0px; width: 123px; height: 123px } 
.dxEditors_edtDETSHourHand_Glass { background-position: -132px 0px; width: 7px; height: 60px } 
.dxEditors_edtDETSMinuteHand_Glass { background-position: -141px 0px; width: 7px; height: 60px } 
.dxEditors_edtDETSSecondHand_Glass { background-position: -125px 0px; width: 5px; height: 78px } 
.dxEditors_edtDropDown_Glass { background-position: -231px -28px; width: 11px; height: 4px } 
.dxEditors_edtDropDownDisabled_Glass { background-position: -218px -32px; width: 11px; height: 4px } 
.dxEditors_edtEllipsis_Glass { background-position: -192px -39px; width: 12px; height: 6px } 
.dxEditors_edtEllipsisDisabled_Glass { background-position: -178px -39px; width: 12px; height: 6px } 
.dxEditors_edtError_Glass { background-position: -520px -70px; width: 14px; height: 14px } 
.dxEditors_edtListBoxFilterBtn_Glass { background-position: -405px -125px; width: 13px; height: 13px } 
.dxEditors_edtListBoxFilterBtnDisabled_Glass { background-position: -420px -125px; width: 13px; height: 13px } 
.dxEditors_edtListBoxHideFilterBtn_Glass { background-position: -495px -125px; width: 13px; height: 13px } 
.dxEditors_edtListBoxHideFilterBtnDisabled_Glass { background-position: -390px -125px; width: 13px; height: 13px } 
.dxEditors_edtListBoxHideFilterBtnRtl_Glass { background-position: -510px -125px; width: 13px; height: 13px } 
.dxEditors_edtListBoxHideFilterBtnRtlDisabled_Glass { background-position: 0px -140px; width: 13px; height: 13px } 
.dxEditors_edtRadioButtonChecked_Glass { background-position: -262px -35px; width: 15px; height: 15px } 
.dxEditors_edtRadioButtonCheckedDisabled_Glass { background-position: -520px -86px; width: 15px; height: 15px } 
.dxEditors_edtRadioButtonUnchecked_Glass { background-position: -244px -86px; width: 15px; height: 15px } 
.dxEditors_edtRadioButtonUncheckedDisabled_Glass { background-position: -262px -69px; width: 15px; height: 15px } 
.dxEditors_edtSpinEditDecrementImage_Glass { background-position: -206px -41px; width: 7px; height: 4px } 
.dxEditors_edtSpinEditDecrementImageDisabled_Glass { background-position: -244px -32px; width: 7px; height: 4px } 
.dxEditors_edtSpinEditIncrementImage_Glass { background-position: -206px -35px; width: 7px; height: 4px } 
.dxEditors_edtSpinEditIncrementImageDisabled_Glass { background-position: -253px -28px; width: 7px; height: 4px } 
.dxEditors_edtSpinEditLargeDecImage_Glass { background-position: -206px -69px; width: 6px; height: 9px } 
.dxEditors_edtSpinEditLargeDecImageDisabled_Glass { background-position: -126px -114px; width: 6px; height: 9px } 
.dxEditors_edtSpinEditLargeIncImage_Glass { background-position: -206px -58px; width: 6px; height: 9px } 
.dxEditors_edtSpinEditLargeIncImageDisabled_Glass { background-position: -206px -47px; width: 6px; height: 9px } 
.dxEditors_edtTBDecBtn_Glass { background-position: -494px -103px; width: 20px; height: 20px } 
.dxEditors_edtTBDecBtnDisabled_Glass { background-position: -476px 0px; width: 20px; height: 20px } 
.dxEditors_edtTBDecBtnHover_Glass { background-position: -498px 0px; width: 20px; height: 20px } 
.dxEditors_edtTBDecBtnPressed_Glass { background-position: -516px -103px; width: 20px; height: 20px } 
.dxEditors_edtTBIncBtn_Glass { background-position: -406px -103px; width: 20px; height: 20px } 
.dxEditors_edtTBIncBtnDisabled_Glass { background-position: -472px -103px; width: 20px; height: 20px } 
.dxEditors_edtTBIncBtnHover_Glass { background-position: -450px -103px; width: 20px; height: 20px } 
.dxEditors_edtTBIncBtnPressed_Glass { background-position: -428px -103px; width: 20px; height: 20px } 
.dxEditors_edtTokenBoxTokenRemoveButton_Glass { background-position: -262px -86px; width: 15px; height: 15px } 
.dxEditors_edtTokenBoxTokenRemoveButtonDisabled_Glass { background-position: -262px -52px; width: 15px; height: 15px } 
.dxEditors_fcadd_Glass { background-position: -300px -125px; width: 13px; height: 13px } 
.dxEditors_fcaddhot_Glass { background-position: -45px -140px; width: 13px; height: 13px } 
.dxEditors_fcgroupaddcondition_Glass { background-position: -45px -125px; width: 13px; height: 13px } 
.dxEditors_fcgroupaddgroup_Glass { background-position: 0px -125px; width: 13px; height: 13px } 
.dxEditors_fcgroupand_Glass { background-position: -521px -40px; width: 13px; height: 13px } 
.dxEditors_fcgroupnotand_Glass { background-position: -285px -125px; width: 13px; height: 13px } 
.dxEditors_fcgroupnotor_Glass { background-position: -270px -125px; width: 13px; height: 13px } 
.dxEditors_fcgroupor_Glass { background-position: -135px -125px; width: 13px; height: 13px } 
.dxEditors_fcgroupremove_Glass { background-position: -15px -125px; width: 13px; height: 13px } 
.dxEditors_fcopany_Glass { background-position: -30px -125px; width: 13px; height: 13px } 
.dxEditors_fcopavg_Glass { background-position: -132px -67px; width: 16px; height: 16px } 
.dxEditors_fcopbegin_Glass { background-position: -60px -125px; width: 13px; height: 13px } 
.dxEditors_fcopbetween_Glass { background-position: -255px -125px; width: 13px; height: 13px } 
.dxEditors_fcopblank_Glass { background-position: -90px -125px; width: 13px; height: 13px } 
.dxEditors_fcopcontain_Glass { background-position: -105px -125px; width: 13px; height: 13px } 
.dxEditors_fcopcount_Glass { background-position: -476px -55px; width: 16px; height: 16px } 
.dxEditors_fcopend_Glass { background-position: -180px -125px; width: 13px; height: 13px } 
.dxEditors_fcopequal_Glass { background-position: -195px -125px; width: 13px; height: 13px } 
.dxEditors_fcopexists_Glass { background-position: -476px -37px; width: 16px; height: 16px } 
.dxEditors_fcopgreater_Glass { background-position: -210px -125px; width: 13px; height: 13px } 
.dxEditors_fcopgreaterorequal_Glass { background-position: -30px -140px; width: 13px; height: 13px } 
.dxEditors_fcopless_Glass { background-position: -165px -125px; width: 13px; height: 13px } 
.dxEditors_fcoplessorequal_Glass { background-position: -225px -125px; width: 13px; height: 13px } 
.dxEditors_fcoplike_Glass { background-position: -150px -125px; width: 13px; height: 13px } 
.dxEditors_fcopmax_Glass { background-position: -520px 0px; width: 16px; height: 16px } 
.dxEditors_fcopmin_Glass { background-position: -132px -85px; width: 16px; height: 16px } 
.dxEditors_fcopnotany_Glass { background-position: -240px -125px; width: 13px; height: 13px } 
.dxEditors_fcopnotbetween_Glass { background-position: -75px -125px; width: 13px; height: 13px } 
.dxEditors_fcopnotblank_Glass { background-position: -520px -55px; width: 13px; height: 13px } 
.dxEditors_fcopnotcontain_Glass { background-position: -345px -125px; width: 13px; height: 13px } 
.dxEditors_fcopnotequal_Glass { background-position: -360px -125px; width: 13px; height: 13px } 
.dxEditors_fcopnotlike_Glass { background-position: -476px -22px; width: 13px; height: 13px } 
.dxEditors_fcopsum_Glass { background-position: -428px -25px; width: 16px; height: 16px } 
.dxEditors_fcoptypefield_Glass { background-position: -506px -32px; width: 13px; height: 13px } 
.dxEditors_fcoptypefieldhot_Glass { background-position: -491px -22px; width: 13px; height: 13px } 
.dxEditors_fcoptypevalue_Glass { background-position: -315px -125px; width: 13px; height: 13px } 
.dxEditors_fcoptypevaluehot_Glass { background-position: -120px -125px; width: 13px; height: 13px } 
.dxEditors_fcremove_Glass { background-position: -330px -125px; width: 13px; height: 13px } 
.dxEditors_fcremovehot_Glass { background-position: -15px -140px; width: 13px; height: 13px } 
.dxeFocused_Glass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Glass { background-position: -293px 0px; width: 13px; height: 26px } 
.dxeFocused_Glass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Glass { background-position: -323px 0px; width: 13px; height: 26px } 
.dxeFocused_Glass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Glass { background-position: -308px 0px; width: 13px; height: 26px } 
.dxeFocused_Glass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Glass { background-position: -248px 0px; width: 13px; height: 26px } 
.dxeFocused_Glass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Glass { background-position: -278px 0px; width: 13px; height: 26px } 
.dxeFocused_Glass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Glass { background-position: -263px 0px; width: 13px; height: 26px } 
.dxeFocused_Glass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Glass { background-position: -218px -68px; width: 26px; height: 13px } 
.dxeFocused_Glass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Glass { background-position: -428px -73px; width: 26px; height: 13px } 
.dxeFocused_Glass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Glass { background-position: -428px -88px; width: 26px; height: 13px } 
.dxeFocused_Glass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Glass { background-position: -218px -38px; width: 26px; height: 13px } 
.dxeFocused_Glass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Glass { background-position: -428px -43px; width: 26px; height: 13px } 
.dxeFocused_Glass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Glass { background-position: -178px -47px; width: 26px; height: 13px } 
.dxeTBHSys .dxEditors_edtTBMainDH_Glass { background-position: -398px 0px; width: 13px; height: 26px } 
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_Glass { background-position: -233px 0px; width: 13px; height: 26px } 
.dxeTBHSys .dxEditors_edtTBMainDHHover_Glass { background-position: -413px 0px; width: 13px; height: 26px } 
.dxeTBHSys .dxEditors_edtTBMainDHPressed_Glass { background-position: -218px 0px; width: 13px; height: 26px } 
.dxeTBHSys .dxEditors_edtTBSecondaryDH_Glass { background-position: -383px 0px; width: 13px; height: 26px } 
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_Glass { background-position: -338px 0px; width: 13px; height: 26px } 
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_Glass { background-position: -353px 0px; width: 13px; height: 26px } 
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Glass { background-position: -368px 0px; width: 13px; height: 26px } 
.dxeTBVSys .dxEditors_edtTBMainDH_Glass { background-position: -476px -73px; width: 26px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_Glass { background-position: -150px -68px; width: 26px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBMainDHHover_Glass { background-position: -218px -53px; width: 26px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBMainDHPressed_Glass { background-position: -150px -38px; width: 26px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBSecondaryDH_Glass { background-position: -428px -58px; width: 26px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_Glass { background-position: -150px -53px; width: 26px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_Glass { background-position: -178px -65px; width: 26px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Glass { background-position: -476px -88px; width: 26px; height: 13px } 
.dxeTBHSys .dxEditors_edtTBMainDHPressed_Glass,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Glass
{
	z-index: 7;
}
.dxeTBVSys .dxEditors_edtTBMainDHPressed_Glass,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Glass
{
	z-index: 7;
}
.dxEditors_edtError_Glass,
.dxEditors_edtCalendarPrevYear_Glass,
.dxEditors_edtCalendarPrevYearDisabled_Glass,
.dxEditors_edtCalendarPrevMonth_Glass,
.dxEditors_edtCalendarPrevMonthDisabled_Glass,
.dxEditors_edtCalendarNextMonth_Glass,
.dxEditors_edtCalendarNextMonthDisabled_Glass,
.dxEditors_edtCalendarNextYear_Glass,
.dxEditors_edtCalendarNextYearDisabled_Glass,
.dxEditors_edtCalendarFNPrevYear_Glass,
.dxEditors_edtCalendarFNNextYear_Glass,
.dxEditors_edtCalendarFNPrevPeriod_Glass,
.dxEditors_edtCalendarFNNextPeriod_Glass,
.dxEditors_edtEllipsis_Glass,
.dxEditors_edtEllipsisDisabled_Glass,
.dxEditors_edtDropDown_Glass,
.dxEditors_edtDropDownDisabled_Glass,
.dxEditors_edtSpinEditIncrementImage_Glass,
.dxEditors_edtSpinEditIncrementImageDisabled_Glass,
.dxEditors_edtSpinEditDecrementImage_Glass,
.dxEditors_edtSpinEditDecrementImageDisabled_Glass,
.dxEditors_edtSpinEditLargeIncImage_Glass,
.dxEditors_edtSpinEditLargeIncImageDisabled_Glass,
.dxEditors_edtSpinEditLargeDecImage_Glass,
.dxEditors_edtSpinEditLargeDecImageDisabled_Glass
{
	display:block;
	margin:auto;
}
.dxEditors_edtCalendarFNPrevYear_Glass
{
    margin-right: 8px;
}
.dxEditors_edtCalendarFNNextYear_Glass
{
    margin-left: 8px;
}
.dxEditors_edtCalendarFastNavBackToPrevMode_Glass,
.dxEditors_edtCalendarFastNavBackToPrevModeRtl_Glass {
    margin-top: 1px;
    margin-bottom: -1px;
}



