.dx-acc-r .dxdd-root.dxmodalSys .dxeButtonEditButtonHover_Glass .dxEditors_edtClear_Glass:before { left: -384px; top: -103px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarFNNextPeriod_Glass:before { left: -520px; top: -18px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarFNPrevPeriod_Glass:before { left: -506px; top: -47px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarNextMonth_Glass:before { left: -506px; top: -61px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarNextYear_Glass:before { left: -506px; top: -75px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevMonth_Glass:before { left: -506px; top: -89px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevYear_Glass:before { left: -60px; top: -140px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtClear_Glass:before { left: -362px; top: -103px; }
.dx-acc-r .dxeButtonEditButtonHover_Glass .dxEditors_edtClear_Glass:before { left: -480px; top: -125px; }
.dx-acc-r .dxEditors_caRefresh_Glass:before { left: -465px; top: -125px; }
.dx-acc-r .dxEditors_ddapply_Glass:before { left: -452px; top: 0px; }
.dx-acc-r .dxEditors_ddclose_Glass:before { left: -428px; top: 0px; }
.dx-acc-r .dxEditors_edtBinaryImageDelete_Glass:before { left: -150px; top: 0px; }
.dx-acc-r .dxEditors_edtBinaryImageOpenDialog_Glass:before { left: -184px; top: 0px; }
.dx-acc-r .dxEditors_edtCalendarFastNavBackToPrevMode_Glass:before { left: -375px; top: -125px; }
.dx-acc-r .dxEditors_edtCalendarFastNavBackToPrevModeRtl_Glass:before { left: -450px; top: -125px; }
.dx-acc-r .dxEditors_edtCalendarFNNextPeriod_Glass:before { left: -150px; top: -83px; }
.dx-acc-r .dxEditors_edtCalendarFNNextYear_Glass:before { left: -134px; top: -105px; }
.dx-acc-r .dxEditors_edtCalendarFNPrevPeriod_Glass:before { left: -156px; top: -105px; }
.dx-acc-r .dxEditors_edtCalendarFNPrevYear_Glass:before { left: -218px; top: -83px; }
.dx-acc-r .dxEditors_edtCalendarNextMonth_Glass:before { left: -200px; top: -105px; }
.dx-acc-r .dxEditors_edtCalendarNextMonthDisabled_Glass:before { left: -222px; top: -105px; }
.dx-acc-r .dxEditors_edtCalendarNextYear_Glass:before { left: -314px; top: -105px; }
.dx-acc-r .dxEditors_edtCalendarNextYearDisabled_Glass:before { left: -266px; top: -105px; }
.dx-acc-r .dxEditors_edtCalendarPrevMonth_Glass:before { left: -244px; top: -105px; }
.dx-acc-r .dxEditors_edtCalendarPrevMonthDisabled_Glass:before { left: -178px; top: -105px; }
.dx-acc-r .dxEditors_edtCalendarPrevYear_Glass:before { left: -290px; top: -105px; }
.dx-acc-r .dxEditors_edtCalendarPrevYearDisabled_Glass:before { left: -338px; top: -105px; }
.dx-acc-r .dxEditors_edtClear_Glass:before { left: -435px; top: -125px; }
.dx-acc-r .dxEditors_edtDETSClockFace_Glass:before { left: 0px; top: 0px; }
.dx-acc-r .dxEditors_edtDETSHourHand_Glass:before { left: -132px; top: 0px; }
.dx-acc-r .dxEditors_edtDETSMinuteHand_Glass:before { left: -141px; top: 0px; }
.dx-acc-r .dxEditors_edtDETSSecondHand_Glass:before { left: -125px; top: 0px; }
.dx-acc-r .dxEditors_edtDropDown_Glass:before { left: -231px; top: -28px; }
.dx-acc-r .dxEditors_edtDropDownDisabled_Glass:before { left: -218px; top: -32px; }
.dx-acc-r .dxEditors_edtEllipsis_Glass:before { left: -192px; top: -39px; }
.dx-acc-r .dxEditors_edtEllipsisDisabled_Glass:before { left: -178px; top: -39px; }
.dx-acc-r .dxEditors_edtError_Glass:before { left: -520px; top: -70px; }
.dx-acc-r .dxEditors_edtListBoxFilterBtn_Glass:before { left: -405px; top: -125px; }
.dx-acc-r .dxEditors_edtListBoxFilterBtnDisabled_Glass:before { left: -420px; top: -125px; }
.dx-acc-r .dxEditors_edtListBoxHideFilterBtn_Glass:before { left: -495px; top: -125px; }
.dx-acc-r .dxEditors_edtListBoxHideFilterBtnDisabled_Glass:before { left: -390px; top: -125px; }
.dx-acc-r .dxEditors_edtListBoxHideFilterBtnRtl_Glass:before { left: -510px; top: -125px; }
.dx-acc-r .dxEditors_edtListBoxHideFilterBtnRtlDisabled_Glass:before { left: 0px; top: -140px; }
.dx-acc-r .dxEditors_edtRadioButtonChecked_Glass:before { left: -262px; top: -35px; }
.dx-acc-r .dxEditors_edtRadioButtonCheckedDisabled_Glass:before { left: -520px; top: -86px; }
.dx-acc-r .dxEditors_edtRadioButtonUnchecked_Glass:before { left: -244px; top: -86px; }
.dx-acc-r .dxEditors_edtRadioButtonUncheckedDisabled_Glass:before { left: -262px; top: -69px; }
.dx-acc-r .dxEditors_edtSpinEditDecrementImage_Glass:before { left: -206px; top: -41px; }
.dx-acc-r .dxEditors_edtSpinEditDecrementImageDisabled_Glass:before { left: -244px; top: -32px; }
.dx-acc-r .dxEditors_edtSpinEditIncrementImage_Glass:before { left: -206px; top: -35px; }
.dx-acc-r .dxEditors_edtSpinEditIncrementImageDisabled_Glass:before { left: -253px; top: -28px; }
.dx-acc-r .dxEditors_edtSpinEditLargeDecImage_Glass:before { left: -206px; top: -69px; }
.dx-acc-r .dxEditors_edtSpinEditLargeDecImageDisabled_Glass:before { left: -126px; top: -114px; }
.dx-acc-r .dxEditors_edtSpinEditLargeIncImage_Glass:before { left: -206px; top: -58px; }
.dx-acc-r .dxEditors_edtSpinEditLargeIncImageDisabled_Glass:before { left: -206px; top: -47px; }
.dx-acc-r .dxEditors_edtTBDecBtn_Glass:before { left: -494px; top: -103px; }
.dx-acc-r .dxEditors_edtTBDecBtnDisabled_Glass:before { left: -476px; top: 0px; }
.dx-acc-r .dxEditors_edtTBDecBtnHover_Glass:before { left: -498px; top: 0px; }
.dx-acc-r .dxEditors_edtTBDecBtnPressed_Glass:before { left: -516px; top: -103px; }
.dx-acc-r .dxEditors_edtTBIncBtn_Glass:before { left: -406px; top: -103px; }
.dx-acc-r .dxEditors_edtTBIncBtnDisabled_Glass:before { left: -472px; top: -103px; }
.dx-acc-r .dxEditors_edtTBIncBtnHover_Glass:before { left: -450px; top: -103px; }
.dx-acc-r .dxEditors_edtTBIncBtnPressed_Glass:before { left: -428px; top: -103px; }
.dx-acc-r .dxEditors_edtTokenBoxTokenRemoveButton_Glass:before { left: -262px; top: -86px; }
.dx-acc-r .dxEditors_edtTokenBoxTokenRemoveButtonDisabled_Glass:before { left: -262px; top: -52px; }
.dx-acc-r .dxEditors_fcadd_Glass:before { left: -300px; top: -125px; }
.dx-acc-r .dxEditors_fcaddhot_Glass:before { left: -45px; top: -140px; }
.dx-acc-r .dxEditors_fcgroupaddcondition_Glass:before { left: -45px; top: -125px; }
.dx-acc-r .dxEditors_fcgroupaddgroup_Glass:before { left: 0px; top: -125px; }
.dx-acc-r .dxEditors_fcgroupand_Glass:before { left: -521px; top: -40px; }
.dx-acc-r .dxEditors_fcgroupnotand_Glass:before { left: -285px; top: -125px; }
.dx-acc-r .dxEditors_fcgroupnotor_Glass:before { left: -270px; top: -125px; }
.dx-acc-r .dxEditors_fcgroupor_Glass:before { left: -135px; top: -125px; }
.dx-acc-r .dxEditors_fcgroupremove_Glass:before { left: -15px; top: -125px; }
.dx-acc-r .dxEditors_fcopany_Glass:before { left: -30px; top: -125px; }
.dx-acc-r .dxEditors_fcopavg_Glass:before { left: -132px; top: -67px; }
.dx-acc-r .dxEditors_fcopbegin_Glass:before { left: -60px; top: -125px; }
.dx-acc-r .dxEditors_fcopbetween_Glass:before { left: -255px; top: -125px; }
.dx-acc-r .dxEditors_fcopblank_Glass:before { left: -90px; top: -125px; }
.dx-acc-r .dxEditors_fcopcontain_Glass:before { left: -105px; top: -125px; }
.dx-acc-r .dxEditors_fcopcount_Glass:before { left: -476px; top: -55px; }
.dx-acc-r .dxEditors_fcopend_Glass:before { left: -180px; top: -125px; }
.dx-acc-r .dxEditors_fcopequal_Glass:before { left: -195px; top: -125px; }
.dx-acc-r .dxEditors_fcopexists_Glass:before { left: -476px; top: -37px; }
.dx-acc-r .dxEditors_fcopgreater_Glass:before { left: -210px; top: -125px; }
.dx-acc-r .dxEditors_fcopgreaterorequal_Glass:before { left: -30px; top: -140px; }
.dx-acc-r .dxEditors_fcopless_Glass:before { left: -165px; top: -125px; }
.dx-acc-r .dxEditors_fcoplessorequal_Glass:before { left: -225px; top: -125px; }
.dx-acc-r .dxEditors_fcoplike_Glass:before { left: -150px; top: -125px; }
.dx-acc-r .dxEditors_fcopmax_Glass:before { left: -520px; top: 0px; }
.dx-acc-r .dxEditors_fcopmin_Glass:before { left: -132px; top: -85px; }
.dx-acc-r .dxEditors_fcopnotany_Glass:before { left: -240px; top: -125px; }
.dx-acc-r .dxEditors_fcopnotbetween_Glass:before { left: -75px; top: -125px; }
.dx-acc-r .dxEditors_fcopnotblank_Glass:before { left: -520px; top: -55px; }
.dx-acc-r .dxEditors_fcopnotcontain_Glass:before { left: -345px; top: -125px; }
.dx-acc-r .dxEditors_fcopnotequal_Glass:before { left: -360px; top: -125px; }
.dx-acc-r .dxEditors_fcopnotlike_Glass:before { left: -476px; top: -22px; }
.dx-acc-r .dxEditors_fcopsum_Glass:before { left: -428px; top: -25px; }
.dx-acc-r .dxEditors_fcoptypefield_Glass:before { left: -506px; top: -32px; }
.dx-acc-r .dxEditors_fcoptypefieldhot_Glass:before { left: -491px; top: -22px; }
.dx-acc-r .dxEditors_fcoptypevalue_Glass:before { left: -315px; top: -125px; }
.dx-acc-r .dxEditors_fcoptypevaluehot_Glass:before { left: -120px; top: -125px; }
.dx-acc-r .dxEditors_fcremove_Glass:before { left: -330px; top: -125px; }
.dx-acc-r .dxEditors_fcremovehot_Glass:before { left: -15px; top: -140px; }
.dx-acc-r .dxeFocused_Glass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Glass:before { left: -293px; top: 0px; }
.dx-acc-r .dxeFocused_Glass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Glass:before { left: -323px; top: 0px; }
.dx-acc-r .dxeFocused_Glass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Glass:before { left: -308px; top: 0px; }
.dx-acc-r .dxeFocused_Glass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Glass:before { left: -248px; top: 0px; }
.dx-acc-r .dxeFocused_Glass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Glass:before { left: -278px; top: 0px; }
.dx-acc-r .dxeFocused_Glass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Glass:before { left: -263px; top: 0px; }
.dx-acc-r .dxeFocused_Glass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Glass:before { left: -218px; top: -68px; }
.dx-acc-r .dxeFocused_Glass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Glass:before { left: -428px; top: -73px; }
.dx-acc-r .dxeFocused_Glass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Glass:before { left: -428px; top: -88px; }
.dx-acc-r .dxeFocused_Glass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Glass:before { left: -218px; top: -38px; }
.dx-acc-r .dxeFocused_Glass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Glass:before { left: -428px; top: -43px; }
.dx-acc-r .dxeFocused_Glass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Glass:before { left: -178px; top: -47px; }
.dx-acc-r .dxeTBHSys .dxEditors_edtTBMainDH_Glass:before { left: -398px; top: 0px; }
.dx-acc-r .dxeTBHSys .dxEditors_edtTBMainDHDisabled_Glass:before { left: -233px; top: 0px; }
.dx-acc-r .dxeTBHSys .dxEditors_edtTBMainDHHover_Glass:before { left: -413px; top: 0px; }
.dx-acc-r .dxeTBHSys .dxEditors_edtTBMainDHPressed_Glass:before { left: -218px; top: 0px; }
.dx-acc-r .dxeTBHSys .dxEditors_edtTBSecondaryDH_Glass:before { left: -383px; top: 0px; }
.dx-acc-r .dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_Glass:before { left: -338px; top: 0px; }
.dx-acc-r .dxeTBHSys .dxEditors_edtTBSecondaryDHHover_Glass:before { left: -353px; top: 0px; }
.dx-acc-r .dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Glass:before { left: -368px; top: 0px; }
.dx-acc-r .dxeTBVSys .dxEditors_edtTBMainDH_Glass:before { left: -476px; top: -73px; }
.dx-acc-r .dxeTBVSys .dxEditors_edtTBMainDHDisabled_Glass:before { left: -150px; top: -68px; }
.dx-acc-r .dxeTBVSys .dxEditors_edtTBMainDHHover_Glass:before { left: -218px; top: -53px; }
.dx-acc-r .dxeTBVSys .dxEditors_edtTBMainDHPressed_Glass:before { left: -150px; top: -38px; }
.dx-acc-r .dxeTBVSys .dxEditors_edtTBSecondaryDH_Glass:before { left: -428px; top: -58px; }
.dx-acc-r .dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_Glass:before { left: -150px; top: -53px; }
.dx-acc-r .dxeTBVSys .dxEditors_edtTBSecondaryDHHover_Glass:before { left: -178px; top: -65px; }
.dx-acc-r .dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Glass:before { left: -476px; top: -88px; }

