
dxSpriteWidth { width : 538 }

.dxdd-root.dxmodalSys .dxeButtonEditButtonHover_Glass .dxEditors_edtClear_Glass, .dxdd-root.dxmodalSys .dxEditors_edtCalendarFNNextPeriod_Glass, .dxdd-root.dxmodalSys .dxEditors_edtCalendarFNPrevPeriod_Glass, .dxdd-root.dxmodalSys .dxEditors_edtCalendarNextMonth_Glass, .dxdd-root.dxmodalSys .dxEditors_edtCalendarNextYear_Glass, .dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevMonth_Glass, .dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevYear_Glass, .dxdd-root.dxmodalSys .dxEditors_edtClear_Glass, .dxEditors_ddapply_Glass, .dxEditors_ddclose_Glass { background-image: url('sprite.svg'); background-repeat: no-repeat; background-color: transparent } 
.dxIE .dx-acc-r .dxdd-root.dxmodalSys .dxeButtonEditButtonHover_Glass .dxEditors_edtClear_Glass::before, .dxIE .dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarFNNextPeriod_Glass::before, .dxIE .dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarFNPrevPeriod_Glass::before, .dxIE .dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarNextMonth_Glass::before, .dxIE .dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarNextYear_Glass::before, .dxIE .dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevMonth_Glass::before, .dxIE .dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevYear_Glass::before, .dxIE .dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtClear_Glass::before, .dxIE .dx-acc-r .dxEditors_ddapply_Glass::before, .dxIE .dx-acc-r .dxEditors_ddclose_Glass::before { width: 538px } 
.dxdd-root.dxmodalSys .dxeButtonEditButtonHover_Glass .dxEditors_edtClear_Glass { background-position: -48px 0px; background-size: 538px auto; width: 20px; height: 20px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarFNNextPeriod_Glass { background-position: -92px 0px; background-size: 538px auto; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarFNPrevPeriod_Glass { background-position: -106px 0px; background-size: 538px auto; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarNextMonth_Glass { background-position: -120px 0px; background-size: 538px auto; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarNextYear_Glass { background-position: -134px 0px; background-size: 538px auto; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevMonth_Glass { background-position: -148px 0px; background-size: 538px auto; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevYear_Glass { background-position: -162px 0px; background-size: 538px auto; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtClear_Glass { background-position: -70px 0px; background-size: 538px auto; width: 20px; height: 20px } 
.dxEditors_ddapply_Glass { background-position: 0px 0px; background-size: 538px auto; width: 22px; height: 22px } 
.dxEditors_ddclose_Glass { background-position: -24px 0px; background-size: 538px auto; width: 22px; height: 22px } 
.dxeTBHSys .dxEditors_edtTBMainDHPressed_Glass,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Glass
{
	z-index: 7;
}
.dxeTBVSys .dxEditors_edtTBMainDHPressed_Glass,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Glass
{
	z-index: 7;
}
.dxEditors_edtError_Glass,
.dxEditors_edtCalendarPrevYear_Glass,
.dxEditors_edtCalendarPrevYearDisabled_Glass,
.dxEditors_edtCalendarPrevMonth_Glass,
.dxEditors_edtCalendarPrevMonthDisabled_Glass,
.dxEditors_edtCalendarNextMonth_Glass,
.dxEditors_edtCalendarNextMonthDisabled_Glass,
.dxEditors_edtCalendarNextYear_Glass,
.dxEditors_edtCalendarNextYearDisabled_Glass,
.dxEditors_edtCalendarFNPrevYear_Glass,
.dxEditors_edtCalendarFNNextYear_Glass,
.dxEditors_edtCalendarFNPrevPeriod_Glass,
.dxEditors_edtCalendarFNNextPeriod_Glass,
.dxEditors_edtEllipsis_Glass,
.dxEditors_edtEllipsisDisabled_Glass,
.dxEditors_edtDropDown_Glass,
.dxEditors_edtDropDownDisabled_Glass,
.dxEditors_edtSpinEditIncrementImage_Glass,
.dxEditors_edtSpinEditIncrementImageDisabled_Glass,
.dxEditors_edtSpinEditDecrementImage_Glass,
.dxEditors_edtSpinEditDecrementImageDisabled_Glass,
.dxEditors_edtSpinEditLargeIncImage_Glass,
.dxEditors_edtSpinEditLargeIncImageDisabled_Glass,
.dxEditors_edtSpinEditLargeDecImage_Glass,
.dxEditors_edtSpinEditLargeDecImageDisabled_Glass
{
	display:block;
	margin:auto;
}
.dxEditors_edtCalendarFNPrevYear_Glass
{
    margin-right: 8px;
}
.dxEditors_edtCalendarFNNextYear_Glass
{
    margin-left: 8px;
}
.dxEditors_edtCalendarFastNavBackToPrevMode_Glass,
.dxEditors_edtCalendarFastNavBackToPrevModeRtl_Glass {
    margin-top: 1px;
    margin-bottom: -1px;
}



.dxeButtonEditButtonHover_Glass .dxEditors_edtClear_Glass, .dxEditors_caRefresh_Glass, .dxEditors_edtBinaryImageDelete_Glass, .dxEditors_edtBinaryImageOpenDialog_Glass, .dxEditors_edtCalendarFastNavBackToPrevMode_Glass, .dxEditors_edtCalendarFastNavBackToPrevModeRtl_Glass, .dxEditors_edtCalendarFNNextPeriod_Glass, .dxEditors_edtCalendarFNNextYear_Glass, .dxEditors_edtCalendarFNPrevPeriod_Glass, .dxEditors_edtCalendarFNPrevYear_Glass, .dxEditors_edtCalendarNextMonth_Glass, .dxEditors_edtCalendarNextMonthDisabled_Glass, .dxEditors_edtCalendarNextYear_Glass, .dxEditors_edtCalendarNextYearDisabled_Glass, .dxEditors_edtCalendarPrevMonth_Glass, .dxEditors_edtCalendarPrevMonthDisabled_Glass, .dxEditors_edtCalendarPrevYear_Glass, .dxEditors_edtCalendarPrevYearDisabled_Glass, .dxEditors_edtClear_Glass, .dxEditors_edtDETSClockFace_Glass, .dxEditors_edtDETSHourHand_Glass, .dxEditors_edtDETSMinuteHand_Glass, .dxEditors_edtDETSSecondHand_Glass, .dxEditors_edtDropDown_Glass, .dxEditors_edtDropDownDisabled_Glass, .dxEditors_edtEllipsis_Glass, .dxEditors_edtEllipsisDisabled_Glass, .dxEditors_edtError_Glass, .dxEditors_edtListBoxFilterBtn_Glass, .dxEditors_edtListBoxFilterBtnDisabled_Glass, .dxEditors_edtListBoxHideFilterBtn_Glass, .dxEditors_edtListBoxHideFilterBtnDisabled_Glass, .dxEditors_edtListBoxHideFilterBtnRtl_Glass, .dxEditors_edtListBoxHideFilterBtnRtlDisabled_Glass, .dxEditors_edtRadioButtonChecked_Glass, .dxEditors_edtRadioButtonCheckedDisabled_Glass, .dxEditors_edtRadioButtonUnchecked_Glass, .dxEditors_edtRadioButtonUncheckedDisabled_Glass, .dxEditors_edtSpinEditDecrementImage_Glass, .dxEditors_edtSpinEditDecrementImageDisabled_Glass, .dxEditors_edtSpinEditIncrementImage_Glass, .dxEditors_edtSpinEditIncrementImageDisabled_Glass, .dxEditors_edtSpinEditLargeDecImage_Glass, .dxEditors_edtSpinEditLargeDecImageDisabled_Glass, .dxEditors_edtSpinEditLargeIncImage_Glass, .dxEditors_edtSpinEditLargeIncImageDisabled_Glass, .dxEditors_edtTBDecBtn_Glass, .dxEditors_edtTBDecBtnDisabled_Glass, .dxEditors_edtTBDecBtnHover_Glass, .dxEditors_edtTBDecBtnPressed_Glass, .dxEditors_edtTBIncBtn_Glass, .dxEditors_edtTBIncBtnDisabled_Glass, .dxEditors_edtTBIncBtnHover_Glass, .dxEditors_edtTBIncBtnPressed_Glass, .dxEditors_edtTokenBoxTokenRemoveButton_Glass, .dxEditors_edtTokenBoxTokenRemoveButtonDisabled_Glass, .dxEditors_fcadd_Glass, .dxEditors_fcaddhot_Glass, .dxEditors_fcgroupaddcondition_Glass, .dxEditors_fcgroupaddgroup_Glass, .dxEditors_fcgroupand_Glass, .dxEditors_fcgroupnotand_Glass, .dxEditors_fcgroupnotor_Glass, .dxEditors_fcgroupor_Glass, .dxEditors_fcgroupremove_Glass, .dxEditors_fcopany_Glass, .dxEditors_fcopavg_Glass, .dxEditors_fcopbegin_Glass, .dxEditors_fcopbetween_Glass, .dxEditors_fcopblank_Glass, .dxEditors_fcopcontain_Glass, .dxEditors_fcopcount_Glass, .dxEditors_fcopend_Glass, .dxEditors_fcopequal_Glass, .dxEditors_fcopexists_Glass, .dxEditors_fcopgreater_Glass, .dxEditors_fcopgreaterorequal_Glass, .dxEditors_fcopless_Glass, .dxEditors_fcoplessorequal_Glass, .dxEditors_fcoplike_Glass, .dxEditors_fcopmax_Glass, .dxEditors_fcopmin_Glass, .dxEditors_fcopnotany_Glass, .dxEditors_fcopnotbetween_Glass, .dxEditors_fcopnotblank_Glass, .dxEditors_fcopnotcontain_Glass, .dxEditors_fcopnotequal_Glass, .dxEditors_fcopnotlike_Glass, .dxEditors_fcopsum_Glass, .dxEditors_fcoptypefield_Glass, .dxEditors_fcoptypefieldhot_Glass, .dxEditors_fcoptypevalue_Glass, .dxEditors_fcoptypevaluehot_Glass, .dxEditors_fcremove_Glass, .dxEditors_fcremovehot_Glass, .dxeFocused_Glass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Glass, .dxeFocused_Glass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Glass, .dxeFocused_Glass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Glass, .dxeFocused_Glass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Glass, .dxeFocused_Glass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Glass, .dxeFocused_Glass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Glass, .dxeFocused_Glass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Glass, .dxeFocused_Glass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Glass, .dxeFocused_Glass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Glass, .dxeFocused_Glass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Glass, .dxeFocused_Glass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Glass, .dxeFocused_Glass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Glass, .dxeTBHSys .dxEditors_edtTBMainDH_Glass, .dxeTBHSys .dxEditors_edtTBMainDHDisabled_Glass, .dxeTBHSys .dxEditors_edtTBMainDHHover_Glass, .dxeTBHSys .dxEditors_edtTBMainDHPressed_Glass, .dxeTBHSys .dxEditors_edtTBSecondaryDH_Glass, .dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_Glass, .dxeTBHSys .dxEditors_edtTBSecondaryDHHover_Glass, .dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Glass, .dxeTBVSys .dxEditors_edtTBMainDH_Glass, .dxeTBVSys .dxEditors_edtTBMainDHDisabled_Glass, .dxeTBVSys .dxEditors_edtTBMainDHHover_Glass, .dxeTBVSys .dxEditors_edtTBMainDHPressed_Glass, .dxeTBVSys .dxEditors_edtTBSecondaryDH_Glass, .dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_Glass, .dxeTBVSys .dxEditors_edtTBSecondaryDHHover_Glass, .dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Glass { background-image: url('sprite.png'); background-repeat: no-repeat; background-color: transparent } 
.dxeButtonEditButtonHover_Glass .dxEditors_edtClear_Glass { background-position: -150px -125px; width: 13px; height: 13px } 
.dxEditors_caRefresh_Glass { background-position: -420px -125px; width: 13px; height: 13px } 
.dxEditors_edtBinaryImageDelete_Glass { background-position: -150px 0px; width: 32px; height: 32px } 
.dxEditors_edtBinaryImageOpenDialog_Glass { background-position: -184px 0px; width: 32px; height: 32px } 
.dxEditors_edtCalendarFastNavBackToPrevMode_Glass { background-position: -480px -125px; width: 13px; height: 13px } 
.dxEditors_edtCalendarFastNavBackToPrevModeRtl_Glass { background-position: -465px -125px; width: 13px; height: 13px } 
.dxEditors_edtCalendarFNNextPeriod_Glass { background-position: -244px -105px; width: 20px; height: 18px } 
.dxEditors_edtCalendarFNNextYear_Glass { background-position: -200px -105px; width: 20px; height: 18px } 
.dxEditors_edtCalendarFNPrevPeriod_Glass { background-position: -288px -105px; width: 20px; height: 18px } 
.dxEditors_edtCalendarFNPrevYear_Glass { background-position: -310px -105px; width: 20px; height: 18px } 
.dxEditors_edtCalendarNextMonth_Glass { background-position: -332px -105px; width: 20px; height: 18px } 
.dxEditors_edtCalendarNextMonthDisabled_Glass { background-position: -354px -105px; width: 20px; height: 18px } 
.dxEditors_edtCalendarNextYear_Glass { background-position: -376px -105px; width: 22px; height: 18px } 
.dxEditors_edtCalendarNextYearDisabled_Glass { background-position: -448px -105px; width: 22px; height: 18px } 
.dxEditors_edtCalendarPrevMonth_Glass { background-position: -222px -105px; width: 20px; height: 18px } 
.dxEditors_edtCalendarPrevMonthDisabled_Glass { background-position: -266px -105px; width: 20px; height: 18px } 
.dxEditors_edtCalendarPrevYear_Glass { background-position: -424px -105px; width: 22px; height: 18px } 
.dxEditors_edtCalendarPrevYearDisabled_Glass { background-position: -400px -105px; width: 22px; height: 18px } 
.dxEditors_edtClear_Glass { background-position: -495px -125px; width: 13px; height: 13px } 
.dxEditors_edtDETSClockFace_Glass { background-position: 0px 0px; width: 123px; height: 123px } 
.dxEditors_edtDETSHourHand_Glass { background-position: -141px 0px; width: 7px; height: 60px } 
.dxEditors_edtDETSMinuteHand_Glass { background-position: -132px 0px; width: 7px; height: 60px } 
.dxEditors_edtDETSSecondHand_Glass { background-position: -125px 0px; width: 5px; height: 78px } 
.dxEditors_edtDropDown_Glass { background-position: -150px -37px; width: 11px; height: 4px } 
.dxEditors_edtDropDownDisabled_Glass { background-position: -163px -37px; width: 11px; height: 4px } 
.dxEditors_edtEllipsis_Glass { background-position: -192px -39px; width: 12px; height: 6px } 
.dxEditors_edtEllipsisDisabled_Glass { background-position: -178px -39px; width: 12px; height: 6px } 
.dxEditors_edtError_Glass { background-position: -264px -87px; width: 14px; height: 14px } 
.dxEditors_edtListBoxFilterBtn_Glass { background-position: 0px -140px; width: 13px; height: 13px } 
.dxEditors_edtListBoxFilterBtnDisabled_Glass { background-position: -510px -125px; width: 13px; height: 13px } 
.dxEditors_edtListBoxHideFilterBtn_Glass { background-position: -285px -125px; width: 13px; height: 13px } 
.dxEditors_edtListBoxHideFilterBtnDisabled_Glass { background-position: -30px -140px; width: 13px; height: 13px } 
.dxEditors_edtListBoxHideFilterBtnRtl_Glass { background-position: -60px -125px; width: 13px; height: 13px } 
.dxEditors_edtListBoxHideFilterBtnRtlDisabled_Glass { background-position: -390px -125px; width: 13px; height: 13px } 
.dxEditors_edtRadioButtonChecked_Glass { background-position: -246px -52px; width: 15px; height: 15px } 
.dxEditors_edtRadioButtonCheckedDisabled_Glass { background-position: -246px -69px; width: 15px; height: 15px } 
.dxEditors_edtRadioButtonUnchecked_Glass { background-position: -428px -41px; width: 15px; height: 15px } 
.dxEditors_edtRadioButtonUncheckedDisabled_Glass { background-position: -246px -35px; width: 15px; height: 15px } 
.dxEditors_edtSpinEditDecrementImage_Glass { background-position: -264px -36px; width: 7px; height: 4px } 
.dxEditors_edtSpinEditDecrementImageDisabled_Glass { background-position: -264px -30px; width: 7px; height: 4px } 
.dxEditors_edtSpinEditIncrementImage_Glass { background-position: -255px -28px; width: 7px; height: 4px } 
.dxEditors_edtSpinEditIncrementImageDisabled_Glass { background-position: -246px -29px; width: 7px; height: 4px } 
.dxEditors_edtSpinEditLargeDecImage_Glass { background-position: -206px -47px; width: 6px; height: 9px } 
.dxEditors_edtSpinEditLargeDecImageDisabled_Glass { background-position: -206px -36px; width: 6px; height: 9px } 
.dxEditors_edtSpinEditLargeIncImage_Glass { background-position: -206px -58px; width: 6px; height: 9px } 
.dxEditors_edtSpinEditLargeIncImageDisabled_Glass { background-position: -206px -69px; width: 6px; height: 9px } 
.dxEditors_edtTBDecBtn_Glass { background-position: -494px 0px; width: 20px; height: 20px } 
.dxEditors_edtTBDecBtnDisabled_Glass { background-position: -428px 0px; width: 20px; height: 20px } 
.dxEditors_edtTBDecBtnHover_Glass { background-position: -450px 0px; width: 20px; height: 20px } 
.dxEditors_edtTBDecBtnPressed_Glass { background-position: -472px 0px; width: 20px; height: 20px } 
.dxEditors_edtTBIncBtn_Glass { background-position: -494px -103px; width: 20px; height: 20px } 
.dxEditors_edtTBIncBtnDisabled_Glass { background-position: -516px 0px; width: 20px; height: 20px } 
.dxEditors_edtTBIncBtnHover_Glass { background-position: -516px -103px; width: 20px; height: 20px } 
.dxEditors_edtTBIncBtnPressed_Glass { background-position: -472px -103px; width: 20px; height: 20px } 
.dxEditors_edtTokenBoxTokenRemoveButton_Glass { background-position: -428px -24px; width: 15px; height: 15px } 
.dxEditors_edtTokenBoxTokenRemoveButtonDisabled_Glass { background-position: -246px -86px; width: 15px; height: 15px } 
.dxEditors_fcadd_Glass { background-position: -30px -125px; width: 13px; height: 13px } 
.dxEditors_fcaddhot_Glass { background-position: -15px -125px; width: 13px; height: 13px } 
.dxEditors_fcgroupaddcondition_Glass { background-position: -45px -125px; width: 13px; height: 13px } 
.dxEditors_fcgroupaddgroup_Glass { background-position: -180px -125px; width: 13px; height: 13px } 
.dxEditors_fcgroupand_Glass { background-position: -75px -125px; width: 13px; height: 13px } 
.dxEditors_fcgroupnotand_Glass { background-position: -435px -125px; width: 13px; height: 13px } 
.dxEditors_fcgroupnotor_Glass { background-position: -255px -125px; width: 13px; height: 13px } 
.dxEditors_fcgroupor_Glass { background-position: -240px -125px; width: 13px; height: 13px } 
.dxEditors_fcgroupremove_Glass { background-position: -60px -140px; width: 13px; height: 13px } 
.dxEditors_fcopany_Glass { background-position: -210px -125px; width: 13px; height: 13px } 
.dxEditors_fcopavg_Glass { background-position: -164px -107px; width: 16px; height: 16px } 
.dxEditors_fcopbegin_Glass { background-position: -195px -125px; width: 13px; height: 13px } 
.dxEditors_fcopbetween_Glass { background-position: -225px -125px; width: 13px; height: 13px } 
.dxEditors_fcopblank_Glass { background-position: -75px -140px; width: 13px; height: 13px } 
.dxEditors_fcopcontain_Glass { background-position: -165px -125px; width: 13px; height: 13px } 
.dxEditors_fcopcount_Glass { background-position: -132px -85px; width: 16px; height: 16px } 
.dxEditors_fcopend_Glass { background-position: -300px -125px; width: 13px; height: 13px } 
.dxEditors_fcopequal_Glass { background-position: -135px -125px; width: 13px; height: 13px } 
.dxEditors_fcopexists_Glass { background-position: -132px -67px; width: 16px; height: 16px } 
.dxEditors_fcopgreater_Glass { background-position: -105px -125px; width: 13px; height: 13px } 
.dxEditors_fcopgreaterorequal_Glass { background-position: -120px -125px; width: 13px; height: 13px } 
.dxEditors_fcopless_Glass { background-position: -450px -125px; width: 13px; height: 13px } 
.dxEditors_fcoplessorequal_Glass { background-position: -90px -125px; width: 13px; height: 13px } 
.dxEditors_fcoplike_Glass { background-position: -270px -125px; width: 13px; height: 13px } 
.dxEditors_fcopmax_Glass { background-position: -146px -107px; width: 16px; height: 16px } 
.dxEditors_fcopmin_Glass { background-position: -182px -107px; width: 16px; height: 16px } 
.dxEditors_fcopnotany_Glass { background-position: -375px -125px; width: 13px; height: 13px } 
.dxEditors_fcopnotbetween_Glass { background-position: 0px -125px; width: 13px; height: 13px } 
.dxEditors_fcopnotblank_Glass { background-position: -345px -125px; width: 13px; height: 13px } 
.dxEditors_fcopnotcontain_Glass { background-position: -330px -125px; width: 13px; height: 13px } 
.dxEditors_fcopnotequal_Glass { background-position: -405px -125px; width: 13px; height: 13px } 
.dxEditors_fcopnotlike_Glass { background-position: -264px -42px; width: 13px; height: 13px } 
.dxEditors_fcopsum_Glass { background-position: -128px -107px; width: 16px; height: 16px } 
.dxEditors_fcoptypefield_Glass { background-position: -264px -57px; width: 13px; height: 13px } 
.dxEditors_fcoptypefieldhot_Glass { background-position: -315px -125px; width: 13px; height: 13px } 
.dxEditors_fcoptypevalue_Glass { background-position: -360px -125px; width: 13px; height: 13px } 
.dxEditors_fcoptypevaluehot_Glass { background-position: -264px -72px; width: 13px; height: 13px } 
.dxEditors_fcremove_Glass { background-position: -15px -140px; width: 13px; height: 13px } 
.dxEditors_fcremovehot_Glass { background-position: -45px -140px; width: 13px; height: 13px } 
.dxeFocused_Glass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Glass { background-position: -323px 0px; width: 13px; height: 26px } 
.dxeFocused_Glass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Glass { background-position: -338px 0px; width: 13px; height: 26px } 
.dxeFocused_Glass .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Glass { background-position: -398px 0px; width: 13px; height: 26px } 
.dxeFocused_Glass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Glass { background-position: -368px 0px; width: 13px; height: 26px } 
.dxeFocused_Glass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Glass { background-position: -353px 0px; width: 13px; height: 26px } 
.dxeFocused_Glass .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Glass { background-position: -383px 0px; width: 13px; height: 26px } 
.dxeFocused_Glass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_Glass { background-position: -428px -58px; width: 26px; height: 13px } 
.dxeFocused_Glass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_Glass { background-position: -150px -88px; width: 26px; height: 13px } 
.dxeFocused_Glass .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_Glass { background-position: -218px -73px; width: 26px; height: 13px } 
.dxeFocused_Glass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_Glass { background-position: -428px -88px; width: 26px; height: 13px } 
.dxeFocused_Glass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_Glass { background-position: -150px -43px; width: 26px; height: 13px } 
.dxeFocused_Glass .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_Glass { background-position: -150px -73px; width: 26px; height: 13px } 
.dxeTBHSys .dxEditors_edtTBMainDH_Glass { background-position: -263px 0px; width: 13px; height: 26px } 
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_Glass { background-position: -308px 0px; width: 13px; height: 26px } 
.dxeTBHSys .dxEditors_edtTBMainDHHover_Glass { background-position: -293px 0px; width: 13px; height: 26px } 
.dxeTBHSys .dxEditors_edtTBMainDHPressed_Glass { background-position: -278px 0px; width: 13px; height: 26px } 
.dxeTBHSys .dxEditors_edtTBSecondaryDH_Glass { background-position: -413px 0px; width: 13px; height: 26px } 
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_Glass { background-position: -248px 0px; width: 13px; height: 26px } 
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_Glass { background-position: -233px 0px; width: 13px; height: 26px } 
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Glass { background-position: -218px 0px; width: 13px; height: 26px } 
.dxeTBVSys .dxEditors_edtTBMainDH_Glass { background-position: -218px -58px; width: 26px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_Glass { background-position: -428px -73px; width: 26px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBMainDHHover_Glass { background-position: -218px -43px; width: 26px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBMainDHPressed_Glass { background-position: -178px -65px; width: 26px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBSecondaryDH_Glass { background-position: -218px -28px; width: 26px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_Glass { background-position: -150px -58px; width: 26px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_Glass { background-position: -178px -47px; width: 26px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Glass { background-position: -218px -88px; width: 26px; height: 13px } 
.dxeTBHSys .dxEditors_edtTBMainDHPressed_Glass,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_Glass
{
	z-index: 7;
}
.dxeTBVSys .dxEditors_edtTBMainDHPressed_Glass,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_Glass
{
	z-index: 7;
}
.dxEditors_edtError_Glass,
.dxEditors_edtCalendarPrevYear_Glass,
.dxEditors_edtCalendarPrevYearDisabled_Glass,
.dxEditors_edtCalendarPrevMonth_Glass,
.dxEditors_edtCalendarPrevMonthDisabled_Glass,
.dxEditors_edtCalendarNextMonth_Glass,
.dxEditors_edtCalendarNextMonthDisabled_Glass,
.dxEditors_edtCalendarNextYear_Glass,
.dxEditors_edtCalendarNextYearDisabled_Glass,
.dxEditors_edtCalendarFNPrevYear_Glass,
.dxEditors_edtCalendarFNNextYear_Glass,
.dxEditors_edtCalendarFNPrevPeriod_Glass,
.dxEditors_edtCalendarFNNextPeriod_Glass,
.dxEditors_edtEllipsis_Glass,
.dxEditors_edtEllipsisDisabled_Glass,
.dxEditors_edtDropDown_Glass,
.dxEditors_edtDropDownDisabled_Glass,
.dxEditors_edtSpinEditIncrementImage_Glass,
.dxEditors_edtSpinEditIncrementImageDisabled_Glass,
.dxEditors_edtSpinEditDecrementImage_Glass,
.dxEditors_edtSpinEditDecrementImageDisabled_Glass,
.dxEditors_edtSpinEditLargeIncImage_Glass,
.dxEditors_edtSpinEditLargeIncImageDisabled_Glass,
.dxEditors_edtSpinEditLargeDecImage_Glass,
.dxEditors_edtSpinEditLargeDecImageDisabled_Glass
{
	display:block;
	margin:auto;
}
.dxEditors_edtCalendarFNPrevYear_Glass
{
    margin-right: 8px;
}
.dxEditors_edtCalendarFNNextYear_Glass
{
    margin-left: 8px;
}
.dxEditors_edtCalendarFastNavBackToPrevMode_Glass,
.dxEditors_edtCalendarFastNavBackToPrevModeRtl_Glass {
    margin-top: 1px;
    margin-bottom: -1px;
}



