﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Cms.SubPanels.PageTypeElementsCollectionPanel" Codebehind="PageTypeElementsCollectionPanel.ascx.cs" %>
                        <table class="dataformV2 pageContent">
                            <tr>
                                <td class="label">
								    <D:Label ID="lblCulture" runat="server">Culture</D:Label>
							    </td>
							    <td class="control">
								    <D:TextBoxString ID="tbCulture" runat="server" Enabled="false"></D:TextBoxString>
							    </td>
                                <td class="label">
                                    &nbsp;
                                </td>
                                <td class="control">
                                    &nbsp;
                                </td>
                            </tr>
                            <D:PlaceHolder runat="server" ID="plhEditors"></D:PlaceHolder>       
						    <tr>
							    <td class="label">
								    &nbsp;
							    </td>
							    <td class="control">
								    &nbsp;
							    </td>
                                <td class="label">
                                    &nbsp;
                                </td>
                                <td class="control">
                                    &nbsp;
                                </td>
						    </tr>						                   
					    </table>    
    