﻿ul.list li {
    font-size: 1.3em;
    padding: 5px 5px;
}

ul.list li span {
    display: block;
    margin-bottom: 8px;
    overflow-wrap: break-word;
}

ul.list li input {
    height: 2.5em;
    width: 100%;
    background-color: #6DBF2F;
    color: black;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 0.8em;
}

ul.list li input.hidden {
    color: #FFFFFF;
    background-color: #E52822;
}

.category {
    font-size: 0.6em !important;
    margin-left: 5px;
}

.header-box {
    font-size: 14px;
    padding: 2px;
    border: 1px solid black;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#settings #filter {
    float: none !important;
}

.container {
    display: flex;
    height: 50px;
}

.box-button {
    margin: 5px;
    height: 50px;
    width: 150px;
}

.box-title {
    margin: 5px;
    height: 50px;
    width: 80%;
}

.box-categories {
    flex-basis: 100%;
    width: 0;
}

.title {
    margin-top: 9px;
}

@media screen and (max-width: 500px) {
    .input {
        width: 80%;
    }
}

@media screen and (min-width: 500px) {
    .input {
        width: 400px;
    }

.no-search-results-found-text {
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}
