﻿

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	padding: 0;
	border: none;
	outline: none;
	margin: 0;
}
img {
	vertical-align: bottom;
}
html {
	overflow-y: auto;
}
body {
	line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	padding: 0;
	margin: 0;
	color:#000;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	height: 0;
	padding: 0;
	margin: 1em 0;
	border: none;
	border-top: 1px solid #ccc;
}
input, select {
	vertical-align: middle;
}
body
{
	position: relative;
	font: 12px/20px 'kievitotregular', Arial, Helvetica, sans-serif;
/*	background: #fff;*/
	min-width: 1280px;	
	background-repeat:repeat-x;	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #bbbab9),
		color-stop(0.05, #ffffff)
	);
	background-image: -o-linear-gradient(bottom, #bbbab9 0%, #ffffff .5%);
	background-image: -moz-linear-gradient(bottom, #bbbab9 0%, #ffffff .5%);
	background-image: -webkit-linear-gradient(bottom, #bbbab9 0%, #ffffff .5%);
	background-image: -ms-linear-gradient(bottom, #bbbab9 0%, #ffffff .5%);
	background-image: linear-gradient(to bottom, #bbbab9 0%, #ffffff .5%);	
}
a {
	text-decoration: underline;
}
p {
    margin-bottom:12px;
}
div.filler
{
	width:100%;
	display:inline-block;
	height:0px;
}	
div.main
{
	margin:0 auto;
	width:1280px;
}
div.menu
{
	text-align:justify;
	height:55px;
	padding:0px 50px 3px 50px;
/*	background:url(../images/emenu/menu-bg.png);*/
	color: #4c4c4c;
}
	div.menu div
	{
		font-family:'kievitotmedium';
		font-size:19px;
		padding:0px 10px 13px 10px;		
		display:inline-block;
		/*border-right:1px solid #bebebe;*/
	}

        div.menu div.spacer {
            position:relative;
            text-align:center;   
            font-family:'kievitotextrabold';    
            color:rgba(0,0,0,0);
        }
        	
		    div.menu div.spacer a
		    {      
                padding-top:14px;  
                padding-bottom:20px;                
                font-family:'kievitotmedium';    
                position:relative;                
                left:0%;
			    text-decoration:none;                
		        color: #4c4c4c;
                width:100%;
                top:14px;
		    }              			
	
	        div.menu div.active div.spacer a
	        {
		        font-family:'kievitotextrabold';
        /*		background-color:#3095b4;	
		        border:1px solid #8dc5d6;
		        border-radius:5px;		*/
	        }	

    div.menu div.divider
	{
		position:relative;
		top:5px;
		padding:0;
        margin-top:14px;
        margin-bottom:-14px;
		width:1px;
		height:20px;		
		font-size:0px;		
		background-color:rgba(0,0,0,0.25);
	}
	
		
div.content
{
	position:relative;
	width:1280px;
	height:620px;
	overflow:hidden;
}

	div.content div.submenu
	{
		position:absolute;		
		top:27px;
		right:27px;
		background-color:rgba(244,244,244,0.9);
		padding:0 10px;
		/*border:1px solid rgba(190,190,190,0.9) - doens't work, if empty you still see the border*/
		border-radius:5px;
/*		font-family:'kievitotmedium';		*/
		font-size:19px;
        z-index:100000;
	}
	
		div.content div.submenu a
		{
			border-bottom:1px solid rgba(190,190,190,0.9);			
		}
		
			div.content div.submenu .active
		    {
				font-family:'kievitotbold';	
		    }		
		
			div.content div.submenu a,
            div.content div.submenu a.boldspacer
			{
				display:block;
				padding:20px 15px;
				color:rgba(50,50,50,0.9);			
				text-decoration:none;							
			}

			div.content div.submenu div.boldspacer
			{
				display:block;
				padding:20px 15px;
				color:rgba(50,50,50,0);		
                background:none;	
				text-decoration:none;			
                margin-bottom:-60px;	
                font-family:'kievitotbold';	
			}

                div.content div.submenu a.subitem {
                    padding-left:20px;
                }
			
			div.content div.submenu div a:hover
			{
				/*text-decoration:underline;*/
			}			
		
		div.content div.submenu a:last-child
		{
			border-bottom:none;
		}		

    div.content div.submenu div.paging {
        overflow:hidden;
        border-bottom:1px solid #b3b3b3;
        position:relative;
        width:100%;
    }

    div.content div.submenu div.paging a {
        font-family: 'kievitotregular';		
        font-size:32px;
        border-radius:0;        
        padding:15px 0px;
        float:left;
        border:0;        
        text-align:center;
        float:left;
        width:50%;
    }

        div.content div.submenu div.divider {
            position:absolute;
            left:50%;
            top:0px;
            height:51px;
            font-size:0px;
            width:1px;
            background-color:#b3b3b3;
        }

        div.content div.submenu div.paging a.next {
            /*border-left:1px solid #b3b3b3;*/
            float:right;
        }
		
	div.content div.text
	{
		position:absolute;
		top:0;
		left:0;
		width:350px;
		padding:0 20px;
		height:100%;
		font-size:18px;		
		background-color:rgba(244,244,244,1);		
		color:#4C4C4C;
		line-height:1.43em;
	}
	
		div.content div.text h1
		{
			font-weight:normal;
			font-family:'kievitotbold';	
			font-size:22px;
			margin:20px 0 10px 0;
		}

		div.content div.image
		{
			width:1280px;
			height:620px;
			overflow:hidden;
		}
		
			div.content div.image img
			{
				float:right;
			}				

/* Aligned right */		
div.content.right
{
	
}

	div.content.right div.submenu
	{
		left:27px;
		right:auto;
	}
	
	div.content.right div.text
	{
		left:auto;
		right:0px;
	}	

	div.content.right div.image img
	{
		float:left;
	}
    
/* Maps - Get Submenu at right bottom */   
	div.content.maps div.submenu
	{
		top:auto;
		bottom:41px;
	} 		
	
/* Transparent */
	div.content.transparent div.text,
	div.content.transparent.right div.text
	{
		background-color:rgba(244,244,244,0.9);		
	}	
	
/* 280 30 */	
	div.content.tripleimages div.text
	{
		background-color:transparent;
	}
	
	div.content.tripleimages div.images
	{
		position:absolute;
		bottom:0px;
		width:924px;
		padding:18px;
		text-align:justify;
	}	
	
	div.content.tripleimages div.images img
	{
		display:inline-block;
        width:280px;
        height:280px;
        overflow:hidden;
	}		

    div.content div.footer {
    display:none;
    visibility:collapse;
}

div.content.footer div.footer
{
	position:absolute;
	font-size:14px;		
	display:block;
    visibility:visible;
	bottom:0px;
	left:0px;
	width:1265px;
    height:40px;
	z-index:10000;
	background-color:#e1e1e1;
    /*
	border-bottom-left-radius:5px;					
	border-bottom-right-radius:5px;								*/
	padding:5px 5px 5px 10px;
    overflow:hidden;
}	

	div.content div.footer div.openinghours
	{
        position:absolute;
        left:10px;
        top:5px;
		float:left;		
		color:#9a9a9a;
		line-height:23px;
        background-color:#e1e1e1;
        padding-bottom:5px;
        padding-right:5px;
	}
	
	div.content div.footer div.openinghours img
	{
		position:relative;
		top:5px;
		width:31px;
		height:31px;
		margin-right:7px;		
	}

    div.content div.footer div.features {
        background-color:red;        
        height:100px;
    }

	div.content div.footer div.features,
	div.content div.footer a
	{
		float:right;
        text-decoration:none;
	}
	
	div.content div.footer span
	{
        float:right;
		background-color:#9a9a9a;	
		color:#fff;
		display:inline-block;
		border-bottom-left-radius:15px;					
		border-bottom-right-radius:15px;				
		border-top-left-radius:15px;					
		border-top-right-radius:15px;	
		padding:4px 10px 5px 10px;	
		margin-top:6px;
		margin-right:7px;	
        margin-bottom:20px;
	}
	
	div.content div.footer a
	{
		font-family:'kievitotmedium';
		background-color:#7cc843;	
		font-size:18px;	
		color:#fff;
		display:block;
		border-bottom-left-radius:10px;					
		border-bottom-right-radius:10px;				
		border-top-left-radius:10px;					
		border-top-right-radius:10px;		
		padding:10px 20px;
		margin-left:14px;
	}