﻿html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, vertical-menu, nav, section, summary, time, mark, audio, video {
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	padding: 0;
	border: none;
	outline: none;
	margin: 0;
}
img {
	vertical-align: bottom;
}
html {
	overflow-y: auto;
}
body {
	line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, vertical-menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	padding: 0;
	margin: 0;
	color:#000;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	height: 0;
	padding: 0;
	margin: 1em 0;
	border: none;
	border-top: 1px solid #ccc;
}
input, select {
	vertical-align: middle;
}
body
{
	position: relative;
	font: 12px/20px 'kievitotregular', Arial, Helvetica, sans-serif;
	background-color:#fff; /*#e6e6e6;*/
	min-width: 960px;
    /*
	background-repeat:repeat-x;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #bbbab9),
		color-stop(0.05, #ffffff)
	);
	background-image: -o-linear-gradient(bottom, #bbbab9 0%, #ffffff .5%);
	background-image: -moz-linear-gradient(bottom, #bbbab9 0%, #ffffff .5%);
	background-image: -webkit-linear-gradient(bottom, #bbbab9 0%, #ffffff .5%);
	background-image: -ms-linear-gradient(bottom, #bbbab9 0%, #ffffff .5%);
	background-image: linear-gradient(to bottom, #bbbab9 0%, #ffffff .5%);	*/	
}
a {
	text-decoration: none;
}
div.filler
{
	width:100%;
	display:inline-block;
	height:0px;
}	
div.main
{
	margin:0 auto;
	width:1266px;
	height:616px;
	padding:0px 7px 7px 7px;
}

div.main > div
{
	float:left;
}

div.menu
{
	width:1166px;
	text-align:justify;
	height:48px;
	padding:7px 50px 3px 50px;
/*	background:url(../images/emenu/menu-bg.png);*/
	color: #4c4c4c;
    width:1166px;    
}
	div.menu div
	{
		font-family:'kievitotmedium';
		font-size:19px;
		padding:0px 10px 13px 10px;		
		display:inline-block;
		/*border-right:1px solid #bebebe;*/
	}

        div.menu div.spacer {
            position:relative;
            text-align:center;   
            font-family:'kievitotextrabold';    
            color:rgba(0,0,0,0);
        }
        	
		    div.menu div.spacer a
		    {      
                padding-top:14px;  
                padding-bottom:20px;                
                font-family:'kievitotmedium';    
                position:relative;
                margin-top:14px;
                left:0%;
			    text-decoration:none;                
		        color: #4c4c4c;
                width:100%;
                top:14px;
		    }              			
	
	        div.menu div.active div.spacer a
	        {
		        font-family:'kievitotextrabold';
        /*		background-color:#3095b4;	
		        border:1px solid #8dc5d6;
		        border-radius:5px;		*/
	        }	

    div.menu div.divider
	{
		position:relative;
		top:5px;
		padding:0;
        margin-top:14px;
        margin-bottom:-14px;
		width:1px;
		height:20px;		
		font-size:0px;		
		background-color:rgba(0,0,0,0.25);
	}
	

div.vertical-menu
{
	width:271px;
    min-height:1px;
	background:#fff;
	border-radius: 5px;
	background:rgba(255,255,255,.75);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	box-shadow: 0px 0px 3px rgba(0,0,0,.5);	
}

	div.vertical-menu a:first-child
	{
		border-top-left-radius:5px;
		border-top-right-radius:5px;
	}
	
	div.vertical-menu a:last-child
	{
		border-bottom-left-radius:5px;
		border-bottom-right-radius:5px;
	}	

	div.vertical-menu a
	{
		display:block;
		border-bottom:1px solid #b3b3b3;
		padding:15px 12px 12px 12px;
		font-size:19px;
		line-height:24px;
		background-color:#f2f2f2;
		color:#56514f;
        overflow:hidden;
        white-space:nowrap;
	}

    div.vertical-menu a.back {
	    font-size:17px;
        padding:8px 12px 12px 12px;
    }
		
	div.vertical-menu a.subitem
	{
		font-size:17px;
		background:transparent;		
        padding:12px 12px 15px 20px;
	}		

	div.vertical-menu a.active
	{
		font-family: 'kievitotmedium';		
	}

    div.vertical-menu div.paging {
        overflow:hidden;
        border-bottom:1px solid #b3b3b3;
        position:relative;
    }

    div.vertical-menu div.paging a {
        font-family: 'kievitotregular';		
        font-size:32px;
        border-radius:0;
        width:111px;
        padding:12px 12px 15px 12px;        
        float:left;
        border:0;
        background:#fff;
        text-align:center;
        float:left;
    }

        div.vertical-menu div.paging div.divider {
            position:absolute;
            left:135px;
            top:0px;
            height:51px;
            font-size:0px;
            width:1px;
            background-color:#b3b3b3;
        }

        div.vertical-menu div.paging a.next {
            /*border-left:1px solid #b3b3b3;*/
            float:right;
        }

    div.vertical-menu-placeholder {
	    width:271px;
        min-height:1px;	    
    }

div.content
{
    position:relative;
	width:988px;
	height:100%;

	margin-left:7px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);	
	background:#fff;	
}

	div.content div.text
	{
        position:absolute;
        border-top-left-radius:5px;
        border-bottom-left-radius:5px;
		padding:18px 10px;
		width:310px;
        height:580px;
		float:left;		
		background-color: #f2f2f2; /* rgba(255,255,255,1);	*/
        z-index:150;        	
	}
	
		div.content div.text h1
		{
			font-weight:normal;
			font-family: 'kievitotbold';		
			font-size:22px;
			margin-bottom:14px;
            color:#4d4d4d;
		}
		
		div.content div.text p
		{
			line-height:25px;
			font-size:18px;
            color:#4d4d4d;
            margin-bottom:12px;
		}			
	
	div.content div.image
	{
        position:absolute;
        right:0px;
		border-top-right-radius:5px;
		border-bottom-right-radius:5px;		
		overflow:hidden;
		width:658px;		
		height:100%;
		float:right;
        z-index:50;
		overflow:hidden;
	}
	
		div.content div.image img
		{
			height:100%;
		border-top-right-radius:5px;
		border-bottom-right-radius:5px;					
		}

div.content div.footer {
    display:none;
    visibility:collapse;
}

div.content.footer div.footer
{
	position:absolute;
	font-size:14px;		
	display:block;
    visibility:visible;
	bottom:0px;
	left:0px;
	width:973px;
    height:40px;
	z-index:10000;
	background-color:#e1e1e1;
	border-bottom-left-radius:5px;					
	border-bottom-right-radius:5px;								
	padding:5px 5px 5px 10px;
    overflow:hidden;
}	

	div.content div.footer div.openinghours
	{
        position:absolute;
        left:10px;
        top:5px;
		float:left;		
		color:#9a9a9a;
		line-height:23px;
        background-color:#e1e1e1;
        padding-bottom:5px;
        padding-right:5px;
	}
	
	div.content div.footer div.openinghours img
	{
		position:relative;
		top:5px;
		width:31px;
		height:31px;
		margin-right:7px;		
	}

    div.content div.footer div.features {
        background-color:red;        
        height:100px;
    }

	div.content div.footer div.features,
	div.content div.footer a
	{
		float:right;
	}
	
	div.content div.footer span
	{
        float:right;
		background-color:#9a9a9a;	
		color:#fff;
		display:inline-block;
		border-bottom-left-radius:15px;					
		border-bottom-right-radius:15px;				
		border-top-left-radius:15px;					
		border-top-right-radius:15px;	
		padding:4px 10px 5px 10px;	
		margin-top:6px;
		margin-right:7px;	
        margin-bottom:20px;
	}
	
	div.content div.footer a
	{
		font-family:'kievitotmedium';
		background-color:#7cc843;	
		font-size:18px;	
		color:#fff;
		display:block;
		border-bottom-left-radius:10px;					
		border-bottom-right-radius:10px;				
		border-top-left-radius:10px;					
		border-top-right-radius:10px;		
		padding:10px 20px;
		margin-left:14px;
	}
	

		
/* Image Left */ 		
div.content.left div.text
{
	right:0px; /* ?? */
    left:auto;
    border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;					
}

div.content.left div.image
{
    left:0px;
    right:auto;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	border-top-right-radius:0;
	border-bottom-right-radius:0;					
	float:left;
}

div.content.transparent div.text
{
	float:right;
}

	div.content.transparent div.image
	{
		position:absolute;
		border-top-left-radius:5px;
		border-bottom-left-radius:5px;	
	    border-top-right-radius:5px;
	    border-bottom-right-radius:5px;		        	
        top:0px;
        left:0px;
        width:988px;
        height:100%;        
	}

    div.content.transparent div.text 
    {
        background-color: rgba(255,255,255,0.85);
    }