﻿@font-face {
  font-family: 'Futura LT';
  src: url('webfonts/futura-lt-book.eot');
  src: url('webfonts/futura-lt-book.eot?#iefix') format('embedded-opentype'), url('webfonts/futura-lt-book.woff') format('woff'), url('webfonts/futura-lt-book.ttf') format('truetype'), url('webfonts/futura-lt-book.svg#futura_lt_book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura LT';
  src: url('webfonts/futura-lt-bold.eot');
  src: url('webfonts/futura-lt-bold.eot?#iefix') format('embedded-opentype'), url('webfonts/futura-lt-bold.woff') format('woff'), url('webfonts/futura-lt-bold.ttf') format('truetype'), url('webfonts/futura-lt-bold.svg#futura_lt_bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'DLT Icons';
  src: url('webfonts/dlt-icons.eot');
  src: url('webfonts/dlt-icons.eot?#iefix') format('embedded-opentype'), url('webfonts/dlt-icons.woff') format('woff'), url('webfonts/dlt-icons.ttf') format('truetype'), url('webfonts/dlt-icons.svg#DLT Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'kievitotlfmedium';
    src: url('webfonts/kievitotlf-medium-webfont.eot');
    src: url('webfonts/kievitotlf-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/kievitotlf-medium-webfont.woff') format('woff'),
         url('webfonts/kievitotlf-medium-webfont.ttf') format('truetype'),
         url('webfonts/kievitotlf-medium-webfont.svg#kievitotlfmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'kievitotmedium';
    src: url('webfonts/kievitot-medium-webfont.eot');
    src: url('webfonts/kievitot-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/kievitot-medium-webfont.woff') format('woff'),
         url('webfonts/kievitot-medium-webfont.ttf') format('truetype'),
         url('webfonts/kievitot-medium-webfont.svg#kievitotmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kievitot-regularregular';
    src: url('webfonts/kievitot-regular-webfont.eot');
    src: url('webfonts/kievitot-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/kievitot-regular-webfont.woff') format('woff'),
         url('webfonts/kievitot-regular-webfont.ttf') format('truetype'),
         url('webfonts/kievitot-regular-webfont.svg#kievitot-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;  
}