﻿@font-face {
	font-family: 'AvenirLTStd-Medium';
	src: url('../webfonts/2938A6_0_0.eot');
	src: url('../webfonts/2938A6_0_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2938A6_0_0.woff') format('woff'), url('../webfonts/2938A6_0_0.ttf') format('truetype');
}
@font-face {
	font-family: 'AvenirLTStd-Light';
	src: url('../webfonts/2938A6_1_0.eot');
	src: url('../webfonts/2938A6_1_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2938A6_1_0.woff') format('woff'), url('../webfonts/2938A6_1_0.ttf') format('truetype');
}
@font-face {
	font-family: 'AvenirLTStd-Heavy';
	src: url('../webfonts/2938A6_2_0.eot');
	src: url('../webfonts/2938A6_2_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2938A6_2_0.woff') format('woff'), url('../webfonts/2938A6_2_0.ttf') format('truetype');
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
/*	font-size: 100%;*/
	vertical-align: baseline;
	background: transparent;
	padding: 0;
	border: none;
	outline: none;
	margin: 0;
}
img {
	vertical-align: bottom;
}
html {
	overflow-y: auto;
	width:100%;
}
body {
	line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	padding: 0;
	margin: 0;
	color:#000;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	height: 0;
	padding: 0;
	margin: 1em 0;
	border: none;
	border-top: 1px solid #ccc;
}
input, select {
	vertical-align: middle;
}
body
{
	position: relative;
	font: 1em 'AvenirLTStd-Medium', Arial, Helvetica, sans-serif;
	color:rgba(0,0,0,.70);
	background: #fff;
    width:100%;
}
a {
	text-decoration: underline;
}
div.filler
{
	width:100%;
	display:inline-block;
	height:0px;
}	
div.main
{
	margin:0 auto;
	width:100%;
}

div.header
{
	width:100%;
	clear:both;
	overflow:hidden;
}	
	div.header h1
	{
		font-size:1.75em;
		padding: 0em .5em .5em .5em;
		color:rgba(0,0,0,.8);
	}
	div.header h2
	{
		padding: .5em .5em 0em .5em;
		font-size:1em;
		color:rgba(0,0,0,.4);
		text-align:right;
	}
	
	div.header h2 a
	{
		color:rgba(0,0,0,.4);
		text-decoration:none;
	}

div.main img
{
	width:100%;
	border-top:1px solid rgba(0,0,0,.3);	
}

div.main p
{
    border-top:1px solid rgba(0,0,0,.3);	
	padding: 1.25em .75em;
}

div.main div.navigation
{
	border-top:1px solid rgba(0,0,0,.3);
}

	div.main div.navigation a
	{
		display:block;
		text-decoration:none;	
		padding:1em 0em .7em 1.25em;	
		border-bottom:1px solid rgba(0,0,0,.2);
		background-color:rgba(0,0,0,.02);
		color:rgba(0,0,0,.7);
	}
	
	div.main div.navigation a.parent,
    div.main div.navigation a.home,
    div.main div.navigation a.subparent	
	{
		padding-left:.75em;
		background-color:rgba(0,0,0,.07);
	}

        div.main div.navigation a.subparent {
            padding-left:1.25em;
        }
	
	div.main div.navigation a.active
	{
		font-family: 'AvenirLTStd-Heavy';
	}	

div.image
{
	style="position:relative;
	overflow:hidden;
	max-height:15em;
}

div.filler;
{
	content:'';
	height:0px;
	width:100%;
}


div.features {
    padding:5px;
    background-color:#e1e1e1;
}

    div.features span {
        font-size:80%;
        background-color:#9a9a9a;	
		color:#fff;
		display:inline-block;
		border-bottom-left-radius:15px;					
		border-bottom-right-radius:15px;				
		border-top-left-radius:15px;					
		border-top-right-radius:15px;	
		padding:7px 10px 3px 10px;	
		margin-top:6px;
		margin-right:7px;	
    }

div.openinghours {
    padding:5px;
    background-color:#e1e1e1;    
    font-size:80%;
}

div.openinghours span {
    margin-left:5px;
}

div.openinghours img {    
    width:20px;
    height:20px;
    border:0;
}

div.footer
{
        padding:5px;
    background-color:#e1e1e1;
    overflow:hidden;
}

div.footer a
	{		
        float:right;
		background-color:#7cc843;			
        text-decoration:none;
		color:#fff;
		display:inline-block;
		border-bottom-left-radius:10px;					
		border-bottom-right-radius:10px;				
		border-top-left-radius:10px;					
		border-top-right-radius:10px;		
		padding:12px 20px 8px 20px;
		margin-left:14px;
	}

