﻿@font-face {
	font-family: 'AvenirLTStd-Medium';
	src: url('../webfonts/2938A6_0_0.eot');
	src: url('../webfonts/2938A6_0_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2938A6_0_0.woff') format('woff'), url('../webfonts/2938A6_0_0.ttf') format('truetype');
}
@font-face {
	font-family: 'AvenirLTStd-Light';
	src: url('../webfonts/2938A6_1_0.eot');
	src: url('../webfonts/2938A6_1_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2938A6_1_0.woff') format('woff'), url('../webfonts/2938A6_1_0.ttf') format('truetype');
}
@font-face {
	font-family: 'AvenirLTStd-Heavy';
	src: url('../webfonts/2938A6_2_0.eot');
	src: url('../webfonts/2938A6_2_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2938A6_2_0.woff') format('woff'), url('../webfonts/2938A6_2_0.ttf') format('truetype');
}

@font-face {
    font-family: 'kievitotmedium';
    src: url('../webfonts/kievitot-medium-webfont.eot');
    src: url('../webfonts/kievitot-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/kievitot-medium-webfont.woff') format('woff'),
         url('../webfonts/kievitot-medium-webfont.ttf') format('truetype'),
         url('../webfonts/kievitot-medium-webfont.svg#kievitotmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kievitotregular';
    src: url('../webfonts/kievitot-regular-webfont.eot');
    src: url('../webfonts/kievitot-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/kievitot-regular-webfont.woff') format('woff'),
         url('../webfonts/kievitot-regular-webfont.ttf') format('truetype'),
         url('../webfonts/kievitot-regular-webfont.svg#kievitot-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'kievitotbold';
    src: url('../webfonts/kievitot-bold-webfont.eot');
    src: url('../webfonts/kievitot-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/kievitot-bold-webfont.woff') format('woff'),
         url('../webfonts/kievitot-bold-webfont.ttf') format('truetype'),
         url('../webfonts/kievitot-bold-webfont.svg#kievitotbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kievitotextrabold';
    src: url('../webfonts/kievitot-extrabold-webfont.eot');
    src: url('../webfonts/kievitot-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/kievitot-extrabold-webfont.woff') format('woff'),
         url('../webfonts/kievitot-extrabold-webfont.ttf') format('truetype'),
         url('../webfonts/kievitot-extrabold-webfont.svg#kievitotextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
  margin: 0;
}
img {
  vertical-align: bottom;
}
html {
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  padding: 0;
  margin: 0;
}
ins {
  color: #000;
  background-color: #ff9;
  text-decoration: none;
}
mark {
  color: #000;
  background-color: #ff9;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 0;
  padding: 0;
  margin: 1em 0;
  border: none;
  border-top: 1px solid #ccc;
}
input,
select {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6
{
	font-weight:normal;
	font-family: 'AvenirLTStd-Heavy';
}