/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
.dxgvEditForm_Glass .dxflGroupBoxCaption_Glass
{
    background-color: #EDF3F4;
}
.dxgvPopupEditForm_Glass .dxflGroupBoxCaption_Glass
{
    background-color: #EDF3F4;
}
.dxgvEditForm_Glass .dxflPCSys .dxflGroupBoxCaption_Glass
{
    background-color: #EDF3F4;
}
.dxgvPopupEditForm_Glass .dxflPCSys .dxflGroupBoxCaption_Glass
{
    background-color: #EDF3F4;
}
.dxgvControl_Glass,
.dxgvDisabled_Glass
{
    border: 1px solid #7EACB1;
    font: 12px Tahoma, Geneva, sans-serif;
    background-color: #f4fafb;
    color: Black;
    cursor: default;
}
.dxgvDisabled_Glass
{
    color: Gray;
}
.dxgvControl_Glass a.dxeHyperlink:not([href]):not([onclick]):not(.dxbButtonSys)
{
    color: Black;
    text-decoration: none;
}
.dxgvControl_Glass a
{
    color: #5555FF;
}
.dxgvDisabled_Glass a
{
    color: Gray;
}
.dxgvEmptyDataRow_Glass.dxgvLVR > td.dxgv,
.dxgvDataRow_Glass.dxgvLVR > td.dxgv,
.dxgvGroupRow_Glass.dxgvLVR > td.dxgv
{
    border-bottom-width: 0;
}
.dxgvRBB .dxgvEmptyDataRow_Glass.dxgvLVR > td.dxgv,
.dxgvRBB .dxgvDataRow_Glass.dxgvLVR > td.dxgv,
.dxgvRBB .dxgvGroupRow_Glass.dxgvLVR > td.dxgv,
.dxgvBECPSD .dxgvDataRow_Glass.dxgvLVR > td.dxgv
{
    border-bottom-width: 1px !important;
}
.dxgvGroupRow_Glass td.dxgv.dxgvPHEC, .dxgvPreviewRow_Glass td.dxgv.dxgvPHEC,
.dxgvDetailRow_Glass td.dxgv.dxgvPHEC, .dxgvGroupFooter_Glass td.dxgv.dxgvPHEC,
.dxgvDataRow_Glass td.dxgvPHEC
{
    border-right: 1px Solid #C2D4DA;
}
*[dir="rtl"] .dxgvGroupRow_Glass td.dxgv.dxgvPHEC, *[dir="rtl"] .dxgvPreviewRow_Glass td.dxgv.dxgvPHEC,
*[dir="rtl"] .dxgvDetailRow_Glass td.dxgv.dxgvPHEC, *[dir="rtl"] .dxgvGroupFooter_Glass td.dxgv.dxgvPHEC,
*[dir="rtl"] .dxgvDataRow_Glass td.dxgvPHEC
{
    border-left: 1px Solid #C2D4DA;
}
.dxgvLoadingPanelStatusBar_Glass .dxlp-loadingImage
{
    background-image: url('gvLoadingOnStatusBar.gif');
    height: 16px;
    width: 16px;
}
.dxgvLoadingPanel_Glass
{
    font: 12px Tahoma, Geneva, sans-serif;
    color: #303030;
    border: 1px solid #7EACB1;
    background-color: White;
}
.dxgvLoadingPanel_Glass td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 12px;
}
.dxgvLoadingPanel_Glass .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 27px;
    width: 27px;
}
.dxgvLoadingPanelStatusBar_Glass
{
    background-color: transparent;
    font-size: 0.91em;
}
.dxgvLoadingPanelStatusBar_Glass td
{
    white-space: nowrap;
    text-align: center;
    padding: 0px 2px;
}
.dxgvFilterPopupWindow_Glass
{
    color: Black;
    border-left: 1px solid #DCDCDC;
}
.dxgvFilterPopupItemsArea_Glass
{
    color: Black;
    background-color: White;
}
.dxgvFilterPopupButtonPanel_Glass
{
    background-color: #d4e8f3;
    border: 1px solid #dcdcdc;
    color: Black;
}
.dxgvFilterPopupItem_Glass td.dxgv,
.dxgvFilterPopupActiveItem_Glass td.dxgv,
.dxgvFilterPopupSelectedItem_Glass td.dxgv
{
    padding: 2px 2px 2px 3px;
    border: 1px solid White;
    cursor: default;
    white-space: nowrap;
}
.dxgvFilterPopupActiveItem_Glass
{
    background: #d9eced none;
}
.dxgvFilterPopupSelectedItem_Glass
{
    background: #9eced6 none;
}
.dxgvTable_Glass
{
    background-color: #f4fafb;
    border-width: 0;
    border-collapse: separate !important;
    overflow: hidden;
}
.dxgvTable_Glass .dxgvHEC
{
    background-color: #f4fafb;
    border-width: 0;
    overflow: hidden;
}
.dxgvControl_Glass .dxgvFSDC .dxgvFooter_Glass td.dxgv
{
    border-bottom-width: 0;
}
.dxgvControl_Glass .dxgvFGI
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.dxgvControl_Glass .dxgvFGI
{
    right: 5px;
    left: auto;
}
*[dir="rtl"].dxgvControl_Glass .dxgvFGI
{
    right: auto;
    left: 5px;
}
.dxgvInlineEditRow_Glass,
.dxgvDataRow_Glass
{
    background-color: White;
}
.dxgvInlineEditRow_Glass td.dxgv
{
    border-bottom: 1px solid #C2D4DA;
    border-right: 1px solid #C2D4DA;
}
.dxgvInlineEditRow_Glass td.dxgvIndentCell
{
    background-color: #D5DFE6;
}
.dxgvDataRowAlt_Glass
{
    background-color: #F3F8F7;
}
.dxgvFilterRow_Glass
{
    background-color: #D4E3E5;
}
.dxgvEditFormDisplayRow_Glass
{
    background-color: #EDF3F4;
}
.dxgvEditFormDisplayRow_Glass td.dxgvIndentCell
{
    background: #d5dfe6 none;
    border-right: 1px Solid #c2d4da;
    border-left: 1px Solid #c2d4da;
    border-top-width: 0px;
}
.dxgvEditForm_Glass
{
    background-color: #EDF3F4;
}
.dxgvEditForm_Glass > td.dxgv
{
    border-bottom: 1px solid #C2D4DA;
    padding: 6px 0px 2px;
}
.dxgvEditForm_Glass > td.dxgvIndentCell
{
    background: #d5dfe6 none;
    border-right: 1px Solid #c2d4da;
    border-left: 1px Solid #c2d4da;
    border-top-width: 0px;
}
.dxgvSelectedRow_Glass
{
    background-color: #E9F6F8;
}
.dxgvFocusedRow_Glass
{
    background-color: #c0e0e7;
}
.dxgvPreviewRow_Glass
{
    background-color: #ECF2F3;
}
.dxgvDetailRow_Glass td.dxgv,
.dxgvPreviewRow_Glass td.dxgv,
.dxgvEmptyDataRow_Glass td.dxgv
{
    padding: 7px 2px 10px 13px;
    border-bottom: 1px solid #C2D4DA;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}
.dxgvDetailRow_Glass td.dxgvIndentCell
{
    border-bottom: 1px solid #C2D4DA;
}
.dxgvDetailRow_Glass.dxgvADR .dxgvADT > tbody > tr > td
{
    padding: 6px 6px 5px 0;
}
.dxgvDetailRow_Glass.dxgvADR .dxgvADT > tbody > tr > td .dxeTextBoxSys,
.dxgvDetailRow_Glass.dxgvADR .dxgvADT > tbody > tr > td .dxichCellSys
{
    margin: -4px 0 -3px 0;
}
.dxgvDetailRow_Glass.dxgvADR .dxgvADCC
{
    color: #7F7F7F;
}
.dxgvEmptyDataRow_Glass
{
    color: Gray;
}
.dxgvEmptyDataRow_Glass td.dxgv
{
    text-align: center;
}
.dxgvEditFormDisplayRow_Glass td.dxgv,
.dxgvDetailCell_Glass td.dxgv,
.dxgvDataRow_Glass td.dxgv,
.dxgvDetailRow_Glass.dxgvADR td.dxgvAIC
{
    overflow: hidden;
    border-bottom: 1px solid #C2D4DA;
    border-right: 1px solid #C2D4DA;
    border-top-width: 0;
    border-left-width: 0;
    padding: 2px 6px 4px;
}
.dxgvDataRow_Glass td.dxgvAIC,
.dxgvInlineEditRow_Glass td.dxgvAIC
{
    padding: 0 4px;
}
.dxgvDetailRow_Glass.dxgvADR td.dxgvAIC
{
    padding: 6px 4px;
}
.dxgvEditingErrorRow_Glass
{
    background-color: #FFC8C8;
    color: Red;
}
.dxgvEditingErrorRow_Glass td.dxgv
{
    white-space: pre-wrap;
    border-bottom: 1px solid #C2D4DA;
    border-right-width: 0;
    border-top-width: 0;
    border-left-width: 0;
    padding: 6px 10px;
}
.dxgvFilterRow_Glass td.dxgv
{
    border-bottom: 1px solid #C2D4DA;
    border-right: 1px solid #C2D4DA;
    border-top-width: 0;
    border-left-width: 0;
    padding: 2px;
    overflow: hidden;
}
.dxgvGroupRow_Glass,
.dxgvBatchEditChangesPreviewGroupRow_Glass
{
    background-color: #D5DFE6;
}
.dxgvFocusedGroupRow_Glass
{
    background-color: #c0e0e7;
}
.dxgvGroupRow_Glass td.dxgv,
.dxgvFocusedGroupRow_Glass td.dxgv,
.dxgvBatchEditChangesPreviewGroupRow_Glass td.dxgv
{
    border: 0 none;
    vertical-align: middle;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #C2D4DA;
    padding: 2px 4px 3px;
    background-color: inherit;
}
.dxgvFocusedRow_Glass td.dxgvIndentCell,
.dxgvFocusedGroupRow_Glass td.dxgvIndentCell,
.dxgvSelectedRow_Glass td.dxgvIndentCell
{
    background-color: #D5DFE6 !important;
    border-right: 1px solid #C2D4DA;
    border-left: 1px solid #C2D4DA;
    border-top-width: 0px;
}
.dxgvHeaderPanel_Glass
{
    background-color: #D4E3E5;
    padding: 8px 6px;
    border-bottom: 1px solid #C2D4DA;
}
.dxIE .dxgvMSDraggable .dxgvHeader_Glass,
.dxIE .dxgvMSDraggable.dxgvGroupPanel_Glass
{
    -ms-touch-action: pinch-zoom;
}
.dxEdge .dxgvMSDraggable .dxgvHeader_Glass,
.dxEdge .dxgvMSDraggable.dxgvGroupPanel_Glass
{
    touch-action: pinch-zoom;
}
.dxgvHeader_Glass
{
    cursor: pointer;
    white-space: nowrap;
    padding: 4px 6px 5px;
    border: 1px solid #7EACB1;
    background: #b7d8dc url('gvHeaderBackground.gif') repeat-x top;
    overflow: hidden;
    font-weight: normal;
    text-align: left;
}
.dxgvHeader_Glass a,
.dxgvHeader_Glass a:hover,
.dxgvHeader_Glass a.dxgvCommandColumnItem_Glass,
.dxgvHeader_Glass a.dxgvCommandColumnItem_Glass.dxbDisabled_Glass,
.dxgvCommandColumn_Glass a,
.dxgvCommandColumn_Glass a.dxgvCommandColumnItem_Glass.dxbDisabled_Glass
{
    color: #2a769d;
}
.dxgvHeader_Glass,
.dxgvHeader_Glass table
{
    color: Black;
}
.dxgvHeader_Glass td
{
    white-space: nowrap;
}
.dxgvHeader_Glass.dxgvAIC
{
    padding-left: 4px;
    padding-right: 5px;
}
.dxgvHeader_Glass a.dxgvCommandColumnItem_Glass
{
    margin: 0px 3px 0px 0px;
    color: #2a769d;
}
.dxgvHeader_Glass a.dxgvCommandColumnItem_Glass.dxbDisabled_Glass,
.dxgvCommandColumn_Glass a.dxgvCommandColumnItem_Glass.dxbDisabled_Glass
{
    opacity: 0.5;
}
.dxgvCustomization_Glass,
.dxgvPopupEditForm_Glass
{
    padding: 0;
    margin: 0;
}
.dxgvAdaptiveGroupPanel_Glass,
.dxgvGroupPanel_Glass
{
    background: #f8fbfd url('gvGroupPanelBackground.gif') repeat-x top;
    border-bottom: 1px solid #7EACB1;
}
.dxgvGroupPanel_Glass
{
    padding: 7px 4px 8px 6px;
    white-space: nowrap;
}
.dxgvAdaptiveGroupPanel_Glass
{
    padding-left: 6px;
    padding-top: 7px;
}
.dxgvAdaptiveGroupPanel_Glass div.dxgvADH
{
    margin-right: 4px;
    margin-bottom: 6px;
}
.dxgvAdaptiveGroupPanel_Glass.dxgvEAHP
{
    padding-bottom: 8px;
}
.dxgvAdaptiveHeaderPanel_Glass
{
    background: #f8fbfd url('gvGroupPanelBackground.gif') repeat-x top;
    border-bottom: 1px solid #7EACB1;
    padding-top: 10px;
}
.dxgvAdaptiveHeaderPanel_Glass.dxgvEAHP
{
    padding: 10px 7px;
}
.dxgvAdaptiveFooterPanel_Glass
{
    background-color: #e9f8fa;
    padding-top: 6px;
}
.dxgvAdaptiveHeaderPanel_Glass,
.dxgvAdaptiveFooterPanel_Glass
{
    padding-left: 10px;
}
.dxgvFooter_Glass
{
    background-color: #e9f8fa;
    white-space: nowrap;
}
.dxgvFooter_Glass td.dxgv
{
    padding: 4px 6px 5px;
    border-bottom: 1px solid #7EACB1;
    border-right-style: none;
}
.dxgvABRL .dxgvFooter_Glass td.dxgv
{
    border-right: 1px solid #7EACB1;
}
.dxgvGroupFooter_Glass
{
    background-color: #DAEDF0;
}
.dxgvGroupFooter_Glass td.dxgv
{
    padding: 4px 6px 6px;
    border-bottom: 1px solid #C2D4DA;
    border-right-style: none;
}
.dxgvDataRow_Glass td.dxgvIndentCell,
.dxgvDetailRow_Glass td.dxgvIndentCell,
.dxgvPreviewRow_Glass td.dxgvIndentCell,
.dxgvGroupRow_Glass td.dxgvIndentCell,
.dxgvGroupFooter_Glass td.dxgvIndentCell
{
    background-color: #D5DFE6;
    border-right: 1px solid #C2D4DA;
    border-left: 1px solid #C2D4DA;
    border-top-width: 0px;
}
.dxgvABRL .dxgvGroupFooter_Glass td.dxgv
{
    border-right: 1px solid #C2D4DA;
}
.dxgvTitlePanel_Glass,
.dxgvTable_Glass caption
{
    font-weight: bold;
    padding: 3px;
    text-align: center;
    border-bottom: 1px solid #7EACB1;
    background-color: White;
}
.dxgvStatusBar_Glass tr.dxgv
{
    height: 20px;
}
.dxgvStatusBar_Glass tr.dxgv > td
{
    padding: 4px;
}
.dxgvStatusBar_Glass .dxgvCommandColumn_Glass a
{
    margin-right: 10px;
}
.dxgvALE .dxgvStatusBar_Glass .dxgvCommandColumn_Glass,
.dxgvAE .dxgvStatusBar_Glass .dxgvCommandColumn_Glass,
.dxgvAdD .dxgvStatusBar_Glass .dxgvCommandColumn_Glass
{
    white-space: normal;
}
.dxgvALE .dxgvStatusBar_Glass .dxgvCommandColumn_Glass .dxbButton_Glass,
.dxgvAE .dxgvStatusBar_Glass .dxgvCommandColumn_Glass .dxbButton_Glass,
.dxgvAdD .dxgvStatusBar_Glass .dxgvCommandColumn_Glass .dxbButton_Glass
{
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-table;
}
.dxgvStatusBar_Glass
{
    border-top: 1px solid #7EACB1;
}
.dxgvStatusBar_Glass tr.dxgv span .dxbButtonSys:first-child
{
    margin-left: 2px;
}
.dxgvCommandColumn_Glass
{
    padding: 2px;
    white-space: nowrap;
}
.dxgvCommandColumn_Glass a
{
    margin: 0px 3px 0px 0px;
}
.dxgvCommandColumn_Glass a:hover
{
    color: #f15e34;
}
.dxbButton_Glass[class~="dxgvCommandColumnItem_Glass"],
.dxgvStatusBar_Glass div.dxbButton_Glass,
.dxgvEditFormTable_Glass div.dxbButton_Glass
{
    margin: 0px 2px;
}
.dxbButton_Glass[class~="dxgvCommandColumnItem_Glass"] .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
.dxgvFilterRow_Glass a.dxgvCommandColumnItem_Glass
{
    display: inline-block;
    margin-top: 1px;
}
.dxgvEditFormTable_Glass
{
    padding: 2px 6px 6px 4px;
    color: Black;
}
.dxgvEditFormCaption_Glass
{
    padding: 5px 4px 4px 10px;
    white-space: nowrap;
}
.dxgvInlineEditCell_Glass
{
    padding: 1px;
}
.dxgvPagerTopPanel_Glass,
.dxgvPagerBottomPanel_Glass
{
    padding: 3px 0;
}
.dxgvControl_Glass .dxctToolbar_Glass.dxm-main.dxgvCTTop
{
    border-bottom-width: 1px;
}
.dxgvControl_Glass .dxctToolbar_Glass.dxm-main.dxgvCTBottom
{
    border-top-width: 1px;
}
.dxgvEditFormCell_Glass
{
    padding: 4px;
    border-width: 0;
}
.dxgvFilterBar_Glass
{
    border-top: 1px solid #bccbd1;
    background: #d8e4e8 none;
}
.dxgvFilterBar_Glass a
{
    color: #2a769d;
    text-decoration: underline;
}
.dxgvFilterBarCheckBoxCell_Glass
{
    padding: 0 7px 0 3px;
}
.dxgvFilterBarImageCell_Glass
{
    padding: 0 1px 0 3px;
    cursor: pointer;
}
.dxgvFilterBarExpressionCell_Glass
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxgvFilterBarClearButtonCell_Glass
{
    padding: 5px 6px 8px;
}
.dxgvFilterBuilderMainArea_Glass
{
    background: white none;
    padding: 6px 2px;
}
.dxgvFilterBuilderButtonArea_Glass
{
    border-top: 1px solid #c4d3de;
    background: #D3E6F3 none;
    padding: 6px;
    white-space: nowrap;
}
.dxgvDataRowHover_Glass
{
    background: #d9eced none;
    color: Black;
}
.dxgvControl_Glass .dxgvHFC
{
    padding-left: 4px;
    padding-bottom: 3px;
}
.dxgvControl_Glass .dxgvHFC .dxeCalendar_Glass
{
    margin-left: 24px;
}
.dxgvControl_Glass .dxgvHFC
{
    background: White;
}
.dxgvControl_Glass div[id$='DXEPLPC']
{
    height: 52px;
}
.dxgvControl_Glass .dxgvHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxgvControl_Glass .dxgvHFDRC
{
    margin: 15px 15px 25px;
}
.dxgvControl_Glass .dxgvHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxgvControl_Glass .dxgvHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxgvControl_Glass .dxgvHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}
/* Removes flicking in iOS Safari*/
.dxgvTable_Glass
{
    -webkit-tap-highlight-color: transparent;
}
.dxgvControl_Glass td.dxgvBatchEditCell_Glass:not(.dxBatchEditCheckBoxCell)
{
    padding: 0 2px;
}
.dxgvControl_Glass td.dxgvBatchEditModifiedCell_Glass
{
    background: #d7f9c7;
}
.dxgvBatchEditDeletedItem_Glass,
.dxgvBatchEditNewItem_Glass.dxgvBatchEditDeletedItem_Glass
{
    background: #EFEFEF;
}
.dxgvBatchEditDeletedItem_Glass > td:not(.dxgvCommandColumn_Glass)
{
    color: rgba(0,0,0,0.5);
}
.dxgvBatchEditDeletedItem_Glass td.dxgvBatchEditModifiedCell_Glass
{
    background: #eefbe7;
}
.dxgvBatchEditNewItem_Glass
{
    background: #F0FAEA;
}
.dxgvControl_Glass .dxgvErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxgvControl_Glass .dxgvErrorCell img
{
    margin: -3px 0;
}
.dxgvSearchPanel_Glass
{
    padding: 7px 4px 7px 6px;
    border-bottom: 1px solid #9F9F9F;
}
.dxgvSearchPanel_Glass > table
{
    width: 70%;
    max-width: 450px;
}
.dxgvControl_Glass .dxgvSearchPanel_Glass .dxbButton_Glass
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxgvControl_Glass .dxgvSearchPanel_Glass .dxbButton_Glass
{
    margin-left: 0;
    margin-right: 7px;
}
.dxgvControl_Glass .dxgvHL
{
    background: #ffd83a;
    color: #333333;
    font-weight: bold;
    font-style: normal;
}
/* TODO remove (replace to command button style) */
.dxgvControl_Glass .dxgvSearchPanel_Glass .dxbButton_Glass
{
    font-size: 0.9em;
    margin-top: -2px;
    margin-bottom: -2px;
}
.dxgvControl_Glass .dxgvSearchPanel_Glass .dxbButton_Glass .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
.dxgvFocusedCell_Glass
{
    box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
    -webkit-box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
    -moz-box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
}
/* Customization Dialog */
.dxgvCustDialog_Glass
{
    font-size: 15px;
    font-weight: 400;
    background-color: White;
}
.dxpcLite_Glass .dxgvCustDialog_Glass.dxpc-mainDiv
{
    border: none;
}
.dxpcLite_Glass .dxgvCustDialog_Glass .dxpc-content
{
    padding: 0;
}
.dxgvCustDialogHeader_Glass
{
    padding-top: 11px;
    margin-bottom: 8px;
    border-bottom: 5px solid #4986A2;
}
.dxgvCustDialogHeader_Glass > div
{
    display: table-cell;
}
.dxgvCustDialogHeader_Glass > div:first-child,
.dxgvCustDialogHeader_Glass > div:last-child
{
    vertical-align: top;
}
.dxgvCustDialogHeader_Glass > div:first-child
{
    padding-left: 11px;
}
.dxgvCustDialogHeader_Glass > div:last-child
{
    padding-right: 11px;
}
.dxgvCustDialogHeader_Glass a.dxbButton_Glass
{
    padding: 10px 10px 6px 10px;
}
.dxgvCustDialogHeader_Glass .dxgvCD_TSC
{
    vertical-align: bottom;
    padding: 0;
    width: 100%;
}
.dxgvCustDialogHeader_Glass .dxgvCD_TS
{
    overflow: hidden;
    position: relative;
    padding: 0;
    text-align: center;
    margin-bottom: -1px;
}
.dxgvCustDialogHeader_Glass .dxgvCD_TS .dxgvCD_TSBW
{
    overflow: hidden;
    padding: 0 16px;
}
.dxgvCustDialogHeader_Glass .dxgvCD_TS .dxtcLite_Glass.dxtc-top > .dxtc-stripContainer .dxtc-tab,
.dxgvCustDialogHeader_Glass .dxgvCD_TS .dxtcLite_Glass.dxtc-top > .dxtc-stripContainer .dxtc-activeTab
{
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 3px;
}
.dxgvCustDialogHeader_Glass .dxgvCD_TS .dxtcLite_Glass.dxtc-top > .dxtc-stripContainer .dxtc-last
{
    margin-right: 16px;
}
.dxgvCustDialogHeader_Glass .dxgvCD_TS .dxtcLite_Glass.dxtc-top[dir="rtl"] > .dxtc-stripContainer .dxtc-last
{
    margin-left: 16px;
    margin-right: 0;
}
.dxgvCustDialogHeader_Glass .dxgvCD_TS .dxtcLite_Glass.dxtc-top > .dxtc-stripContainer .dxtc-leftIndent,
.dxgvCustDialogHeader_Glass .dxgvCD_TS .dxtcLite_Glass.dxtc-top > .dxtc-stripContainer .dxtc-rightIndent
{
    display: none;
}
.dxgvCustDialogHeader_Glass .dxgvCD_TS .dxgvCD_TSLS,
.dxgvCustDialogHeader_Glass .dxgvCD_TS .dxgvCD_TSRS
{
    position: absolute;
    top: -1px;
    width: 16px;
    height: 100%;
}
.dxgvCustDialogHeader_Glass .dxgvCD_TS .dxgvCD_TSLS
{
    left: 0;
    background: linear-gradient(to right, white, rgba(255,255,255,0));
}
.dxgvCustDialogHeader_Glass .dxgvCD_TS .dxgvCD_TSRS
{
    right: 0;
    background: linear-gradient(to left, white, rgba(255,255,255,0));
}
.dxgvCustDialogDragArea_Glass
{
    padding-bottom: 16px !important;
}
.dxgvCustDialogDragArea_Glass,
.dxgvCustDialogFilteringPage_Glass
{
    padding: 0;
}
.dxgvCustDialogSortingPage_Glass .dxgvCustDialogDragArea_Glass,
.dxgvCustDialogGroupingPage_Glass .dxgvCustDialogDragArea_Glass
{
    padding: 0 0 16px 0;
    min-height: 49px;
}
.dxgvCustDialogDragArea_Glass .dxgvCD_DAETC
{
    color: #999999;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    padding-top: 24px;
}
.dxgvCustDialogListArea_Glass .dxgvCD_LAC
{
    color: #666666;
    font-weight: bold;
    padding: 14px 0 8px 15px;
    border-bottom: 1px solid #DCDCDC;
}
.dxgvControl_Glass[dir="rtl"] .dxgvCustDialogListArea_Glass .dxgvCD_LAC
{
    padding-left: 0;
    padding-right: 15px;
}
.dxgvCustDialogListArea_Glass .dxgvCD_LAIW
{
    padding-left: 4px;
}
.dxgvCustDialogColumnItem_Glass
{
    background-color: #FFFFFF;
    color: rgba(0,0,0,0.64);
    min-height: 48px;
    transition: all 0.2s;
}
.dxgvCustDialogColumnItem_Glass > div
{
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
}
.dxgvCustDialogColumnItem_Glass > div:first-child
{
    padding-left: 18px;
}
.dxgvCustDialogColumnItem_Glass > div:last-child
{
    padding-right: 21px;
}
.dxgvCustDialogListArea_Glass .dxgvCustDialogColumnItem_Glass > div:first-child
{
    padding-left: 10px;
}
.dxgvCustDialogColumnItem_Glass div img
{
    vertical-align: middle;
}
.dxgvCustDialogDragArea_Glass .dxgvCustDialogColumnItem_Glass
{
    border-bottom: 1px solid #DCDCDC;
}
.dxgvCustDialogDragArea_Glass .dxgvCustDialogColumnItem_Glass > div:first-child
{
    height: 48px;
    padding: 0;
    padding-left: 8px;
    text-align: center;
    min-width: 28px;
}
.dxgvCustDialogDragArea_Glass .dxgvCustDialogColumnItem_Glass div:last-child,
.dxgvCustDialogListArea_Glass .dxgvCustDialogColumnItem_Glass div:last-child
{
    height: 48px;
    padding-top: 0;
    padding-bottom: 0;
}
.dxgvCustDialogDragArea_Glass .dxgvCustDialogColumnItem_Glass.DXCDDraggingItem
{
    transition: none;
    position: relative;
    box-shadow: 0 10px 0.25rem rgba(0,0,0,0.12), 0 0.25rem 0.5rem rgba(0,0,0,0.24);
    z-index: 1;
}
.dxgvCustDialogSortingPage_Glass .dxgvCD_DAW,
.dxgvCustDialogGroupingPage_Glass .dxgvCD_DAW
{
    position: relative;
}
.dxgvCustDialogSortingPage_Glass .dxgvCD_DAEB,
.dxgvCustDialogGroupingPage_Glass .dxgvCD_DAEB
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 38px;
    background: #EFEFEF;
    box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.11);
    cursor: pointer;
    text-align: center;
}
.dxgvCustDialogSortingPage_Glass .dxgvCD_DAEB img,
.dxgvCustDialogGroupingPage_Glass .dxgvCD_DAEB img
{
    margin-top: 14px;
}
.dxgvCustDialogFilteringPage_Glass
{
    background: #EFEFEF;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogColumnItem_Glass,
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogFilterItem_Glass
{
    transition: none;
    border-bottom: 1px solid #DCDCDC;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogColumnItem_Glass.dxgvCD_EFCI,
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogColumnItem_Glass.dxgvCD_EFCI + .dxgvCustDialogFilterItem_Glass + .dxgvCustDialogColumnItem_Glass
{
    border-top: 1px solid #DCDCDC;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogColumnItem_Glass:first-child
{
    border-top: none;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogColumnItem_Glass > div
{
    height: 28px;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogColumnItem_Glass > div:first-child
{
    padding-left: 10px;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogFilterItem_Glass a
{
    cursor: pointer;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogFilterItem_Glass a,
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogFilterItem_Glass .dxgvCD_FR > span.dxeBase_Glass
{
    font-size: medium;
    line-height: 50px;
}
.dxgvCustDialogFilterItem_Glass
{
    margin-bottom: 17px;
    background: white;
}
.dxgvCustDialogFilterItem_Glass + .dxgvCustDialogColumnItem_Glass.dxgvCD_EFCI
{
    margin-top: 17px;
}
.dxgvCustDialogColumnItem_Glass + .dxgvCustDialogFilterItem_Glass
{
    display: none;
}
.dxgvCustDialogColumnItem_Glass.dxgvCD_EFCI + .dxgvCustDialogFilterItem_Glass
{
    display: block;
}
.dxgvCustDialogFilterItem_Glass .dxgvCD_FR
{
    padding: 0 10px 18px 10px;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCD_UF
{
    text-align: center;
    vertical-align: middle;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCD_UF a
{
    text-transform: uppercase;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCD_FR + .dxgvCD_UF
{
    border-top: 1px solid #DCDCDC;
}
.dxgvCustDialogFilterItem_Glass .dxgvCD_UF.dxgvCD_UFLBV
{
    border-bottom: 1px solid #DCDCDC;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCD_UF.dxgvCD_UFLBV a,
.dxgvCustDialogFilteringPage_Glass .dxgvCD_UFSC
{
    display: none;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCD_UF.dxgvCD_UFLBV .dxgvCD_UFSC
{
    display: block;
}
.dxgvCustDialogFilterItem_Glass .dxgvCD_UF.dxgvCD_UFLBV
{
    margin-bottom: 19px;
}
.dxgvCustDialogFilterItem_Glass .dxgvCD_UFSC
{
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 200px;
}
/* CustDialog filter editors */
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogFilterItem_Glass .dxeEditAreaSys
{
    font-size: 15px !important;
    font-weight: 400;
    margin-top: 2px !important;
    margin-bottom: 1px !important;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogFilterItem_Glass td.dxic
{
    padding: 4px 2px 4px 7px !important;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogFilterItem_Glass .dxeButtonEditButton_Glass
{
    padding-left: 6px;
    padding-right: 6px;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogFilterItem_Glass .dxeSpinIncButton_Glass,
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogFilterItem_Glass .dxeSpinDecButton_Glass
{
    padding: 4px 8px;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogFilterItem_Glass .dxichTextCellSys,
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogFilterItem_Glass .dxeListBoxItem_Glass
{
    font-size: 14px;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogFilterItem_Glass .dxichTextCellSys
{
    padding-top: 4px;
    padding-bottom: 3px;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogFilterItem_Glass .dxeListBoxItem_Glass
{
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogFilterItem_Glass td.dxeC
{
    padding-right: 6px !important;
}
.dxgvCustDialogFilteringPage_Glass .dxgvCustDialogFilterItem_Glass .dxichCellSys
{
    padding-right: 7px;
}
/* CustDialog popup menu */
.dxgvControl_Glass .dxmLite_Glass .dxgvCD_FRM
{
    font-size: 14px;
}
.dxgvControl_Glass .dxmLite_Glass .dxgvCD_FRM .dxm-popup .dxm-content
{
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 6px;
}
