﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Simplest Auth</title>
</head>
<body>
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p style="font-size:small">
                &copy; @DateTime.Now.Year - @Html.ActionLink("Go to Home", "Index", "Home")
                @if (User.Identity.IsAuthenticated)
                { 
                    <span>Signed on as: @User.Identity.Name | </span>  @Html.ActionLink("Sign out", "logout", "Authentication") <span> | </span> @Html.ActionLink("Manage OAuth", "", "OAuth")
                }
                else
                {
                    <span>Not signed in.</span> 
                }
            </p>
        </footer>
    </div>
</body>
</html>