﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Genericproducts.Subpanels.GenericalterationitemCollection" Codebehind="GenericalterationitemCollection.ascx.cs" %>
<div style="padding-bottom: 11px;">
	<D:CommandButton runat="server" ID="btAdd" CommandName="Add" Text="Optie toevoegen" ToolTip="Toevoegen" />
</div>
<X:GridViewColumnSelector runat="server" ID="gvcsGenericalterationitem">
	<Columns />
</X:GridViewColumnSelector>
