﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Generic.SubPanels.EntertainmentPanels.FormPanel" Codebehind="FormPanel.ascx.cs" %>
<table class="dataformV2">
    <tr>
        <td class="label">
			<D:Label runat="server" id="lblFormName">Form name</D:Label>
		</td>
		<td class="control">
			<D:TextBoxString ID="tbFormName" runat="server"></D:TextBoxString>          
		</td>
		<td class="label">
		</td>
        <td class="control">
		</td>  
	</tr>			
</table>
