﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Generic.SubPanels.EntertainmentPanels.SurveyPanel" Codebehind="SurveyPanel.ascx.cs" %>
<table class="dataformV2">
    <tr>
        <td class="label">
			<D:Label runat="server" id="lblSurveyName">Survey name</D:Label>
		</td>
		<td class="control">
			<D:TextBoxString ID="tbSurveyName" runat="server"></D:TextBoxString>          
		</td>
		<td class="label">
		</td>
        <td class="control">
		</td>  
	</tr>			
</table>
