﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="Alterations" Codebehind="Alterations.aspx.cs" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <D:PlaceHolder ID="plhOutput" runat="server"></D:PlaceHolder>
    </div>
    </form>
</body>
</html>
