﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CognitoOAuth.aspx.cs" Inherits="Obymobi.Cms.WebApplication.CognitoOAuth" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<title></title>
</head>
<body>
	<form id="form1" runat="server">
		<div id="window" runat="server">
		</div>
	</form>
</body>
</html>
