.dx-acc-r .dxTreeList_CellError_Glass:before, .dx-acc-r .dxTreeList_CollapsedButton_Glass:before, .dx-acc-r .dxTreeList_CollapsedButtonRtl_Glass:before, .dx-acc-r .dxTreeList_CTClearFilter_Glass:before, .dx-acc-r .dxTreeList_CTClearFilterDisabled_Glass:before, .dx-acc-r .dxTreeList_CTCollapseRow_Glass:before, .dx-acc-r .dxTreeList_CTCollapseRowDisabled_Glass:before, .dx-acc-r .dxTreeList_CTDeleteRow_Glass:before, .dx-acc-r .dxTreeList_CTDeleteRowDisabled_Glass:before, .dx-acc-r .dxTreeList_CTEditRow_Glass:before, .dx-acc-r .dxTreeList_CTEditRowDisabled_Glass:before, .dx-acc-r .dxTreeList_CTExpandRow_Glass:before, .dx-acc-r .dxTreeList_CTExpandRowDisabled_Glass:before, .dx-acc-r .dxTreeList_CTExportDocx_Glass:before, .dx-acc-r .dxTreeList_CTExportDocxDisabled_Glass:before, .dx-acc-r .dxTreeList_CTExportPdf_Glass:before, .dx-acc-r .dxTreeList_CTExportPdfDisabled_Glass:before, .dx-acc-r .dxTreeList_CTExportRtf_Glass:before, .dx-acc-r .dxTreeList_CTExportRtfDisabled_Glass:before, .dx-acc-r .dxTreeList_CTExportXls_Glass:before, .dx-acc-r .dxTreeList_CTExportXlsDisabled_Glass:before, .dx-acc-r .dxTreeList_CTExportXlsx_Glass:before, .dx-acc-r .dxTreeList_CTExportXlsxDisabled_Glass:before, .dx-acc-r .dxTreeList_CTFullCollapse_Glass:before, .dx-acc-r .dxTreeList_CTFullCollapseDisabled_Glass:before, .dx-acc-r .dxTreeList_CTFullExpand_Glass:before, .dx-acc-r .dxTreeList_CTFullExpandDisabled_Glass:before, .dx-acc-r .dxTreeList_CTNewRow_Glass:before, .dx-acc-r .dxTreeList_CTNewRowDisabled_Glass:before, .dx-acc-r .dxTreeList_CTRefresh_Glass:before, .dx-acc-r .dxTreeList_CTRefreshDisabled_Glass:before, .dx-acc-r .dxTreeList_CTShowCustomizationWindow_Glass:before, .dx-acc-r .dxTreeList_CTShowCustomizationWindowDisabled_Glass:before, .dx-acc-r .dxTreeList_CTShowFilterRow_Glass:before, .dx-acc-r .dxTreeList_CTShowFilterRowDisabled_Glass:before, .dx-acc-r .dxTreeList_DragAndDropArrowDown_Glass:before, .dx-acc-r .dxTreeList_DragAndDropArrowUp_Glass:before, .dx-acc-r .dxTreeList_DragAndDropHide_Glass:before, .dx-acc-r .dxTreeList_DragAndDropNode_Glass:before, .dx-acc-r .dxTreeList_ExpandedButton_Glass:before, .dx-acc-r .dxTreeList_ExpandedButtonRtl_Glass:before, .dx-acc-r .dxTreeList_FilterRowButton_Glass:before, .dx-acc-r .dxTreeList_HeaderFilter_Glass:before, .dx-acc-r .dxTreeList_HeaderFilterActive_Glass:before, .dx-acc-r .dxTreeList_SortAsc_Glass:before, .dx-acc-r .dxTreeList_SortDesc_Glass:before { content: url('spriteAccessible.png'); }
.dx-acc-r .dxTreeList_CellError_Glass:before { left: -108px; top: -24px; }
.dx-acc-r .dxTreeList_CollapsedButton_Glass:before { left: -180px; top: -24px; }
.dx-acc-r .dxTreeList_CollapsedButtonRtl_Glass:before { left: -193px; top: -24px; }
.dx-acc-r .dxTreeList_CTClearFilter_Glass:before { left: -36px; top: -24px; }
.dx-acc-r .dxTreeList_CTClearFilterDisabled_Glass:before { left: -54px; top: -24px; }
.dx-acc-r .dxTreeList_CTCollapseRow_Glass:before { left: 0px; top: -24px; }
.dx-acc-r .dxTreeList_CTCollapseRowDisabled_Glass:before { left: -18px; top: -24px; }
.dx-acc-r .dxTreeList_CTDeleteRow_Glass:before { left: -496px; top: 0px; }
.dx-acc-r .dxTreeList_CTDeleteRowDisabled_Glass:before { left: -514px; top: 0px; }
.dx-acc-r .dxTreeList_CTEditRow_Glass:before { left: -460px; top: 0px; }
.dx-acc-r .dxTreeList_CTEditRowDisabled_Glass:before { left: -478px; top: 0px; }
.dx-acc-r .dxTreeList_CTExpandRow_Glass:before { left: -424px; top: 0px; }
.dx-acc-r .dxTreeList_CTExpandRowDisabled_Glass:before { left: -442px; top: 0px; }
.dx-acc-r .dxTreeList_CTExportDocx_Glass:before { left: -388px; top: 0px; }
.dx-acc-r .dxTreeList_CTExportDocxDisabled_Glass:before { left: -406px; top: 0px; }
.dx-acc-r .dxTreeList_CTExportPdf_Glass:before { left: -352px; top: 0px; }
.dx-acc-r .dxTreeList_CTExportPdfDisabled_Glass:before { left: -370px; top: 0px; }
.dx-acc-r .dxTreeList_CTExportRtf_Glass:before { left: -316px; top: 0px; }
.dx-acc-r .dxTreeList_CTExportRtfDisabled_Glass:before { left: -334px; top: 0px; }
.dx-acc-r .dxTreeList_CTExportXls_Glass:before { left: -64px; top: 0px; }
.dx-acc-r .dxTreeList_CTExportXlsDisabled_Glass:before { left: -190px; top: 0px; }
.dx-acc-r .dxTreeList_CTExportXlsx_Glass:before { left: -100px; top: 0px; }
.dx-acc-r .dxTreeList_CTExportXlsxDisabled_Glass:before { left: -82px; top: 0px; }
.dx-acc-r .dxTreeList_CTFullCollapse_Glass:before { left: -136px; top: 0px; }
.dx-acc-r .dxTreeList_CTFullCollapseDisabled_Glass:before { left: -118px; top: 0px; }
.dx-acc-r .dxTreeList_CTFullExpand_Glass:before { left: -298px; top: 0px; }
.dx-acc-r .dxTreeList_CTFullExpandDisabled_Glass:before { left: -154px; top: 0px; }
.dx-acc-r .dxTreeList_CTNewRow_Glass:before { left: -208px; top: 0px; }
.dx-acc-r .dxTreeList_CTNewRowDisabled_Glass:before { left: -172px; top: 0px; }
.dx-acc-r .dxTreeList_CTRefresh_Glass:before { left: -244px; top: 0px; }
.dx-acc-r .dxTreeList_CTRefreshDisabled_Glass:before { left: -226px; top: 0px; }
.dx-acc-r .dxTreeList_CTShowCustomizationWindow_Glass:before { left: -280px; top: 0px; }
.dx-acc-r .dxTreeList_CTShowCustomizationWindowDisabled_Glass:before { left: -262px; top: 0px; }
.dx-acc-r .dxTreeList_CTShowFilterRow_Glass:before { left: -90px; top: -24px; }
.dx-acc-r .dxTreeList_CTShowFilterRowDisabled_Glass:before { left: -72px; top: -24px; }
.dx-acc-r .dxTreeList_DragAndDropArrowDown_Glass:before { left: -219px; top: -24px; }
.dx-acc-r .dxTreeList_DragAndDropArrowUp_Glass:before { left: -206px; top: -24px; }
.dx-acc-r .dxTreeList_DragAndDropHide_Glass:before { left: 0px; top: 0px; }
.dx-acc-r .dxTreeList_DragAndDropNode_Glass:before { left: -139px; top: -24px; }
.dx-acc-r .dxTreeList_ExpandedButton_Glass:before { left: -167px; top: -24px; }
.dx-acc-r .dxTreeList_ExpandedButtonRtl_Glass:before { left: -154px; top: -24px; }
.dx-acc-r .dxTreeList_FilterRowButton_Glass:before { left: -124px; top: -24px; }
.dx-acc-r .dxTreeList_HeaderFilter_Glass:before { left: -24px; top: 0px; }
.dx-acc-r .dxTreeList_HeaderFilterActive_Glass:before { left: -44px; top: 0px; }
.dx-acc-r .dxTreeList_SortAsc_Glass:before { left: -529px; top: -18px; }
.dx-acc-r .dxTreeList_SortDesc_Glass:before { left: -520px; top: -18px; }

