
.dxTreeList_CellError_Glass, .dxTreeList_CollapsedButton_Glass, .dxTreeList_CollapsedButtonRtl_Glass, .dxTreeList_CTClearFilter_Glass, .dxTreeList_CTClearFilterDisabled_Glass, .dxTreeList_CTCollapseRow_Glass, .dxTreeList_CTCollapseRowDisabled_Glass, .dxTreeList_CTDeleteRow_Glass, .dxTreeList_CTDeleteRowDisabled_Glass, .dxTreeList_CTEditRow_Glass, .dxTreeList_CTEditRowDisabled_Glass, .dxTreeList_CTExpandRow_Glass, .dxTreeList_CTExpandRowDisabled_Glass, .dxTreeList_CTExportDocx_Glass, .dxTreeList_CTExportDocxDisabled_Glass, .dxTreeList_CTExportPdf_Glass, .dxTreeList_CTExportPdfDisabled_Glass, .dxTreeList_CTExportRtf_Glass, .dxTreeList_CTExportRtfDisabled_Glass, .dxTreeList_CTExportXls_Glass, .dxTreeList_CTExportXlsDisabled_Glass, .dxTreeList_CTExportXlsx_Glass, .dxTreeList_CTExportXlsxDisabled_Glass, .dxTreeList_CTFullCollapse_Glass, .dxTreeList_CTFullCollapseDisabled_Glass, .dxTreeList_CTFullExpand_Glass, .dxTreeList_CTFullExpandDisabled_Glass, .dxTreeList_CTNewRow_Glass, .dxTreeList_CTNewRowDisabled_Glass, .dxTreeList_CTRefresh_Glass, .dxTreeList_CTRefreshDisabled_Glass, .dxTreeList_CTShowCustomizationWindow_Glass, .dxTreeList_CTShowCustomizationWindowDisabled_Glass, .dxTreeList_CTShowFilterRow_Glass, .dxTreeList_CTShowFilterRowDisabled_Glass, .dxTreeList_DragAndDropArrowDown_Glass, .dxTreeList_DragAndDropArrowUp_Glass, .dxTreeList_DragAndDropHide_Glass, .dxTreeList_DragAndDropNode_Glass, .dxTreeList_ExpandedButton_Glass, .dxTreeList_ExpandedButtonRtl_Glass, .dxTreeList_FilterRowButton_Glass, .dxTreeList_HeaderFilter_Glass, .dxTreeList_HeaderFilterActive_Glass, .dxTreeList_SortAsc_Glass, .dxTreeList_SortDesc_Glass { background-image: url('sprite.png'); background-repeat: no-repeat; background-color: transparent } 
.dxTreeList_CellError_Glass { background-position: -108px -24px; width: 14px; height: 14px } 
.dxTreeList_CollapsedButton_Glass { background-position: -180px -24px; width: 11px; height: 11px } 
.dxTreeList_CollapsedButtonRtl_Glass { background-position: -193px -24px; width: 11px; height: 11px } 
.dxTreeList_CTClearFilter_Glass { background-position: -36px -24px; width: 16px; height: 16px } 
.dxTreeList_CTClearFilterDisabled_Glass { background-position: -54px -24px; width: 16px; height: 16px } 
.dxTreeList_CTCollapseRow_Glass { background-position: 0px -24px; width: 16px; height: 16px } 
.dxTreeList_CTCollapseRowDisabled_Glass { background-position: -18px -24px; width: 16px; height: 16px } 
.dxTreeList_CTDeleteRow_Glass { background-position: -496px 0px; width: 16px; height: 16px } 
.dxTreeList_CTDeleteRowDisabled_Glass { background-position: -514px 0px; width: 16px; height: 16px } 
.dxTreeList_CTEditRow_Glass { background-position: -460px 0px; width: 16px; height: 16px } 
.dxTreeList_CTEditRowDisabled_Glass { background-position: -478px 0px; width: 16px; height: 16px } 
.dxTreeList_CTExpandRow_Glass { background-position: -424px 0px; width: 16px; height: 16px } 
.dxTreeList_CTExpandRowDisabled_Glass { background-position: -442px 0px; width: 16px; height: 16px } 
.dxTreeList_CTExportDocx_Glass { background-position: -388px 0px; width: 16px; height: 16px } 
.dxTreeList_CTExportDocxDisabled_Glass { background-position: -406px 0px; width: 16px; height: 16px } 
.dxTreeList_CTExportPdf_Glass { background-position: -352px 0px; width: 16px; height: 16px } 
.dxTreeList_CTExportPdfDisabled_Glass { background-position: -370px 0px; width: 16px; height: 16px } 
.dxTreeList_CTExportRtf_Glass { background-position: -316px 0px; width: 16px; height: 16px } 
.dxTreeList_CTExportRtfDisabled_Glass { background-position: -334px 0px; width: 16px; height: 16px } 
.dxTreeList_CTExportXls_Glass { background-position: -64px 0px; width: 16px; height: 16px } 
.dxTreeList_CTExportXlsDisabled_Glass { background-position: -190px 0px; width: 16px; height: 16px } 
.dxTreeList_CTExportXlsx_Glass { background-position: -100px 0px; width: 16px; height: 16px } 
.dxTreeList_CTExportXlsxDisabled_Glass { background-position: -82px 0px; width: 16px; height: 16px } 
.dxTreeList_CTFullCollapse_Glass { background-position: -136px 0px; width: 16px; height: 16px } 
.dxTreeList_CTFullCollapseDisabled_Glass { background-position: -118px 0px; width: 16px; height: 16px } 
.dxTreeList_CTFullExpand_Glass { background-position: -298px 0px; width: 16px; height: 16px } 
.dxTreeList_CTFullExpandDisabled_Glass { background-position: -154px 0px; width: 16px; height: 16px } 
.dxTreeList_CTNewRow_Glass { background-position: -208px 0px; width: 16px; height: 16px } 
.dxTreeList_CTNewRowDisabled_Glass { background-position: -172px 0px; width: 16px; height: 16px } 
.dxTreeList_CTRefresh_Glass { background-position: -244px 0px; width: 16px; height: 16px } 
.dxTreeList_CTRefreshDisabled_Glass { background-position: -226px 0px; width: 16px; height: 16px } 
.dxTreeList_CTShowCustomizationWindow_Glass { background-position: -280px 0px; width: 16px; height: 16px } 
.dxTreeList_CTShowCustomizationWindowDisabled_Glass { background-position: -262px 0px; width: 16px; height: 16px } 
.dxTreeList_CTShowFilterRow_Glass { background-position: -90px -24px; width: 16px; height: 16px } 
.dxTreeList_CTShowFilterRowDisabled_Glass { background-position: -72px -24px; width: 16px; height: 16px } 
.dxTreeList_DragAndDropArrowDown_Glass { background-position: -219px -24px; width: 11px; height: 9px } 
.dxTreeList_DragAndDropArrowUp_Glass { background-position: -206px -24px; width: 11px; height: 9px } 
.dxTreeList_DragAndDropHide_Glass { background-position: 0px 0px; width: 22px; height: 22px } 
.dxTreeList_DragAndDropNode_Glass { background-position: -139px -24px; width: 13px; height: 13px } 
.dxTreeList_ExpandedButton_Glass { background-position: -167px -24px; width: 11px; height: 11px } 
.dxTreeList_ExpandedButtonRtl_Glass { background-position: -154px -24px; width: 11px; height: 11px } 
.dxTreeList_FilterRowButton_Glass { background-position: -124px -24px; width: 13px; height: 13px } 
.dxTreeList_HeaderFilter_Glass { background-position: -24px 0px; width: 18px; height: 18px } 
.dxTreeList_HeaderFilterActive_Glass { background-position: -44px 0px; width: 18px; height: 18px } 
.dxTreeList_SortAsc_Glass { background-position: -529px -18px; width: 7px; height: 4px } 
.dxTreeList_SortDesc_Glass { background-position: -520px -18px; width: 7px; height: 4px } 

