﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Catalog.SubPanels.ProductSuggestionPanel" Codebehind="ProductSuggestionPanel.ascx.cs" %>
<%@ Reference VirtualPath="~/Catalog/SubPanels/ProductCategorySuggestionPanel.ascx" %>
<D:PlaceHolder runat="server" ID="plhCategories">
</D:PlaceHolder>