﻿<div> 
        <p>See the status of your OAuth connections:</p>
        <table>
            <thead>
                <tr>
                    <td>Service</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Google</td>
                    <td>
                        <!-- I can imagine a better URL scheme, but for now this works. -->
                        @if (ViewBag.GoogleLinked)
                        {
                            <span>Linked (@ViewBag.GoogleEmail) </span> @Html.ActionLink("Unlink", "UnlinkGoogle")
                        }
                        else
                        {
                            <span>Not linked</span> @Html.ActionLink("Link", "LinkGoogle")
                        }
                    </td>
                </tr>
                <tr>
                    <td>Some other Services</td>
                    <td>Not implemented</td>
                </tr>
            </tbody>
        </table>
</div>
