﻿table.addressExport
{
	
}

	table.addressExport th
	{
		text-align:left;
	}


	table.addressExport td
	{
		padding: 0 20px 7px 0; 
	}
	
	table.addressExport td.highlight
	{
		font-style:italic;
	}	
	
	table.addressExport label
	{
		margin-left:5px;
	}	
