/* Data Form Table */
.dataform, .dataformFreeColumnWidths
{
    width:100%;   
    background: #edf3f4;
}
.dataform td, .dataformFreeColumnWidths td
{    
    padding:5px;
    margin:0;
    vertical-align:top;
}
.dataform td
{
	width:25%;
}
/* DataGrid / Gridview Layout */
.datagrid
{
    margin-top:5px;
    width:100%;       
    background-color:#FFFFFF;
    border:1px solid #7eacb1;    
}
.datagrid td, .datagrid th
{
    padding:3px;
    text-align:left;
    border:0;    
    color:Black;
    border-top:1px solid #7eacb1;    
    border-bottom:1px solid #7eacb1;    
}
.datagrid td.right, .datagrid th.right
{
	text-align:right;
	padding-right:10px;
}
.datagrid th
{
    padding:0;
    height:21px;  
    padding-left:3px;
    border:1px solid #7eacb1;
    background-image:url(../Images/Grid/th.gif);
}
.freeTextBoxCell, .freeTextBoxCell td
{
    padding:0;
    text-align:left;    
}

/* ASPxGridView */
table.dxgvControl_Glass tr.archived
{
	color:#9e9d9d;
	background-color:#f5f5f5;
}

table.dxgvControl_Glass tr.dxgvDataRowHover_Glass
{	
	background-color:#e7eef2;
}

/* ASPXComboBox */
.dataformV2 td.control tr.dxeListBoxItemRow_Glass span.archived
{
	display:block;
	font-weight:normal;	
	margin:0;
	padding:0;	
	color:#9e9d9d;
	background-color:#f5f5f5;	
}


/* Titles for Panels / Dividers etc. */
h1, h2, .title, .subtitle
{
    padding:0;
    margin:0;
    color:#0d4c9f;
	font-family:Tahoma;
	font-weight:bold;
	font-size:14px;	 
}
h2, .subtitle
{
	font-size:13px;	     
}


/* Normal Page Layout */
.InputTable
{
    border:0px;
    padding:0px;
    margin:0px;    
    width:100%;  
}
.InputTable td
{
    border:0px;
    padding:0px;
    margin:0px;  
    background-color:#f6f6f9;       
}
.InputTableLeft
{
    text-align:right;
    width:20%;
    font-weight:bold;  
    vertical-align:top;  
}
.InputTableRight
{
    text-align:left; 
    width:30%;   
}
.InputTableButtons
{
    text-align:center; 

}
.input, .inputNoResize, .input, .inputNoHeight, .inputNoHeight
{
    font-family:Tahoma;
    font-size:12px;
    border: solid 1px #7eacb1;    
    line-height:12px;
    padding:4px 2px 5px 2px; /* If you think these value need to be changed, please ask GK. */
    background-color:#FFFFFF;
    width:99%;
}

select.input {
    padding:1px 0px 2px 0px;
}

table.input
{
    padding:0;
}
.inputNoHeight, .inputNoHeight
{
    height:auto;
    width:100%;
	font-family:Tahoma, Verdana, Arial;
	font-size:12px;        
}

/* Checkbox list */
.checkboxlist {
	display: block;
	overflow: hidden;
	width: 100%;
}

.listbox 
{
    height: 340px;
    width: 100% !important;
}

    .listbox .dxlbd {
        width: 100% !important;
    }

.checkboxlist input {
	float: left;
	clear: left;
	margin: 8px 10px 0 0;
}

.checkboxlist label {
	float: left;
	line-height: 26px;
}

	.checkboxlist input:checked + label,
	.dataformV2 .checkboxlist input:checked + label {
		font-weight: bold;
	}

.dataformV2 td.control .default-checkboxlist td label {    
    top:-2px;
}

.dataformV2 td.control .default-checkboxlist td input {    
    margin-top:3px;
    top:0px;
}

/* Indicator Invalid en Required */
.input[readonly], .input[disabled]
{
    background-color:#e0e0e0;
}
.ivld {
    background-color:#f9e0e0;
}

.ivld > tbody tr td input {
    background-color: #f9e0e0 !important;
}

.dxtcActiveTab_Glass.error, .dxtcActiveTabWithTabPositionBottom_Glass.error, .dxtcActiveTabWithTabPositionLeft_Glass.error, .dxtcActiveTabWithTabPositionRight_Glass.error
{
	border-top-color:#ff0000;
	border-top-width:2px;	
}
.required
{
	border-left: 2px solid red;
}
/* Validation summary */
.inputNoResize
{
    width:auto;
}
.dgheader, .dgevenrow, .dgoddrow
{
    font-family:Arial;
    font-size:12px;
    background-color:#f4fafb;
}
.dgheader, .datagrid-header
{
    font-weight:bold;
    background-color:#f4fafb;
    color:White;
}
.datagrid-header a
{
    text-decoration:none;
}
.sortedDesc a, .sortedAsc a
{
	background-image:url(../images/icons/header-sort-desc.gif);
	padding-right:23px;
	background-position:right;
	background-repeat:no-repeat;
}
.sortedAsc a
{
	background-image:url(../images/icons/header-sort-asc.gif);
}
.datagrid tr
{
    background-color:#f4fafb;
}
.dgevenrow, .datagrid tr.datagrid-altrow
{
    background-color:#f4fafb;
}
.datagrid tr:hover, .datagrid tr.datagrid-altrow:hover
{
	background-color:#f4fafb;
}

.clearStyles, .clearStyles *, .clearStyles * *, .clearStyles td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	width:auto;
}
/* Listbox Toggle */
.dataformV2 td.control span.listboxToggle {
    margin:0;
    padding:4px 4px 4px 4px;
    background-color:#fff;
    border:1px solid #a0a0a0;
    position:relative;
    top:1px;
}
.dataformV2 td.control span.listboxToggle input {
    margin-bottom:5px;
    margin-left:5px;
}

.dataformV2 td.control span.listboxToggle label {
    padding-left:2px;    
}

/* PRE */
.dataformV2 td.control span pre {
    margin-top:6px;
}

/* PAGER STYLES */
table.PagerTable
{
	margin:0 auto;
}
table.PagerTable td
{
	padding:3px;
	padding-left:5px;
	padding-right:5px;
}
table.PagerTable td span
{
	font-weight:bold;
}

/* TABCONTROL STYLES */
.tabArea
{
    background-color: White;
    font-size: x-small;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top:1px solid black;
    position:absolute;
    top:42px;
    height:400px;
    z-index:-25;
}
.dataformV2 
{
	width:100%;   
}
.dataformV2 td.control, .dataformV2 td.label, 
.dataformV2NoWidth td.control, .dataformV2NoWidth td.label
{
	padding:5px;
	vertical-align:top;
}
.dataformV2NoWidth td
{
	padding-right:10px;
}
.dataformV2NoWidth td.nopadding *
{
	padding-right:0px;
}
.dataformV2 td.control table td label,
.dataformV2NoWidth td.control label 
{
	padding-right:10px;	
	padding-left:3px;
	position:relative;
	top:0px;
	font-weight:normal;
}
.dataformV2 td.control table td input[type="radio"]
{
	position:relative;
	top:3px;	
} 
.dataformV2 td.control input[type="checkbox"],
.dataformV2NoWidth td.control input[type="checkbox"]
{
	position:relative;
	top:4px;	
} 
.dataformV2 td.control label,
.dataformV2NoWidth td.control label  /* checkbox */ 
{
	padding-right:10px;	
	padding-left:5px;
	font-weight:normal;	
}

.dataformV2 td.control ul  /* checkbox */ 
{
	padding:0 0 0 10px;
}

.dataformV2 td.control li 
{
	margin:4px 0 4px 10px;
}
.dataformV2 td.control li.list
{
    list-style: circle;
    list-style-type: circle;
}

	.dataformV2 td.control li input[type="checkbox"]
	{
		margin:0 7px 0 0;
	}
	
	

.dataformV2NoWidth th, .dataformV2 th
{
	text-align:left;
	padding-right:10px;
}

.dataformV2 td.control, .dataformV2 td.text
{
    width:35%;
}
.dataformV2 td.threeCol
{
    width:85%;
}
.dataformV2 td.thirdLabel
{
    width:13%;
    text-align:right;
    padding-right:0px;
    padding-top:8px;
    vertical-align: top;
}
.dataformV2 td.thirdControl
{
    width:20%;
    vertical-align: top;
}
.dataformV2 td.control span,
.dataformV2 td.control span.nobold {
    display: block; /* reverted from inline back to block, as it broke the outlining of all labels! - so if you need to sort something not this. */
    margin-top: 3px;
    /*margin-left:4px;*/
    margin-bottom: 3px;
	margin-right: 3px;
    font-weight: bold;
}

    .dataformV2 td.control span[disabled="disabled"] {
        margin:auto;
        display:inline-block;
    }

    .dataformV2 td.control span span,
    .dataformV2 td.control span.nobold span
    {
	    display:inline;
	    font-weight:normal;
    }

    /* Fix for span tags around checkboxes on postbacks */
    .dataformV2 td.control .default-checkboxlist span,
    .dataformV2 td.control .default-checkboxlist span.nobold
    {
        display: inline;
        margin-left: 2px;
    }

.dataformV2 td.control a {
    margin-top: 3px;
    margin-bottom: 3px;
}

.dataformV2 td.control span.nobold,
.dataformV2 td.control .dxbButton_Glass span
{
	font-weight:normal;
}

    .dataformV2 td.control span label
    {
        margin-left:4px;
    }

.dataformV2 td.control.float div
{
    float:left;
    margin-right:3px;
}
.dataformV2 td.label
{
    width:15%;
}
.dataformV2 td.label, .dataformV2NoWidth td.label,
.dataformV2 td.text, .dataformV2NoWidth td.text
{
    text-align:right;
    padding-right:0px;
    padding-top:8px;
}
.dataformV2 td.text, .dataformV2NoWidth td.text
{
	vertical-align:top;
	text-align:left;
	padding-left:6px;
}
.dataformV2 td.subtitle
{
	padding-top:10px;
	font-weight:bold;
	font-size:110%;
	text-align:left;
}
/* MAILING MANAGER / EDITOR */
table.layoutEditor
{
    padding-top:3px;    
    width:100%;
}
table.layoutEditor .label 
{
    vertical-align:top;
    text-align:right;
    padding-left:11px;
    padding-top:5px;
    width:125px;
}
table.layoutEditor .control
{
    padding-left:5px;
    padding-right:12px; 
    padding-top:3px;
    padding-bottom:3px;   
}
table.layoutEditor .sectionHeader .label, table.layoutEditor .sectionHeader .control
{
    padding-bottom:10px;
}
table.layoutEditor .control .float, table.layoutEditor .control .floatButton
{
    float:left;
    margin-right:5px;
}
table.layoutEditor .control .previewImage
{
    border:1px solid #7eacb1;
    margin-right:5px;
}
table.layoutEditor .control .floatButton
{
    margin-top:1px;
}
#ie table.layoutEditor .control .floatButton
{
	margin-top:0px;
}
table.layoutEditor .subElements
{    
    border:1px solid #4986a2;
    background:#9bbccb;
    padding:15px;    
    
}
table.layoutEditor .subElements .subElement
{
    width:100%;
    /*border:1px solid #7eacb1;
    border-top:0;    
    background:#ebf2f4;
    background-image:url(../images/layouteditor/bg-block.gif);
    background-position:bottom;
    background-repeat:repeat-x;
    */    
}
div#ContentDiv table.layoutEditor div.header .controlsPanel
{
    /*margin-bottom:3px;*/
}
table.layoutEditor .subElements .subElement .label
{
    width:108px;
}
div#ContentDiv table.layoutEditor div.header
{
    /*
    background-image:url(../images/layouteditor/bg-heading.gif);
    font-weight:normal;    
    text-align:left;   
    padding:0px 0px 0px 0px;     
    background-color:#ffffff;
    border:1px solid #7eacb1;    
    border-bottom:1px solid #d5d5d5;    
    cursor:move;
    */
}
div.hr 
{
  margin-top:5px;
  height: 1px;
  background-color:#ffffff;
  border-top:1px solid #9bbccb;  
  margin-bottom:5px;
}
div.hr hr {
  display: none;
}
hr
{
    padding:0;
    margin:0;
}
div#ContentDiv assortimentImport
{
    padding-left:15px;
}
/*
label
{
    position:relative;
    top:-3px;
}*/
.dataform td.resetStyles *, .dataform td.resetStyles * *, .dataform td.resetStyles * * *
{
    padding:0;
    margin:0;
}
/* devexpress styles */
table.required
{
    padding:0;
    border-left: 2px solid red;
}
.text-right
{
    text-align:left;
}
/* DevEx Tabs */
table.dxtcControl_Glass td.dxtcTab_Glass, table.dxtcControl_Glass td.dxtcActiveTab_Glass
{
    padding-left:12px;
    padding-right:12px;
}
.dxtcControl_Glass
{
	margin-bottom:10px;
}
/* WIZARD CONTROL */
.wizard
{  
    width:100%;
}
.wizard .sideBar
{    
    background-color:#cfdee4;
    padding:5px 10px 5px 5px;
    text-align:left;
    vertical-align:top;    
    white-space:nowrap;
}
.wizard .sideBar a
{    
    display:block;
    margin-bottom:5px;
}
/* WIZARD FORM */
.wizard .wizardForm 
{
    margin:5px;
}
.wizard .navigation, .wizardForm .navigation table
{
    float:left;
}
.wizardForm .label
{
    vertical-align:top;
    font-weight:bold;
    padding-right:10px;
    white-space:nowrap;
}
.wizardForm .control
{    
    vertical-align:top;    
    padding-right:10px;        
}
.wizardForm .control .input
{
    width:100%;
}
.wizardForm .explanation
{
    font-style:italic;    
}
/* INFO TIP */
div.infoTip
{
    background-color:White;   
    padding:5px;
    border:1px solid #acb7bd;
    background-image:url(../images/backgrounds/infoTip-help.png);
    background-position:right top;
    background-repeat:no-repeat;
    margin-right:10px;
    z-index:10000;
}
div.infoTip .tip-title
{
    border-bottom:1px solid #dee8ed;
    font-weight:bold;
    padding-bottom:3px;
    margin-bottom:3px;    
}
div.infoTip .tip-title, div.infoTip .tip-text
{
    padding-left:5px;
    padding-right:5px;
}
.dataformV3
{
    width:100%;    
}
.dataformV3 > label, .dataformV3 span
{
    
}
.dataformV3 > div
{
    
}
.bbButton
{
	margin-top: 2px;
	margin-right: 2px;
	background-color: #fcfcfc; 
	border: solid 1px #7eacb1;
}

/* ByCropper image */
.bycropper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

    .bycropper span {
        float: left;
        border: 1px solid #7eacb1;
    }
    
        .bycropper.error span {
            border-color: red;
        }

    .bycropper img {
        float: left;
    }
    
    
/* MasterPageEntity Specific */
#content .entity-archived
{
	position:relative;
	top:-4px;	
	margin:0 auto;
	font-size:14px;
	text-align:center;
	font-weight:bold;
	background-color:#f00;	
	color:#fff;
	padding:5px 5px;
}

/* Previous/Next navigation in EnergyAdvice contracts */
div.previousNextNavigation
{	
	float:right;
	margin-right:45px;
	width:125px;
	background-color:Aqua;
	text-align:right;
	position:relative;
}

div.previousNextNavigation a.previous,
div.previousNextNavigation a.next
{
	display:block;
	position:absolute;
	text-align:center;		
	width:55px;
	left:0px;
	top:6px;
}

div.previousNextNavigation a.next
{
	left:65px;	
	width:65px;	
}

/* Product matching */
.empty
{
    background-color:#f9e0e0;
}
.valid
{
    background-color:#ddf7cb;
}
.suggestion
{
    background-color: #d9f3fb;
}

.pnlEntertainmentTitleColumn
{
    float: left;
    width: 11%;
    font-weight: bold;
}
.pnlEntertainments
{
    float: left;
    width: 29%;
    padding-left: 5px;
    border-left: 1px solid black;
}
.tblEntertainment .category
{
    float: left;
    width: 200px;
}
.tblEntertainment .checked
{   
    float: left;
    width: 20px;
    margin-top: 4px;
    margin-left: 50px;
}
.tblEntertainment .sortorder
{
    float: left;
    width: 50px;
}
.tblEntertainment .entertainment
{
    float: left;
    width: 200px;   
    margin-top: 3px;
}
.tdMenuTreelist
{
    width: 100%;    
}
.teRecurring
{
    float: left;    
}
.add legend 
{
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 3px;
    background: url(../Images/Icons/add.png) no-repeat 2px 1px ;
}

legend 
{
    color: #427E9C;
    font-weight: bold;
    margin-left: 10px;
    padding-left: 2px;
    padding-right: 3px;
}

fieldset {
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    padding-left: 1px;
    margin-bottom: 16px;
}

.lblInstallationCaption
{
    
}
.lblInstallationValue
{
    float: left;
    text-align: left !important;
    font-weight: bold;    
}
.divMediaLeft
{
    float: left;    
    width: 49%;
}
.divMediaRight
{
    float: left;
    width: 49%;
    padding: 7px 10px 10px 10px;
}
.productInfoAlteration
{
    font-weight: bold;
}
.olRecentCompanies
{
    padding-left: 18px;
    padding-top: 10px;
}
.divPageLeft
{
    float: left;    
    width: 49%;
}
.divPageRight
{
    float: left;
    width: 49%;
    padding: 0px 10px 10px 10px;
}

.installation_modify
{
    float: right;
    padding-left: 4px;
}
.lblOrderValue
{
    float: left;
    text-align: left !important;
}
.tabButtons
{
    width: 100%;
    height: 34px;
}
.customToolbarButton
{
    padding-left: 4px;
    height: 28px;
}
.comboboxLinkImg
{
    float: right;
    text-align: center;
    width: 4%;
    padding: 6px 0px 4px 0px;
    margin-top: -20px;
}
#divCategoryProductBottomButtons
{
    margin-top: 10px;
}
.menuOverviewOption
{
    float: left;
    width: 100%;
    font-weight: normal !important;
}
.checkboxlist-advertisements
{
    width: 100%;
}
    .checkboxlist-advertisements td
    {
        width: 33%;
    }
    .checkboxlist-advertisements td label
    {
        padding-left: 10px;
    }
.hidden
{
    display: none;
}

.survey-bottom-bar
{
    width: 100%;
    height: 20px;
}

/* Points-of-interest */

.poi .input, .poi .inputNoResize, .poi .input, .poi .inputNoHeight, .poi .inputNoHeight
{
    width:70%;
}

.imported
{
    background-color: #ff0000;
    width: 10px;
    height: 10px;
    display: block;
}

div.anchor{
  display: block;
  height: 125px; /*same height as header*/
  margin-top: -125px; /*same height as header*/
  visibility: hidden;
}

.floatleft {
    float: left;
}

.margin-top-5 {
    margin-top: 3px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-top-minus-5 {
    margin-top: -3px;
}

.margin-top-2 {
    margin-top: 2px;
}

.dxtc-strip {
    height: auto !important;
}

.link-list a {
    margin: 4px 0;
    display: block;
}
.dxgvCommandColumn_Glass .dxICheckBox_Glass,
.dxpc-contentWrapper .dxICheckBox_Glass {
    width: 13px;
    height: 13px;
}

.disable .removeButton {
    display: none !important;
} 