﻿table.summary
{
}

    table.summary td a    
    {
         text-decoration:none;
         color:inherit;                           
         display:block;
         border-bottom:1px solid transparent;
    }
    
    table.summary td a:hover
    {
        border-bottom:1px solid #000;
    }

    table.summary td, table.summary th
    {
        text-align:left;        
        padding:1px 4px;
    }
    
    table.summary td
    {
        text-align:center;
        border-bottom:1px dotted #000;
        border-right:1px dotted #000;
        width:38px;
    }
    
    table.summary td.left
    {
        text-align:left;
        width:auto;
        white-space:nowrap;
    }
    
    table.summary td.red
    {
        color:Red;
    }    
    
    table.summary td.green
    {
        color:Green;
    }        
    
    table.summary td.orange
    {
        color:Orange;
    }            
    
		table.summary tr th a,		
		table.summary tr th a
		{			
		    color:#000;
			text-decoration:none;
			display:inline-block;
			padding-right:12px;
			background-image:url(../images/icons/sort-null.gif);		
			background-position:right center;	
			background-repeat:no-repeat;			
		}
		
		table.summary tr th a.normal,
		table.summary tr th a.normal
		{
			text-decoration:underline;
			font-weight:normal;
			background:0;
		}
				
		table.summary tr th a.asc,
		table.summary tr th a.asc
		{
			background-image:url(../images/icons/sort-asc.gif);		
		}		
		
		table.summary tr th a.desc,
		table.summary tr th a.desc
		{
			background-image:url(../images/icons/sort-desc.gif);		
		}	
		
table.orderhour
{
}		

    table.orderhour th
    {
        text-align:left;
        white-space:nowrap;
        font-weight:bold;
        width:122px;
    }

    table.orderhour td
    {
        padding: 0;
        width: 170px;
    }

    table.orderhour .available
    {
    }

    table.orderhour .available_column
    {
        width: 380px;
    }
    
    table.orderhour .empty_space
    {
        width: 20px;
    }

    table.orderhour td div
    {
        padding: 2px 4px;
    }

    table.orderhour td table
    {
        float:left;
    }

    table.orderhour .dxeButtonEdit 
    {
        width:50px;
    }

    table.orderhour .dxeButtonEdit_Glass
    {
        float: left;
        width: 83px;
        margin: 0 0 4px 0;
    }

