﻿table.attendancyRegistration
{
	margin-top:15px;
}

	table.attendancyRegistration th
	{
		text-align:left;
		padding-left:5px;
	}

	table.attendancyRegistration td, table.attendancyRegistration th
	{
		padding-right:inherit;		
	}

	table.attendancyRegistration td.name
	{
		
	}
	
	table.attendancyRegistration td.attended
	{		
	}	
	
	table.attendancyRegistration td.notes
	{
		width:150px;
	}