﻿/* DEFAULT */
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%; /* fix height to 100% for IE */
	max-height: 100%; /* fix height for other browsers */
	padding: 0; /*remove padding */
	margin: 0; /* remove margins */
	border: 0; /* remove borders */
	font-size: 12px; /*set default font size */
	font-family: tahoma, verdana, arial, sans-serif; /* set default font */
	/* hide overflow:hidden from IE5/Mac */
	/* \*/
	overflow: hidden; /*get rid of scroll bars in IE */
	/* */
}

body {
	behavior: url("csshover-ie6.htc");
}

body {
	height: 100%; /* fix height to 100% for IE */
	max-height: 100%; /* fix height for other browsers */
	overflow: hidden; /*get rid of scroll bars in IE */
	padding: 0; /*remove padding */
	margin: 0; /* remove margins */
	border: 0; /* remove borders */
}

form {
	width: 100%;
	height: 100%;
}

a {
	color: #216889;
}

.invisible {
	color: #B2BCBE;
}

#head {
	position: absolute;
	top: 0;
	width: 100%;
	height: 55px;
	z-index: 50;
}

#head .mainmenu {
	background-color: #edf3f4;
	display: flex;
	flex-grow: 1;
}

	#head .mainmenu .nav {
		display: flex;
		flex-grow: 1;
	}

		#head .mainmenu .nav ul {
			list-style-type: none; /* for Firefox */
		}

		#head .mainmenu .nav li {
			position: relative;
			list-style-type: none;
		}

			#head .mainmenu .nav li.last {
				border-right: 0;
			}

		#head .mainmenu .nav ul li {
			border: 0;
		}

		#head .mainmenu .nav li a {
			display: block;
			height: 20px;
			white-space: nowrap;
			text-decoration: none;
			background-image: url(../images/Interface/navigation-pipe.gif);
			background-position: right;
			background-repeat: no-repeat;
			padding: 4px 7px 2px 7px;
			float: left;
		}

			#head .mainmenu .nav li a.last {
				background-image: none;
			}

		* html #head .mainmenu .nav li a {
			/*width:7em; w\idth:6em; /* hack for IE5.5 */
		}


			#head .mainmenu .nav li a.active {
				font-weight: bold;
			}

		#head .mainmenu .nav li ul {
			visibility: hidden;
			position: absolute;
			/*top:2.5em; */
			left: 0;
			height: 0;
			overflow: hidden;
		}

		#head .mainmenu .nav table {
			margin: -1px;
			border-collapse: collapse;
			font-size: 1em; /* font size for IE5.5 */
		}

		/* fist line style for IE7 and non-IE browsers and the second line for IE5.5 and IE6 */
		/* hover for menu item */
		#head .mainmenu .nav li:hover a,
		#head .mainmenu .nav li a:hover {
			background-color: #ffffff;
			text-decoration: none;
			border: 0;
		}
			/* submenu lu style */
			#head .mainmenu .nav li:hover ul,
			#head .mainmenu .nav li a:hover ul {
				visibility: visible;
				height: auto;
				width: 200px;
				background: #fff;
				left: 0;
				top: 26px;
				overflow: hidden;
				border: 1px solid #969696;
				padding-right: 4px;
				border-top: 0;
			}
				/* style of the submenu item link */
				#head .mainmenu .nav li:hover ul li a,
				#head .mainmenu .nav li a:hover ul li a {
					display: block;
					background-image: none;
					height: auto;
					font-size: 11px;
					padding-top: 6px;
					padding-left: 18px;
					padding-bottom: 6px;
					padding-right: 7px;
					width: 200px;
				}

					/* hover for submenu item */
					#head .mainmenu .nav li:hover ul li a:hover,
					#head .mainmenu .nav li a:hover ul li a:hover {
						background-color: #edf3f4;
					}

					/* html #head .mainmenu .nav li a:hover ul li a 
		{
			width:10em; w\idth:9em; /* hack for IE5.5 
		}*/

					#head .mainmenu .nav li:hover ul li a.drop,
					#head .mainmenu .nav li a:hover ul li a.drop {
						font-weight: bold;
					}

					/* sub-sub-menu */
					#head .mainmenu .nav li:hover ul li ul,
					#head .mainmenu .nav li a:hover ul li a ul {
						visibility: hidden;
						position: absolute;
						top: 0;
						left: 9.5em;
						height: 0;
						overflow: hidden;
					}

					#head .mainmenu .nav li:hover ul li:hover ul,
					#head .mainmenu .nav li a:hover ul li a:hover ul {
						visibility: visible;
						color: #000;
						border: 1px solid #ddd;
						height: auto;
						background: #fff;
						width: 11.5em;
					}

						#head .mainmenu .nav li:hover ul li:hover ul.left,
						#head .mainmenu .nav li a:hover ul li a:hover ul.left {
							left: -9.3em;
						}

						#head .mainmenu .nav li:hover ul li:hover ul li a,
						#head .mainmenu .nav li a:hover ul li a:hover ul li a {
							display: block;
							height: auto;
						}

							#head .mainmenu .nav li:hover ul li:hover ul li:hover a,
							#head .mainmenu .nav li a:hover ul li a:hover ul li a:hover {
								text-decoration: underline;
							}


#head .titles {
	display: flex;
	flex-grow: 1;
	align-items: center;
	background-color: #226889;
	height: 29px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(../images/Interface/titles-background.gif);
}

	#head .titles div {
		padding: 3px 0 0 20px;
	}

	#head .titles .module {
		padding: 0 8px;
		width: 163px;
	}

	#head .titles .seperator {
		height: 26px;
		background-image: url(../images/Interface/titles-seperator.gif);
		background-repeat: no-repeat;
	}

	#head .titles .pagetitle {
		display: flex;
		padding: 0;
	}

		#head .titles .pagetitle div {
			padding: 0;
		}

		#head .titles .pagetitle .breadcrumb {
			display: block;
			font-size: 12px;
		}

			#head .titles .pagetitle .breadcrumb a {
				color: #ffffff;
			}

	#head .titles .user {
		display: flex;
		flex-grow: 1;
		padding: 0 8px;
		justify-content: end;
		font-weight: normal;
	}

		#head .titles .user .environment {
			background-color: white;
			color: blue;
			border-radius: 6px;
			font-size: 11px;
			padding: 0 4px;
			margin-right: 8px;
			border: 2px solid rgb(223, 229, 230);
		}

@media only screen and (max-width: 1300px) {
	#head .titles .user .environment {
		display: none;
	}
}

@media only screen and (max-width: 1200px) {
	#head .titles .user .loggedInAs {
		display: none;
	}
}

@media only screen and (max-width: 860px) {
	#head .titles .user {
		display: none;
	}
}

#head div.titles div.user table {
	float: right;
}

#head div.titles div.user div {
	padding: 0px;
}

#head div.titles div.user table.dxeButtonEditSys {
	margin-top: -1px;
	margin-left: 5px;
}

/* dropdown scroll list*/
#head div.titles div.user table table {
	margin: 0px;
}


#head div.titles div.user table .dxeButtonEditButton_Glass {
	padding: 6px 2px;
}

#head div.titles div.user table td.dxic {
	padding-top: 0px;
}

#toolbar {
	position: fixed;
	top: 55px;
	height: 37px;
	width: 100%;
	overflow: hidden;
	z-index: 20;
	border-bottom: 1px solid #d8ddde;
	left: 190px;
}

.btn-group {
	display: table-cell;
	width: 100%;
	margin: 10px 0;
}

	.btn-group > .button {
		margin-right: 5px;
		margin-top: 5px;
	}

#toolbar .buttons {
	display: block;
	background-color: #dfe5e6;
	background-image: url(../images/Interface/toolbar-background.gif);
	border: 1px solid #FFFFFF;
	border-right: 0;
	height: 29px;
	padding: 4px 0px 2px 5px;
	width: 100%;
}

	#toolbar .buttons #toolbarDiv {
		display: inline-block;
	}

		#toolbar .buttons #toolbarDiv span.toolbar {
			float: left; /* added for chrome, otherwise Non-genric button would fall down */
		}

#toolbar.archived .buttons {
	background-image: url(../images/Interface/toolbar-background-red.gif);
}

#toolbar .buttons .toolbar * {
}

#toolbar .buttons .toolbar .ToolbarButtonLeft,
#toolbar .buttons .toolbar .ToolbarSave,
#toolbar .buttons .toolbar .ToolbarDelete {
	margin: 0 0 0 4px;
}

#toolbar .buttons .toolbar .ToolbarButtonRight {
	margin-left: -1px;
}

#toolbar .buttons .toolbar td.dxb span {
	display: block;
	padding-top: 1px;
}

#ie #toolbar .buttons {
	width: auto;
	padding: 5px 0px 0px 5px;
	height: 30px;
}

	#navigation {
		position: fixed;
		background-image: url(../images/Interface/navigation-background.gif);
		background-repeat: repeat-y;
		width: 190px;
		height: 100%;
		z-index: 30;
		overflow-y: auto;
	}

	#navigation span {
		padding-left: 15px;
		color: dimgrey
	}

	#navigation a {
		color: #000000;
		text-decoration: none;
	}

	#navigation a:hover {
		text-decoration: underline;
	}

	#navigation a.active {
		font-weight: bold;
	}

	#navigation ul {
		list-style-image: url(../images/Interface/navigation-bullet.gif);
		padding: 10px 0 10px 27px;
	}

	#navigation ul li {
		margin-bottom: 13px;
	}

	#navigation .history {
		margin-bottom: 15px;
		font-size: 11px;
	}

	#navigation .menu {
		margin-top: 55px;
	}

	#navigation .history li {
		margin-bottom: 4px;
	}

#poweredby {
	position: absolute;
	bottom: 0px;
	z-index: 70;
	width: 189px;
	background-color: #FFFFFF;
	background-image: url(../images/Interface/poweredby-background.gif);
	text-align: center;
	height: 17px;
	padding-top: 3px;
	border-top: 1px solid #d8ddde;
}

	#poweredby a {
		color: #b2bcbe;
		font-size: 10px;
		text-decoration: none;
	}

	#poweredby a:hover {
		text-decoration: underline;
	}

#content {
	display: block; /* set up as a block */
	height: 100%; /* set height to full page */
	max-height: 100%;
	overflow-y: auto; /* add scroll bars as required */
	padding-left: 209px; /* pad left to avoid navigation div if required */
	padding-right: 20px;
	position: relative; /* set up relative positioning so that z-index will work */
	z-index: 10; /* allocate a suitable z-index */
}

	#content .padTop {
		display: block;
		height: 106px; /* height of the head + toolbar + a padding */
	}

	#content .dxbButton_Glass div.dxb {
		padding-top: 1px;
		padding-bottom: 2px
	}

	#content input.button, #toolbar input.button {
		background: #DADFE0 url(../App_Themes/Glass/Editors/edtButtonBack.gif) repeat-x scroll center top;
		border: 1px solid #B2BCBE;
		padding: 2px;
		padding-left: 14px;
		padding-right: 14px;
		font-family: Tahoma;
		font-size: 9pt;
		font-weight: normal;
	}

	/* Same height as text box*/
	#content td.control input.button {
		/*margin-left: 5px;*/
		padding: 1px 5px 2px;
	}

	#content input.button:hover, #toolbar input.button:hover {
		background: #B5D7DB url(../App_Themes/Glass/Editors/edtButtonHoverBack.gif) top;
		background-repeat: repeat-x;
		border: solid 1px #71ACB4;
	}

#toolbar input.button {
	padding: 3px 12px 4px 12px;
	float: left;
	margin-left: 4px;
	cursor: pointer;
	height: 27px; /* added for chrome */
}

#toolbar .button-right {
	float: right !important;
}

#notificationbar {
	position: fixed;
	left: 190px;
	top: 90px;
	background-color: #ffffe7;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #adaa9c;
	width: 100%;
	z-index: 20;
	padding-left: 5px;
}

	#notificationbar .vsummary {
		padding: 5px;
		line-height: 155%;
		width: 100%;
	}

		#notificationbar .vsummary li, ul {
			list-style: none;
		}

			#notificationbar .vsummary li.informator-information,
			#notificationbar .vsummary li.informator-warning,
			#notificationbar .vsummary li.validation-error {
				padding-left: 20px;
				background: transparent url(../images/icons/information.png) no-repeat top left;
				background-position: 0 1px;
			}

			#notificationbar .vsummary li.informator-warning {
				background-image: url(../images/icons/warning.png);
			}

			#notificationbar .vsummary li.validation-error {
				background-image: url(../images/icons/error.png);
			}

/* GRIDVIEW BUTTONS */
.dxeHyperlink_gridviewdeletebutton {
	text-decoration: none;
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(../images/icons/delete.png)
}

.dxeHyperlink_gridvieweditbutton {
	text-decoration: none;
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(../images/icons/pencil.png)
}

.dxgvCommandColumnItem_Glass {
	cursor: pointer;
}

/* GRIDVIEW FILTER ROW */
div#content table.dxgvControl_Glass table.dxgvTable_Glass tr.dxgvFilterRow_Glass table.dxeButtonEditSys.dxeButtonEdit_Glass input.dxeEditArea_Glass.dxeEditAreaSys,
div#content table.dxgvControl_Glass table.dxgvTable_Glass tr.dxgvFilterRow_Glass table.dxeTextBoxSys.dxeTextBox_Glass input.dxeEditArea_Glass.dxeEditAreaSys {
	padding: 2px 3px 3px 3px;
}

/* EXPORT BUTTONS */
.exportbuttons {
	margin-bottom: 7px;
}

	.exportbuttons input {
		margin-right: 7px;
	}

.pricingEntry td, .pricingEntry th {
	text-align: right;
	padding-right: 15px;
}

	.pricingEntry td input {
		width: 65px;
	}

	.pricingEntry th.priceSubType {
		width: 65px;
		overflow: hidden;
	}

/* MenuVerifier */
.menuVerifier {
}

	.menuVerifier table td a, .menuVerifier table td.control span {
		font-weight: normal;
		display: inline-block;
		margin: 2px 0 0 0;
	}

	.menuVerifier .products {
		padding: 10px;
	}


	.menuVerifier .warning {
		font-weight: bold;
		color: Orange;
	}

	.menuVerifier .error {
		font-weight: bold;
		color: Red;
	}

	.menuVerifier table.categoryVerifier, .menuVerifier table.productVerifier {
		border: 1px solid #000;
		margin-bottom: 20px;
	}

	.menuVerifier table.suggestions {
		width: 100%;
	}

		.menuVerifier table.suggestions td {
			width: 25%;
			padding: 10px;
			border: 1px dotted #000;
		}


	.menuVerifier .categoryLayout {
		width: 100%;
		border: 1px solid #bfbfbf;
	}

	.menuVerifier .categoryLayout {
		margin-bottom: 10px;
	}

		.menuVerifier .categoryLayout td {
			width: 50%;
			background-color: #e5e5e5;
			margin: 10px;
		}

			.menuVerifier .categoryLayout td.category span,
			.menuVerifier .categoryLayout td.product span {
				font-weight: normal;
				font-size: 12px;
			}

	.menuVerifier ul.alterations {
		margin: 0;
	}

		.menuVerifier ul.alterations li {
			border: 1px dotted #000;
			padding: 3px;
		}

			.menuVerifier ul.alterations li li {
				border: none;
			}

.dxtlControl a {
	color: inherit;
}

#divProductInfo {
	position: absolute;
	width: auto;
	height: auto;
	border: 1px solid #256B8B;
	background-color: #EFEFEF;
	padding: 2px;
	visibility: hidden;
	display: none;
}
/* DG Crop */
.dg-shim {
	opacity: 0.3;
	filter: alpha(opacity = 30);
	background-color: #06E;
}

.dg-resize-handle {
	background-image: url(../images/dg-crop/square-blue.gif);
	background-repeat: no-repeat;
}

.dg-crop {
	border: 1px dashed #515153;
}

.dg-movable {
	background-color: #FFF;
	filter: alpha(opacity=0);
	opacity: 0;
	width: 100%;
}

.dg-crop-shadow {
	background-color: #229;
	filter: alpha(opacity:35);
	opacity: 0.35;
}

/* DevExpress changes & hacks */
#content td.control .dxeButtonEditSys input.dxeEditArea_Glass[type="text"],
#content td.control .dxeButtonEditSys input.dxeEditArea_Glass[type="password"],
#content td.control .dxeTextBoxSys input.dxeEditArea_Glass[type="text"],
#content td.control .dxeTextBoxSys input.dxeEditArea_Glass[type="password"],
#content div.dxtcLite_Glass .dxeButtonEditSys input.dxeEditArea_Glass[type="text"] {
	height: 15px;
	line-height: normal;
	padding: 1px 0 5px;
}

/* Dropdown list text padding */
#content table.dataformV2 tbody tr td.control table.dxeButtonEditSys.dxeButtonEditSysWithSpacing.dxeButtonEdit_Glass tbody tr td.dxic input.dxeEditArea_Glass.dxeEditAreaSys {
	padding-top: 1px;
	padding-bottom: 3px;
}

td.control .dxeButtonEditButton_Glass,
#content div.dxtcLite_Glass .dxeButtonEditButton_Glass {
	padding: 4px 4px;
}

table.orderhour .dxeButtonEditButton_Glass,
#content div.dxtcLite_Glass .dxeButtonEditButton_Glass {
	padding: 2px 2px 2px 3px;
}

#content .dxeButtonEditSysWithSpacing td.dxic {
	padding: 0 2px 0 1px;
}

#toolbarDiv .dxbButton_Glass div.dxb {
	border: 0 none;
}

/* Treelist edits */
#content .dxtlControl_Glass .dxeTextBoxSys td.dxic, .dxeButtonEditSys td.dxic {
	padding-left: 3px;
	padding-right: 2px;
	padding-top: 1px;
}

#content td.control .dxtlControl_Glass .dxeTextBoxSys input.dxeEditArea_Glass[type="text"],
#content td.control .dxtlControl_Glass .dxeTextBoxSys input.dxeEditArea_Glass[type="password"] {
	padding: 0;
}

#content div td.control div .dxtlNode_Glass td.dxtlCommandCell_Glass img,
#content div td.control div .dxtlSelectedNode_Glass td.dxtlCommandCell_Glass img,
#content div td.control div .dxtlInlineEditNode_Glass td.dxtlCommandCell_Glass img,
.dxtlNode_Glass td.dxtlCommandCell_Glass img,
.dxtlSelectedNode_Glass td.dxtlCommandCell_Glass img,
.dxtlCommandCell_Glass dxtl__B3 dxtl__cc img {
	margin-right: 5px;
}

#content .dxtlControl_Glass .dxeTextBox_Glass {
	height: 24px;
}

#content .dxtlControl_Glass .dxtlNode_Glass td.dxtl,
#content .dxtlControl_Glass .dxtlSelectedNode_Glass td.dxtl {
	height: 19px;
}

#content .dxtlControl_Glass .dxtlNode_Glass td.dxtl,
#content .dxtlControl_Glass .dxtlSelectedNode_Glass td.dxtl {
	height: 19px;
}

#content td.control .dxtlControl_Glass .dxeButtonEdit_Glass input.dxeEditArea_Glass[type="text"] {
	padding-left: 1px;
}


#content .dxtcLite_Glass > .dxtc-stripContainer .dxtc-link {
	padding: 3px 12px;
}

/* Content Tab of /CMS/Page.aspx */
table.pageContent td.control.subTable {
	padding: 0px;
}

	table.pageContent td.control.subTable table {
		width: 100%;
		border-spacing: 0px;
		border-collapse: collapse;
	}

	table.pageContent td.control.subTable td.label,
	table.pageContent td.control.subTable td.control,
	table.pageContent td.control.subTable td.label span,
	table.pageContent td.control.subTable td.control span {
		font-weight: normal;
	}

		table.pageContent td.control.subTable td.control input[type="checkbox"] {
			margin-top: 3px;
		}

.dataformV2 td.control .checkbox-checkall label {
	font-weight: normal;
	margin-left: 0px;
	padding-left: 3px;
	font-weight: bold;
}

.dataformV2 td.control .checkbox-checkall {
	margin: 0px 0px 4px 2px;
}

	.dataformV2 td.control .checkbox-checkall[disabled="disabled"] {
		margin: 0px 0px 4px 4px !important;
	}

		.dataformV2 td.control .checkbox-checkall[disabled="disabled"] label {
			padding-left: 6px;
		}

.dataformV2 td.control .listbox-checkall-checkbox {
	margin-left: 2px;
}

	.dataformV2 td.control .listbox-checkall-checkbox label {
		padding: 0px;
		margin-left: 2px !important;
	}

.alteration_panel {
	float: left;
	width: 15%;
	margin-right: 6px;
}

ul.sortable .agnostic-media-True .indent {
	margin-left: 71px;
}

.media-treelist .actions {
	margin-top: 10px;
	margin-bottom: 10px;
}

	.media-treelist .actions input {
		margin-right: 10px;
		padding-top: 4px;
	}

.media-treelist .nobold {
	width: 736px;
	height: 24px;
}

.media-treelist table {
	table-layout: fixed;
	/*width: 919px;*/
}

.media-treelist td.refresh {
	background: url("../images/icons/arrow_refresh.png") no-repeat center;
}

.media-treelist table .center {
	text-align: center;
}

.media-treelist table .mediatypes {
	padding: 4px 6px 4px;
}

	.media-treelist table .mediatypes span {
		width: 290px;
		text-overflow: ellipsis;
		white-space: normal;
		overflow: hidden !important;
		padding-top: 2px;
	}

.media-treelist table .requeue img {
	margin-top: 3px;
}

.media-treelist table tr {
	height: 22px !important;
	line-height: 22px;
}

.media-treelist table th.dxtl__IM {
	width: 23px;
}

.media-treelist table td,
.media-treelist table th {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden !important;
}

.media-treelist table .hidden {
	visibility: hidden;
	display: none;
}

.media-treelist table .command img {
	margin-right: 0px;
}

.media-treelist table td {
	height: 22px !important;
	line-height: 22px;
}

	.media-treelist table td .dxtlSelectionCell_Glass {
		width: 20px;
	}

#content .media-treelist .dxtlControl_Glass .dxtlNode_Glass td.dxtl, #content .dxtlControl_Glass .dxtlSelectedNode_Glass td.dxtl {
	height: 22px;
}

.floatingPanel {
	position: absolute;
	z-index: 1000;
	width: 580px;
	height: 740px;
	background-color: white;
	visibility: hidden;
	display: none;
	border: 1px solid #CCC;
	padding: 10px;
	overflow-y: scroll;
}

	.floatingPanel .header {
		width: 100%;
		height: 18px;
	}

	.floatingPanel .closeButton {
		cursor: pointer;
		width: 16px;
		height: 16px;
		float: right;
	}

.media_loading_gif img {
	width: 25px;
	height: 25px;
}

.gotomodule {
	margin-left: 8px;
}

.cbTabs {
	height: 10px;
}

.irHexClm {
	width: 300px;
	height: 20px !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

.markdown_preview {
	background-color: #EDF3F4;
	color: #000000;
	padding: 10px;
	border: 1px solid #4986A2;
	height: 170px;
	overflow-y: scroll;
}

.batch_product_label {
	text-align: left !important;
}

.products_header {
	float: left;
}

.products_header_action {
	margin-left: 6px;
	margin-top: 2px;
	float: right;
}

.products_alcohol_checkbox input[type="checkbox"] {
	top: 0px !important;
}

.batch_edit_header {
	height: 30px;
}

.batch_edit_column {
	float: left;
}

.token-overview-control {
	padding-left: 8px !important;
	padding-top: 1px !important;
}

.system-tag td {
	border-left: 3px solid #CF5D53;
}

.company-tag td {
	border-left: 3px solid #3E7AB3;
}

.inherited-tag-row {
	display: block;
	margin-top: 9px;
	margin-right: 10px;
	font-size: 9px;
}

.tag-group-title {
	display: inline-block !important;
	margin-right: 8px;
	font-weight: bold !important;
}

.company-tag-label, .system-tag-label {
	color: white;
	padding: 4px;
	display: inline-block !important;
	margin-right: 4px;
	font-weight: normal;
}

.company-tag-label {
	background-color: #3E7AB3;
}

.system-tag-label {
	background-color: #CF5D53;
}

.tags-legend {
	margin-top: 12px;
	font-size: 9px;
}

.tag-legend-item {
	padding-left: 4px;
	font-style: italic;
	display: inline-block;
	margin-right: 16px;
	font-weight: normal;
}

	.tag-legend-item:last-child {
		margin-right: 0;
	}

.tag-legend-system {
	border-left: 4px solid #CF5D53;
}

.tag-legend-company {
	border-left: 4px solid #3E7AB3;
}

.company-tokenBox {
	background: #3E7AB3;
	color: white;
}

.system-tokenBox {
	background: #CF5D53;
	color: white;
}

span.token {
	border: 1px solid #b9b9b9;
	float: left;
	min-width: 30px;
}

	span.token.red {
		background: #CF5D53;
		color: white;
	}

	span.token.blue {
		background: #3E7AB3;
		color: white;
	}

		span.token.red > .removeButton,
		span.token.blue > .removeButton {
			filter: invert(100%);
		}

tr.token.red > td {
	border-left: 3px solid #CF5D53;
}

tr.token.blue > td {
	border-left: 3px solid #3E7AB3;
}

.ddLink {
	padding-left: 3px;
	text-decoration: none;
	font-weight: 900;
}

.dxICheckBox_Glass {
	height: 13px;
	width: 13px;
}
