﻿#navigation
{
	visibility:collapse;
	display:none;
}

#content {
	display:block; /* set up as a block */
	height:100%; /* set height to full page */	
	max-height:100%;
	overflow-y:scroll; /* add scroll bars as required */	
	padding-left:10px; /* pad left to avoid navigation div if required */
	padding-right:10px;	
	position:relative; /* set up relative positioning so that z-index will work */
	z-index:10; /* allocate a suitable z-index */	
}
	#ie #content
	{
		margin:0;		
		width:100%;		
	}

		#head .titles .module
		{						
			width:auto;			
			display:none;
			visibility:hidden;
		}
		
		#head .titles .seperator
		{
			visibility:collapse; 
			display:none;
		}		
		
		#head .titles .pagetitle
		{		
			margin-left:5px;	
			width:auto;				
		}	
						
			#head .titles .pagetitle div
			{			
				padding:0;
				margin-left:0px;
			}	
				
			#ie #head .titles .pagetitle div
			{
				margin-left:0px;
			}
			
#toolbar
{
	position:absolute;
	top: 55px;
	height: 37px;
	width:100%;
	overflow:hidden;
	padding-left:5px;
	z-index:20;
	border-bottom:1px solid #d8ddde;
}	

	#toolbar .padLeft
	{
		display:block;
		float:left;
		width:5px; /* compensate right: of .fullWidthAbsolute & width of #navigation */
		height:100%;
		border-right:1px solid #FFFFFF;
	}
	
	#ie #toolbar .padLeft
	{
		width:5px;
	}	
	
	#ie6 #toolbar .padLeft	
	{
		width:3px;
	}
	
	#toolbar .buttons
	{		
		padding:4px 0px 2px 26px;		
	}			
	
#notificationbar .vsummary
{
	margin-left:25px;
	padding:5px;		
	line-height:155%;
	width:100%;
}	
	
#poweredby
{
	visibility:collapse;
	display:none;
}				