﻿table.checklist
{
	
}
	table.checlist th
	{
		width:auto;
		white-space:nowrap;
	}

	table.checlist td
	{
		width:auto;
		white-space:nowrap;
		padding-right:10px;
		padding-bottom:3px;
	}		
	
	table.checklist td.description
	{		
		width:auto;
		padding-left:10px;
	}	
	
	table.checklist td.value
	{
		width:18px;
		text-align:center		
	}

	table.checklist td.value a, 
	table.checklist td.value span
	{
		display:block;
		background-repeat:no-repeat;
		white-space:nowrap;
		width:18px;
		height:18px;
		margin:0 auto;
	}
	
	table.checklist td.value a.true,
	table.checklist td.value span.true
	{
		background-position:center middle;
		background-image:url(../images/icons/true.png);
	}
	
	table.checklist td.value a.false,
	table.checklist td.value span.true
	{
		background-position:center middle;
		background-image:url(../images/icons/false.png);		
	}	
	
	table.checklist td.value a.unknown,
	table.checklist td.value span.unknown
	{
		background-position:center middle;
		background-image:url(../images/icons/asterisk_orange.png);
	}	

table.dataformV2
{
	}
	
	table.dataformV2 div.customer
	{
		margin-bottom:7px;	
	}
		table.dataformV2 div.customer dl
		{
			margin-left:15px;			
		}
		table.dataformV2 div.customer dt
		{
			
		}		
		table.dataformV2 div.customer dd
		{
			margin-bottom:7px;
		}				
		
table.gasindicators, table.gastakelink
{
	width:100%;
	margin-bottom:15px;	
}
	
	table.gasindicators td, table.gasindicators th 
	{
		text-align:right;
		padding-left:25px;
	}
		
table.datagridlook
{
	border:solid 1px #7eacb1;
	border-right:0;
	border-top:0;
}
	table.datagridlook td,
	table.datagridlook th
	{
		padding:0;
		text-align:left;
		height:22px;	
		padding:2px 3px 2px 3px;			
	}

	table.datagridlook th
	{
		font-weight:bold;
		background-image:url(../images/Grid/th.gif);
		background-repeat:repeat-x;
		background-color:#b7d8dc;			
		color:#000;
		border-right: solid 1px #7eacb1;			
		border-top: solid 1px #7eacb1;			
	}	
	
	table.datagridlook tr.sub th	
	{
		border-bottom:0;				
		border-top: solid 1px #7eacb1;			
		font-weight:normal;	
	}
	
	table.datagridlook td
	{
		border-top:2px solid #fff;		
		background-color:#f4fafb;
		border-top: solid 1px #7eacb1;			
		border-right: solid 1px #7eacb1;			
	}			
	
	table.datagridlook td.spacer
	{
		background-color:#edf3f4;
	}
	
	table.datagridlook.hovers tr:hover td
	{
		background-color:#dfe6e7;
	}
		
table.gastakelink
{
	width:100%;
}
	
table.gaspurchasetracking
{
	width:100%;
}

/* DATAVIEWS */
table.dataview
{
	
}		

	table.dataview th,
	table.dataview td
	{
		padding:0 15px 3px 0;
		text-align:left;
	}		
	
	
