﻿.collapsableTitle, .collapsableTitle a, .collapsableSubTitle, .collapsableSubTitle a
{
    padding:5px 0 3px 0;
    margin:0;
    color:#0d4c9f;
	font-family:Tahoma;
	font-weight:bold;
	font-size:14px;	 
}
.collapsableTitle, .collapsableSubTitle
{
	border-bottom: 1px solid #b2b8c4;
}
.collapsableSubTitle, .collapsableSubTitle a
{
	font-size:12px;	 
}
.calendar td
{
	padding:3px;
}
.calendar div
{
	width:120px;
}