﻿#navigation,
#head,
#poweredby,
.padLeft
{
    visibility: hidden;
    display: none;
}
#toolbar
{
    top: 0px;
}
    #toolbar .buttons
    {
        padding: 4px 0 2px 9px;
    }
    #toolbar .padLeft
    {
        width: 16px;
    }

#content
{
    padding-left: 9px;
}
    #content .padTop
    {
        height: 42px;
    }

#notificationbar
{
    top: 38px;
}
    #notificationbar .vsummary
    {
        margin-left: 27px;
    }