/*
 * mediaboxAdvanced
 */
#mbOverlay {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #4f4f4f;
	cursor: pointer;
}

    #mbOverlay.mbOverlayIE {
	    position: absolute;
    }

#mbCenter {
	position: fixed;
	z-index: 9999;
	left: 50%;
	overflow: hidden;
	background: #fff;
}

    #mbCenter.mbLoading {
	    background: #fff url(../images/mediabox/loading.gif) no-repeat 50% 50%;
    }

#mbImage {
	position: relative;
	padding: 10px;
}

#mbBottom {
	font: 11px/18px Arial, Helvetica, sans-serif;
	color: #4f4f4f;
	height: 18px;
	padding: 0 10px 7px;
}

#mbTitle {
	display: none;
}

#mbNumber {
	display: inline;
}

#mbCaption {
	/*display: none;*/
}

#mbPrevLink,
#mbNextLink {
    position: absolute;
    z-index: 9999;
    top: 0;
    bottom: 35px;
    width: 50%;
    outline: none;
}

#mbPrevLink {
    left: 0;
    background: url(../images/mediabox/previous.png) no-repeat 0 -100%;
}

    #mbPrevLink:hover {
        background-position: 0 30%;
    }

#mbNextLink {
    right: 0;
    background: url(../images/mediabox/next.png) no-repeat 0 -100%;
}

    #mbNextLink:hover {
        background-position: 100% 30%;
    }

#mbCloseLink {
	display: block;
	float: right;
	height: 20px;
	margin: -3px 0 0 0;
	outline: none;
}

#mbCloseLink {
	width: 75px;
	background: url(../images/mediabox/close.png) no-repeat 100% 0;
}

#mbError {
	position: relative;
	color: #000;
	text-align: center;
	border: 10px solid #700;
	padding: 10px 10px 10px;
	margin: 20px;
}

#mbError a,
#mbError a:link,
#mbError a:visited,
#mbError a:hover,
#mbError a:active {
	color: #700;
	font-weight: bold;
	text-decoration: underline;
}