﻿
ul.sortable
{    
}
ul.sortable li
{   
    display:block;   
    clear:both;
    margin-bottom:15px;      
    /* WE EXPLICITLY DON'T SET A BORDER ON THE LI TO MAKE THE ON COMPLETE ACTION EASIER! */    
}
ul.sortable li .header
{
    position:relative;
    background-image:url(../images/layouteditor/bg-heading.gif);    
    border:1px solid #4986a2;   
    border-bottom:1px solid #d5d5d5;        
    height:26px;  
    overflow:hidden;  
}
ul.sortable li .header.collapsed
{
    border-bottom:1px solid #4986a2;            
}
ul.sortable li .header div.left,
ul.sortable li .header div.right
{    
    height:100%;
}
ul.sortable li .header .left
{
    float:left;    
    width:100%;
    cursor:move;    
}
#ie6 ul.sortable li .header .left
{
	
}
ul.sortable li .header .left span.text
{
    display:block;    
    margin-left:5px;
    margin-top:5px;
}
ul.sortable li .header .right
{
    padding-right:5px;
    position:absolute;    
    right:0px;    
}
#ie6 ul.sortable li .header .right
{
	position:relative;    
	top:-25px;
}
ul.sortable li .header .right a
{
    display:block;   
    float:right;        
    margin:4px 5px 0px 0px;
    padding:0px 5px 2px 0px;    
    font-size:11px;
    line-height:11px;
    text-decoration:none;
    border-right:1px solid #000000;
}
ul.sortable li .header .right a img
{
    position:relative;
    top:2px;
}
ul.sortable li .body
{
    background:#ebf2f4 url(../images/layouteditor/bg-block.gif) bottom repeat-x;               
    border:1px solid #4986a2;   
    border-top:0;
}

#ie ul.sortable li .body
{
	margin-top:-4px;
}

#mediaCollection ul.sortable li table
{
    width:100%;
    clear:both;    
    height:42px;    
    
}
#mediaCollection td.icon
{
    width:62px;   
    text-align:center;
}
#mediaCollection td.filename
{
    width:250px;
    overflow:hidden;
}
#mediaCollection td.specs
{
    padding-left:5px;
    overflow:hidden;    
}
#mediaCollection td.date
{
    width:120px;
}
#mediaCollection td.languages
{
    width:120px;   
    text-align:center;
}