﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Company.SubPanels.AnnouncementCollection" Codebehind="AnnouncementCollection.ascx.cs" %>
<div style="padding-bottom: 11px;">
	<D:CommandButton runat="server" ID="btAdd" CommandName="Add" Text="Aankondiging toevoegen" ToolTip="Toevoegen" />
</div>
<X:GridViewColumnSelector runat="server" ID="gvcsAnnouncement">
	<Columns />
</X:GridViewColumnSelector>