﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Company.Subpanels.ClientLogCollection" Codebehind="ClientLogCollection.ascx.cs" %>
<X:GridViewColumnSelector runat="server" ID="gvcsClientLog">
	<Columns />
</X:GridViewColumnSelector>