﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Company.SubPanels.CompanyAnalyticsprofileCollection" Codebehind="CompanyAnalyticsprofileCollection.ascx.cs" %>
<div style="padding-bottom: 11px;">
	<D:CommandButton runat="server" ID="btAdd" CommandName="Add" Text="Analytics profiel toevoegen" ToolTip="Toevoegen" />
</div>
<X:GridViewColumnSelector runat="server" ID="gvcsCompanyAnalyticsprofileCollection">
	<Columns />
</X:GridViewColumnSelector>