﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Company.Subpanels.CompanyBrandCollection" Codebehind="CompanyBrandCollection.ascx.cs" %>
<X:GridViewColumnSelector runat="server" ID="gvcsBrand">
	<Columns />
</X:GridViewColumnSelector>

