﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Company.SubPanels.CompanyPublishPanel" Codebehind="CompanyPublishPanel.ascx.cs" %>
<%@ Register Assembly="DevExpress.Web.ASPxTreeList.v20.1" Namespace="DevExpress.Web.ASPxTreeList" TagPrefix="dxwtl" %>
<style>
a.dxeHyperlink_Glass
{
    color: #2a769d;
}
a:hover.dxeHyperlink_Glass 
{
    color: #2a769d;
}
a:visited.dxeHyperlink_Glass 
{
    color: #2a769d;
}
</style>
<D:PlaceHolder runat="server" ID="plhMenus">
</D:PlaceHolder>