﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Company.SubPanels.DeliverypointExternalDeliverypointCollection" Codebehind="DeliverypointExternalDeliverypointCollection.ascx.cs" %>
<div style="padding-bottom: 11px;">
    <D:CommandButton runat="server" ID="btnAddExternalDeliverypoint" CommandName="Add" Text="Add external deliverypoint" ToolTip="Add external deliverypoint" />
</div>
<X:GridViewColumnSelector runat="server" ID="gvcsExternalDeliverypoints">
	<Columns />
</X:GridViewColumnSelector>

