﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Company.Subpanels.IcrtouchprintermappingCollectionPanel" Codebehind="IcrtouchprintermappingCollectionPanel.ascx.cs" %>
<div style="padding-bottom: 11px;">
	<D:CommandButton runat="server" ID="btAdd" CommandName="Add" Text="Nieuwe toevoegen" ToolTip="Toevoegen" />
</div>
<X:GridViewColumnSelector runat="server" ID="gvcsIcrtouchprintermapping">
	<Columns />
</X:GridViewColumnSelector>