﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Company.Subpanels.IcrtouchprintermappingDeliverypointEntityPanel" Codebehind="IcrtouchprintermappingDeliverypointEntityPanel.ascx.cs" %>

	<tr>
		<td>
			<D:Label runat="server" ID="lblDeliverypointNameAndNumber" LocalizeText="false"></D:Label>
		</td>
		<td>
			<D:TextBoxInt ID="tbPrinter1" runat="server"></D:TextBoxInt>
		</td>
		<td>
			<D:TextBoxInt ID="tbPrinter2" runat="server"></D:TextBoxInt>
		</td>
		<td>
			<D:TextBoxInt ID="tbPrinter3" runat="server"></D:TextBoxInt>
		</td>
		<td>
			<D:TextBoxInt ID="tbPrinter4" runat="server"></D:TextBoxInt>
		</td>
		<td>
			<D:TextBoxInt ID="tbPrinter5" runat="server"></D:TextBoxInt>
		</td>
		<td>
			<D:TextBoxInt ID="tbPrinter6" runat="server"></D:TextBoxInt>
		</td>
		<td>
			<D:TextBoxInt ID="tbPrinter7" runat="server"></D:TextBoxInt>
		</td>
		<td>
			<D:TextBoxInt ID="tbPrinter8" runat="server"></D:TextBoxInt>
		</td>
		<td>
			<D:TextBoxInt ID="tbPrinter9" runat="server"></D:TextBoxInt>
		</td>
		<td>
			<D:TextBoxInt ID="tbPrinter10" runat="server"></D:TextBoxInt>
		</td>
	</tr>
	

