﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Company.SubPanels.PaymentCollection" Codebehind="PaymentCollection.ascx.cs" %>
<X:GridViewColumnSelector runat="server" ID="gvcsPaymentCollection">
	<Columns />
</X:GridViewColumnSelector>