﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Company.SubPanels.RoutestepCollection" Codebehind="RoutestepCollection.ascx.cs" %>
<D:PlaceHolder ID="plhAddRoutestep" runat="server">
    <div style="padding-bottom: 11px;">
       <D:Button runat="server" ID="btAddStep" CommandName="Add" Text="Stap toevoegen" ToolTip="Stap Toevoegen" />
    </div>
</D:PlaceHolder>
<X:GridViewColumnSelector runat="server" ID="gvcsRoutestep">
   <Columns />
</X:GridViewColumnSelector>