﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Company.SubPanels.ScheduledCommandCollection" Codebehind="ScheduledCommandCollection.ascx.cs" %>
<div style="padding-bottom: 11px;">
    <D:Button ID="btnRefresh" runat="server" Text="Refresh" />
    <D:Button ID="btnDelete" runat="server" Text="Remove selected" />
</div>
<X:GridViewColumnSelector runat="server" ID="gvcsScheduledCommand">
</X:GridViewColumnSelector>