﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Company.Subpanels.TerminalLogCollection" Codebehind="TerminalLogCollection.ascx.cs" %>
<X:GridViewColumnSelector runat="server" ID="gvcsTerminalLogs">
	<Columns />
</X:GridViewColumnSelector>