﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Company.SubPanels.TerminalCollection" Codebehind="TerminalCollection.ascx.cs" %>
<X:GridViewColumnSelector runat="server" ID="gvcsTerminal">
	<Columns />
</X:GridViewColumnSelector>