﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Company.SubPanels.UIWidgetCultureCollection" Codebehind="UIWidgetCultureCollection.ascx.cs" %>
<%@ Register Assembly="Dionysos.Web" Namespace="Dionysos.Web.UI.WebControls" TagPrefix="cc1" %>
<%@ Reference VirtualPath="~/Company/SubPanels/UIWidgetCulturePanel.ascx" %>

<D:PlaceHolder runat="server" ID="plhCultures" Visible="true">
</D:PlaceHolder>