.dx-acc-r .dxXtraReports_BtnFirstPage_Glass:before, .dx-acc-r .dxXtraReports_BtnFirstPageDisabled_Glass:before, .dx-acc-r .dxXtraReports_BtnLastPage_Glass:before, .dx-acc-r .dxXtraReports_BtnLastPageDisabled_Glass:before, .dx-acc-r .dxXtraReports_BtnNextPage_Glass:before, .dx-acc-r .dxXtraReports_BtnNextPageDisabled_Glass:before, .dx-acc-r .dxXtraReports_BtnPrevPage_Glass:before, .dx-acc-r .dxXtraReports_BtnPrevPageDisabled_Glass:before, .dx-acc-r .dxXtraReports_BtnPrint_Glass:before, .dx-acc-r .dxXtraReports_BtnPrintDisabled_Glass:before, .dx-acc-r .dxXtraReports_BtnPrintPage_Glass:before, .dx-acc-r .dxXtraReports_BtnPrintPageDisabled_Glass:before, .dx-acc-r .dxXtraReports_BtnSave_Glass:before, .dx-acc-r .dxXtraReports_BtnSaveDisabled_Glass:before, .dx-acc-r .dxXtraReports_BtnSaveWindow_Glass:before, .dx-acc-r .dxXtraReports_BtnSaveWindowDisabled_Glass:before, .dx-acc-r .dxXtraReports_BtnSearch_Glass:before, .dx-acc-r .dxXtraReports_BtnSearchDisabled_Glass:before, .dx-acc-r .dxXtraReports_PageBorder_blc_Glass:before, .dx-acc-r .dxXtraReports_PageBorder_brc_Glass:before, .dx-acc-r .dxXtraReports_PageBorder_tlc_Glass:before, .dx-acc-r .dxXtraReports_PageBorder_trc_Glass:before { content: url('spriteAccessible.png'); }
.dx-acc-r .dxXtraReports_BtnFirstPage_Glass:before { left: -288px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnFirstPageDisabled_Glass:before { left: 0px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnLastPage_Glass:before { left: -252px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnLastPageDisabled_Glass:before { left: -270px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnNextPage_Glass:before { left: -216px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnNextPageDisabled_Glass:before { left: -234px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnPrevPage_Glass:before { left: -180px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnPrevPageDisabled_Glass:before { left: -198px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnPrint_Glass:before { left: -126px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnPrintDisabled_Glass:before { left: -306px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnPrintPage_Glass:before { left: -162px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnPrintPageDisabled_Glass:before { left: -144px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnSave_Glass:before { left: -54px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnSaveDisabled_Glass:before { left: -108px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnSaveWindow_Glass:before { left: -72px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnSaveWindowDisabled_Glass:before { left: -90px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnSearch_Glass:before { left: -18px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnSearchDisabled_Glass:before { left: -36px; top: 0px; }
.dx-acc-r .dxXtraReports_PageBorder_blc_Glass:before { left: -336px; top: 0px; }
.dx-acc-r .dxXtraReports_PageBorder_brc_Glass:before { left: -348px; top: 0px; }
.dx-acc-r .dxXtraReports_PageBorder_tlc_Glass:before { left: -324px; top: 0px; }
.dx-acc-r .dxXtraReports_PageBorder_trc_Glass:before { left: -360px; top: 0px; }

