/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
.dxsplControl_Glass .dxmLiteReportToolbarPane
{
    background: #F0F0F0 url('../Web/mItemBack.gif') repeat-x top;
    padding: 0px;
}
table.dxXtraReports_PageTable .dxXtraReports_PageBorder_blc_Glass:before,
table.dxXtraReports_PageTable .dxXtraReports_PageBorder_brc_Glass:before,
table.dxXtraReports_PageTable .dxXtraReports_PageBorder_tlc_Glass:before,
table.dxXtraReports_PageTable .dxXtraReports_PageBorder_trc_Glass:before
{
    content: none;
}
