﻿@model AnalyticsDemoWeb.Models.Home.AnalyticsOverviewViewModel

<div>
    <p>This is our 'Action' page - but for it to be usable you must be authenticated using OAuth</p>
    @if (ViewBag.GoogleLinked)
    {
        if (Model.Accounts.Count == 0)
        {
            <p><strong>You don't have any Analytics Accounts in your Google Profile that you use to link. Get some Google Analytics accounts or @Html.ActionLink("link to another Google Account", "", "OAuth")</strong></p>
        }

        foreach (var account in Model.Accounts)
        {
            <h1>@account.Name</h1>

                <table>
                    <thead>
                        <tr>
                            <td>Property Id</td>
                            <td>Property Name</td>                            
                            <td>CD Configuration Valid?</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var property in account.Properties)
                        {
                            <tr>
                                <td>@property.Id</td>
                                <td>@property.Name</td>                                
                                <td>
                                    @if (property.ValidCustomDimensions)
                                    {
                                        <span>Valid</span>
                                    }
                                    else
                                    {
                                        <span>Invalid</span> @Html.ActionLink("Fix", "FixCustomDimensions", "Home", new { propertyId = property.Id, accountId = property.AccountId }, null )
                                    }
                                </td>     
                            </tr>
                        }
                    </tbody>
                </table>



        }
    }
    else
    {
        <span>To use this functionality you must first @Html.ActionLink("link your Google Account", "", "OAuth") to this web application.</span>
    }
</div>
