﻿ul.list li {
    font-size: 1.6em;
    padding: 12px 16px;
    width: 100% !important;
    min-height: 50px !important;
}

ul.list li span {
    display: block;
    width: 60%;
    float: left;
    margin-top: 11px;
    margin-left: 15px;
    line-height: 1;
}

ul.list li input {
    text-transform: uppercase;
    font-weight: bold;
    height: 3em;
    width: 130px;
    background-color: #6DBF2F;
    color: black;
    float: left;
    cursor: pointer;
    border: none;
    font-size: 15px;
}

ul.list li input.hidden {
    color: #FFFFFF;
    background-color: #E52822;
}

.search-group {
    margin: 8px auto;
}
