﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Games.SubPanels.GameSessionReportItemCollection" Codebehind="GameSessionReportItemCollection.ascx.cs" %>
<X:GridViewColumnSelector runat="server" ID="gvcsGameSessionReportItems">
	<Columns />
</X:GridViewColumnSelector>