﻿<%@ Page Title="Payment Providers" Language="C#" MasterPageFile="~/MasterPages/MasterPageEntityCollection.master" AutoEventWireup="true" CodeBehind="PaymentIntegrationConfigurations.aspx.cs" Inherits="Obymobi.ObymobiCms.AppLess.PaymentIntegrationConfigurations" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cplhTitle" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cplhAdditionalToolBarButtons" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cplhPrePageContent" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cplhPostPageContent" runat="server">
</asp:Content>
