/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/*ResourceNavigator*/
/*ResourceNavigator*/
.dxscControl_Glass .dxsc-detailed-apt-tooltip .dxsc-dat-container > div
{
    background: white;
}
.dxscControl_Glass .dxsc-detailed-apt-tooltip .dxsc-dat-header span,
.dxscControl_Glass .dxsc-detailed-apt-tooltip .dxsc-dat-middle span
{
    color: black;
}
.dxscControl_Glass .dxsc-detailed-apt-tooltip .dxsc-dat-buttons-container .dxbButtonSys
{
    border-top-color: #d8d8d8;
}
.dxscControl_Glass .dxsc-detailed-apt-tooltip .dxsc-dat-buttons-container .dxbButtonSys:not(.dxsc-dat-colored-button)
{
    color: black;
}
.dxscControl_Glass .dxsc-detailed-apt-tooltip .dxsc-dat-buttons-container .dxbButtonSys.dxsc-dat-disabled-btn
{
    color: #AAAAAA;
}
.dxscControl_Glass
{
    background: #4986a2;
    border: solid 1px #4986a2;
    font: 12px Tahoma, Geneva, sans-serif;
}
.dxscLoadingPanel_Glass
{
    font: 12px Tahoma, Geneva, sans-serif;
    color: #303030;
    border: 1px solid #7EACB1;
    background-color: White;
}
.dxscLoadingPanel_Glass td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 12px;
}
.dxscLoadingPanel_Glass .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 27px;
    width: 27px;
}
/* Headers */
.dxscDateHeader_Glass,
.dxscAlternateDateHeader_Glass,
.dxscDayHeader_Glass,
.dxscDateCellHeader_Glass,
.dxscTodayCellHeader_Glass,
.dxscTimelineDateHeader_Glass,
.dxscHorizontalResourceHeader_Glass,
.dxscVerticalResourceHeader_Glass
{
    color: white;
    background: url('CssImages/HeaderBack.gif') repeat-x left top #5d99b2;
    border-style: solid;
    border-color: #296e8e;
    border-width: 1px 1px 1px 0;
    padding: 4px;
    text-align: center;
    vertical-align: top;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
}
.dxscDayHeader_Glass
{
    border-width: 1px 1px 0 0;
}
.dxscDateCellHeader_Glass
{
    border-width: 1px;
}
.dxscAlternateTimelineDateHeader_Glass,
.dxscAlternateDateHeader_Glass
{
    background: url('CssImages/HeaderAltBack.gif') repeat-x left top #8ce2db;
    color: black;
}
.dxscTodayCellHeader_Glass
{
    border-top-width: 1px;
    background: url('CssImages/HeaderAltBack.gif') repeat-x left top #8ce2db;
}
.dxscTimelineDateHeader_Glass
{
    border-width: 1px 1px 1px 0;
}
.dxsc-month-mobile-layout .dxscDayHeader_Glass,
.dxsc-month-mobile-layout .dxscDateCellHeader_Glass,
.dxsc-month-mobile-layout .dxscTodayCellHeader_Glass
{
    padding: 4px;
}
.dxscAgendaView .dxscDateCell_Glass,
.dxscAgendaView .dxscDateRow_Glass,
.dxscControl_Glass .dxsc-agenda-header-row,
.dxscControl_Glass .dxsc-agenda-horizontal-header
{
    background-color: #EDF3F4;
    border-bottom: solid 1px #93c3d3;
}
.dxscControl_Glass .dxscTodayDateCell_Glass,
.dxscControl_Glass .dxscTodayDateRow_Glass
{
    background: #8ce2db;
}
.dxscControl_Glass .dxscTodayDateCell_Glass,
.dxscControl_Glass .dxscTodayDateRow_Glass,
.dxscTodayDayCell_Glass,
.dxscTodayDayOfWeekCell_Glass
{
    color: black;
}
.dxscControl_Glass .dxscTodayMonthOfYearCell_Glass,
.dxscControl_Glass .dxscTodayMonthYearCaption_Glass,
.dxscControl_Glass .dxscTodayDateRow_Glass .dxscYearCaption_Glass
{
    color: #7b7b7b;
}
.dxscHorizontalResourceHeader_Glass
{
    border-width: 1px 1px 1px 0;
    background: url('CssImages/ResHeaderBack.gif') repeat-x #559ab7;
}
.dxscVerticalResourceHeader_Glass
{
    border-width: 1px 1px 0 0;
    background: url('CssImages/ResHeaderBack.gif') repeat-x #559ab7;
    white-space: normal;
}
.dxscSelectionBar_Glass
{
    border-style: solid;
    border-width: 0 1px 0 0;
    height: 30px;
}
/* Corners */
.dxscLeftTopCorner_Glass,
.dxscRightTopCorner_Glass,
.dxscBottomLeftCorner_Glass
{
    background: #EDF3F4;
}
.dxscControl_Glass .dxsc-timeline-resourcesContainer
{
    background: url('CssImages/AdaBack.gif') repeat-x left bottom #f8fbfd;
}
.dxscLeftTopCorner_Glass,
.dxscRightTopCorner_Glass
{
    background: url('CssImages/AdaBack.gif') repeat-x left bottom #f8fbfd;
    width: 1px;
    border-style: solid;
    border-color: #93c3d3;
    border-top-color: #296e8e;
    border-width: 0 0 1px;
}
.dxscLeftTopCorner_Glass
{
    border-width: 1px 1px 1px 0;
    font-size: 0.91em;
    text-align: center;
    padding: 2px;
    overflow: hidden;
}
/* Separators */
.dxscGroupSeparatorVertical_Glass,
.dxscGroupSeparatorHorizontal_Glass
{
    background: white;
    border: solid 1px #90b5c9;
}
.dxscGroupSeparatorVertical_Glass
{
    width: 1px;
    border-width: 0 1px;
}
.dxscGroupSeparatorHorizontal_Glass
{
    height: 1px;
    border-width: 1px 0 0;
    font-size: 0;
}
/* Apts Area */
.dxscAllDayArea_Glass
{
    background: url('CssImages/AdaBack.gif') repeat-x left bottom #f8fbfd;
    border: solid 1px #93c3d3;
    border-width: 0 1px 1px 0;
}
.dxscDateCellBody_Glass
{
    height: 100px;
    border: solid 1px;
    border-width: 0 1px 0 0;
}
.dxscTimeCellBody_Glass
{
    border: solid 1px;
}
.dxscTimelineCellBody_Glass
{
    height: 300px;
    border-style: solid;
    border-width: 1px 1px 0 0;
}
.dxscAppointment_Glass
{
    color: black;
    font-size: 0.91em;
    border: solid 1px #7f9db9;
    padding: 0;
    margin: 0;
    cursor: default;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.dxscAppointment_Glass .dxsc-apt-intermediate-bg
{
    opacity: 1;
}
.dxscAppointment_Glass .dxsc-apt-gradient
{
    background: none;
}
.dxscAppointment_Glass.dxsc-vertical-apt .dxsc-apt-status-container
{
    width: 5px;
}
.dxscAppointmentInnerBorders_Glass
{
    border: solid 1px #7f9db9;
    padding: 0px;
}
.dxscAppointmentHorizontalSeparator_Glass
{
    height: 1px;
    width: 100%;
    overflow: hidden;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}
.dxscMoreButton_Glass
{
    font-size: 0.91em;
    color: black;
    text-decoration: underline;
    padding: 0;
}
/* Rulers */
.dxscTimeRulerHoursItem_Glass, .dxscTimeRulerMinuteItem_Glass
{
    color: #5d5d5d;
    background: #EDF3F4;
    border: solid 1px #93c3d3;
    border-width: 0px 1px 1px 0;
    vertical-align: top;
    white-space: nowrap;
}
.dxscTimeRulerHoursItem_Glass
{
    border-right-width: 0;
    border-left-color: #4986a2;
    font-size: 1.42em;
    text-align: right;
    width: 45px;
    padding: 2px 4px 0px;
}
.dxscTimeRulerMinuteItem_Glass
{
    border-left-width: 0px;
    text-align: center;
    width: 18px;
    font-size: 0.91em;
    padding: 4px 1px 4px 1px;
}
.dxscTimeRulerHeaderHourItem_Glass
{
    width: 55px;
}
.dxscTimeRulerHeaderMinuteItem_Glass
{
    width: 16px;
}
.dxscScrollHeaderItem_Glass
{
    width: 16px;
}
/* Control elements */
.dxscToolbarContainer_Glass
{
    background: url('CssImages/ToolbarBack.gif') repeat-x #b7dded;
}
.dxscToolbar_Glass,
.dxscViewSelector_Glass
{
    padding: 9px 6px;
}
.dxscResourceNavigator_Glass
{
    font: 12px Tahoma, Geneva, sans-serif;
    background: #EDF3F4;
    padding: 7px;
    border-color: #4986a2;
}
.dxscResourceNavigator_Glass.dxsc-resselector-container
{
    padding: 8px 6px 8px 6px;
}
.dxscResourceNavigator_Glass .dxsc-restoken
{
    border: 1px solid #b2bcbe;
    background: #ecf1f2;
    line-height: 100%;
}
.dxscResourceNavigator_Glass .dxsc-restoken .dxsc-rh-sys
{
    border: solid 1px #b2bcbe;
}
.dxscResourceNavigator_Glass .dxsc-restokens .dxsc-restoken.dxsc-rh-color-mode .dxsc-rc-sys
{
    padding-left: 11px;
}
.dxscResourceNavigator_Glass .dxsc-restoken .dxsc-rh-sys
{
    width: 6px;
    height: 100%;
    left: -1px;
    border-top: 0px;
    border-bottom: 0px;
}
.dxscResourceNavigator_Glass .dxsc-restoken .dxsc-rc-sys
{
    padding: 4px 0px 5px 7px;
}
.dxscResourceNavigator_Glass .dxsc-restoken .dxsc-restoken-remove
{
    margin: 5px 6px 4px 6px;
    float: right;
}
.dxscResourceNavigator_Glass .dxpc-footerContent > div:first-child
{
    margin-right: 6px;
}
.dxscResourceNavigatorButton_Glass.dxsc-filter-button
{
    padding: 5px 6px 6px 6px;
    background: url('CssImages/ButtonBack.gif') repeat-x #5592ac;
    border: solid 1px #4986a2;
}
.dxscResourceNavigatorButton_Glass.dxsc-more-button
{
    padding: 2px 2px 3px 2px;
    background: #EDF3F4;
}
.dxscResourceNavigatorButton_Glass.dxsc-filter-button > div,
.dxscResourceNavigatorButton_Glass.dxsc-more-button > div
{
    padding-top: 1px;
}
.dxscResourceNavigatorButtonHover_Glass.dxsc-filter-button
{
    background: url('CssImages/ButtonHoverBack.gif') repeat-x #74bcdb;
    border: solid 1px #6bb3d5;
}
.dxscViewVisibleInterval_Glass
{
    font: 12px Tahoma, Geneva, sans-serif;
    color: black;
    white-space: nowrap;
}
.dxscInplaceEditor_Glass
{
    background: #EDF3F4;
    border: solid 1px #4986a2;
    padding: 0;
    font-size: 0.91em;
    color: Black;
}
.dxscErrorInfo_Glass
{
    background: #f1abab;
    color: #853a3a;
    padding: 10px;
    border: solid 1px #4986a2;
    border-width: 1px 0;
}
/* Buttons */
.dxscViewNavigatorButton_Glass,
.dxscViewNavigatorGotoDateButton_Glass
{
    background: url('CssImages/ButtonBack.gif') repeat-x #5592ac;
    border: solid 1px #4986a2;
    color: white;
    line-height: 100%;
    padding: 4px 7px;
    min-height: 1em;
    display: block !important;
}
.dxscViewNavigatorGotoDateButton_Glass
{
    padding: 4px 6px;
}
.dxscViewNavigatorButton_Glass.dxscViewNavigatorGotoTodayButton
{
    padding: 2px 7px;
}
.dxscViewNavigatorButtonHover_Glass,
.dxscViewNavigatorGotoDateButtonHover_Glass
{
    background: url('CssImages/ButtonHoverBack.gif') repeat-x #74bcdb;
    border: solid 1px #6bb3d5;
}
.dxscViewNavigatorButtonPressed_Glass,
.dxscViewNavigatorGotoDateButtonPressed_Glass
{
    background: url('CssImages/ButtonPressedBack.gif') repeat-x #86b5c9;
    border: solid 1px #7dacc2;
}
.dxscViewSelector_Glass
{
    font: 12px Tahoma, Geneva, sans-serif;
}
.dxscViewSelectorButton_Glass
{
    color: black;
    background: url('CssImages/ViewSelectorButtonBack.gif') repeat-x #ecf1f2;
    border: solid 1px #b2bcbe;
    margin-right: 3px;
}
.dxscViewSelector_Glass .dxmLite_Glass .dxm-main .dxm-item.dxm-checked,
.dxscViewSelector_Glass .dxmLite_Glass .dxm-main .dxm-item.dxm-hovered,
.dxscViewSelectorButtonHover_Glass,
.dxscViewSelectorButtonChecked_Glass
{
    background: url('CssImages/ViewSelectorButtonHoverBack.gif') repeat-x #b5d7db;
    border-color: #71acb4;
}
.dxscViewSelector_Glass .dxmLite_Glass .dxm-main .dxm-checked
{
    color: black;
}
.dxscViewSelectorButtonPressed_Glass
{
    background: url('CssImages/ViewSelectorButtonPressedBack.gif') repeat-x #9abdc1;
    border-color: #71acb4;
}
.dxscViewSelector_Glass.dxscVSVert .dxbButtonSys
{
    width: 100%;
}
.dxscViewSelectorButton_Glass,
.dxscViewSelector_Glass.dxscVSHorz .dxmLite_Glass .dxm-main.dxm-horizontal .dxm-item .dxm-content,
.dxscViewSelector_Glass.dxscVSVert .dxmLite_Glass .dxm-main.dxm-vertical .dxm-item .dxm-content,
.dxscViewSelector_Glass .dxmLite_Glass.dxm-ltr .dxm-main .dxm-item.dxm-dropDownMode .dxm-popOut
{
    padding: 6px 8px;
}
.dxscViewSelector_Glass .dxmLite_Glass .dxm-main
{
    border: none;
    background: none;
}
.dxscViewSelector_Glass .dxmLite_Glass .dxm-main .dxm-item
{
    border: solid 1px #b2bcbe;
    background: url('CssImages/ViewSelectorButtonBack.gif') repeat-x #ecf1f2;
}
.dxscViewSelector_Glass .dxmLite_Glass.dxm-ltr .dxm-main.dxm-horizontal .dxm-image-l .dxm-item
{
    padding-left: 0px;
}
.dxscViewSelector_Glass .dxmLite_Glass .dxm-main .dxm-spacing
{
    padding-left: 3px;
}
.dxscViewSelector_Glass.dxscVSVert .dxbButtonSys
{
    text-align: left;
}
.dxscResourceNavigatorButton_Glass
{
    background: #5592ac;
    cursor: pointer;
}
.dxscResourceNavigatorButtonHover_Glass
{
    background: #74bcdb;
}
.dxscResourceNavigatorButtonPressed_Glass
{
    background: #86b5c9;
}
.dxscNavigationButton_Glass
{
    background: #e5eef1;
    cursor: pointer;
}
.dxscNavigationButtonHover_Glass
{
    background: #eff5f7;
}
.dxscSmartTagButton_Glass
{
    border: solid 1px black;
    background: #ffffee;
    padding: 4px 5px;
    cursor: pointer;
}
.dxscDVBottomMoreButton_Glass,
.dxscDVTopMoreButton_Glass
{
    background: url('CssImages/ButtonBack.gif') repeat-x #5592ac;
    border: solid 1px #4986a2;
    padding: 7px;
    cursor: pointer;
}
.dxscDVBottomMoreButtonHover_Glass,
.dxscDVTopMoreButtonHover_Glass
{
    background: url('CssImages/ButtonHoverBack.gif') repeat-x #74bcdb;
    border: solid 1px #6bb3d5;
}
.dxscDVBottomMoreButtonPressed_Glass,
.dxscDVTopMoreButtonPressed_Glass
{
    background: url('CssImages/ButtonPressedBack.gif') repeat-x #86b5c9;
    border: solid 1px #7dacc2;
}
.dxscNoBorderButton_Glass
{
    border: solid 1px #EDF3F4;
    cursor: pointer;
}
.dxscNoBorderButtonHover_Glass
{
    background: #d9eced;
    border: solid 1px #c0dde0;
}
.dxscNoBorderButtonPressed_Glass
{
    background: #bcd6d7;
    border-color: #c0dde0;
}
.dxscControlAreaForm_Glass
{
    font-size: 1.33em;
    color: #010000;
    white-space: normal;
    padding: 9px 12px 13px 12px;
    background-color: #EDF3F4;
}
.dxscToolTipRoundedCornersTopBottomRow_Glass
{
    font-size: 0;
}
.dxscToolTipRoundedCornersTopSide_Glass
{
    border-top: 1px black solid;
    vertical-align: bottom;
    height: 1px;
    background-color: #fafad2;
}
.dxscToolTipRoundedCornersLeftSide_Glass
{
    border-left: 1px black solid;
    vertical-align: bottom;
    background-color: #fafad2;
}
.dxscToolTipRoundedCornersRightSide_Glass
{
    border-right: 1px black solid;
    vertical-align: bottom;
    background-color: #fafad2;
}
.dxscToolTipRoundedCornersBottomSide_Glass
{
    border-bottom: 1px black solid;
    vertical-align: bottom;
    height: 1px;
    background-color: #fafad2;
}
.dxscToolTipRoundedCornersContent_Glass
{
    background-color: #fafad2;
    padding: 0;
}
.dxscToolTipSquaredCorners_Glass
{
    background: #f9f9cd;
    padding: 0;
    font-size: 0;
    color: #303030;
    white-space: nowrap;
    border: solid 1px black;
}
.dxscTimeMarker_Glass
{
    top: -7px;
}
.dxscTimeMarkerLine_Glass
{
    top: -2px;
    height: 3px;
    font-size: 0;
}
.dxscTimeMarkerLineV_Glass
{
    position: absolute;
    background-color: #296E8E;
    width: 1px;
    font-size: 0;
    border: solid 1px white;
    border-top-width: 0;
    border-bottom-width: 0;
    box-sizing: content-box;
}
.dxscTimeMarkerLineH_Glass
{
    position: absolute;
    top: -2px;
    background-color: #296E8E;
    height: 1px;
    font-size: 0;
    border: solid 1px white;
    border-left-width: 0;
    border-right-width: 0;
}
.dxscClientRendering td.dxscTimeCellBody_Glass:last-child,
.dxscClientRendering td.dxscDateCellBody_Glass.dxscLastCell,
.dxscRendererTable.dxscClientRendering td.dxscDayHeader_Glass:last-child,
.dxscRendererTable.dxscClientRendering td.dxscDateCellHeader_Glass.dxscLastCell,
.dxscClientRendering.dxscTimelineView td.dxscTimelineDateHeader_Glass:last-child,
.dxscClientRendering.dxscTimelineView td.dxscTimelineCellBody_Glass:last-child,
.dxscRendererTable.dxscClientRendering td.dxscHorizontalResourceHeader_Glass
{
    border-right-width: 0px;
}
.dxscRendererTable.dxscClientRendering td.dxscHorizontalResourceHeader_Glass,
.dxscClientRendering.dxscDayView td.dxscLeftTopCorner_Glass,
.dxscClientRendering.dxscWeekView td.dxscLeftTopCorner_Glass
{
    border-bottom-width: 0px;
}
.dxscRendererTable.dxscClientRendering td.dxscDateCellHeader_Glass,
.dxscRendererTable.dxscClientRendering td.dxscDateCellHeader_Glass.dxscCompressed.dxscFirstCell,
.dxscRendererTable.dxscClientRendering td.dxscTodayCellHeader_Glass.dxscCompressed.dxscFirstCell
{
    border-left-width: 0px;
}
.dxscRendererTable.dxscClientRendering td.dxscDateCellHeader_Glass.dxscCompressed,
.dxscRendererTable.dxscClientRendering td.dxscTodayCellHeader_Glass.dxscCompressed
{
    border-left-width: 1px;
}
.dxscClientRendering.dxscTimelineView .dxscVerticalResourceHeader_Glass.dxscFirstVerticalResourceHeader,
.dxscClientRendering.dxscTimelineView .dxscTimelineDateHeader_Glass.dxscAlternateTimelineDateHeader_Glass,
.dxscClientRendering.dxscTimelineView .dxscTimelineDateHeader_Glass
{
    border-top-width: 0px;
}
.dxscClientRendering.dxscTimelineView .dxscFirstScale .dxscTimelineDateHeader_Glass.dxscAlternateTimelineDateHeader_Glass,
.dxscClientRendering.dxscTimelineView .dxscFirstScale .dxscTimelineDateHeader_Glass
{
    border-top-width: 1px;
}
.dxscControl_Glass table.dxsc-timeline-view
{
    border-top: 1px solid #4986a2;
}
.dxscAgendaView .dxscEmptyCell_Glass
{
    background-color: #EDF3F4;
    height: 65px;
    text-align: center;
    color: #5d5d5d;
    font-size: 14px;
}
.dxscAgendaView .dxscAppointmentStatusCell_Glass
{
    border-left-color: #93c3d3;
    border-right-color: #93c3d3;
}
.dxscControl_Glass .dxsc-agenda-compact-time-cell .dxsc-apt-time-table-wrapper
{
    border-right-color: #93c3d3;
    border-bottom-color: #93c3d3;
}
.dxscControl_Glass .dxscAgendaView .dxsc-apt-status-cell,
.dxscControl_Glass .dxscAgendaView .dxsc-agenda-apt > table,
.dxscControl_Glass .dxsc-agenda-compact-time-cell .dxsc-apt-time-table-wrapper
{
    border-bottom: solid 1px #93c3d3;
}
.dxscControl_Glass .dxsc-agenda-apt.dxsc-apt-no-status .dxsc-apt-start-arrow-cell
{
    border-left: 1px solid #93c3d3;
}
.dxscControl_Glass .dxscDayScrollContainer,
.dxscControl_Glass .dxscAgendaViewScrollContainer,
.dxscControl_Glass .dxsc-timeline-scrollLimiter
{
    background: url('CssImages/AdaBack.gif') repeat-x left bottom #f8fbfd;
}
.dxscControl_Glass .dxscAgendaView,
.dxscControl_Glass .dxsc-scroll .dxscDayScrollContent,
.dxscControl_Glass .dxsc-scroll .dxsc-timeline-horizontalContainer
{
    border-bottom: solid 1px #4986a2;
}
.dxscControl_Glass .dxsc-content-overflow .dxscAgendaView
{
    border-bottom-width: 0px;
}
.dxscControl_Glass .dxsc-scroll .dxscDayScrollBodyTable td:last-child
{
    border-right-width: 1px !important;
}
.dxscControl_Glass .dxscAgendaViewScrollContainer
{
    border-top: 1px solid #4986a2;
}
.dxscControl_Glass .dxsc-month-of-year
{
    color: #5d5d5d;
}
.dxscControl_Glass .dxsc-cell-touch-handle
{
    background-color: #559ab7;
}
.dxsc-dialog.dxsc-dialog-goto-date div.dxflFormLayout_Glass .dialog-lgc.dialog-group-ButtonsGroup > .dialog-lgb > .dialog-lg,
.dxsc-dialog.dxsc-dialog-recur-apt-action div.dxflFormLayout_Glass .dialog-lgc.dialog-group-ButtonsGroup > .dialog-lgb > .dialog-lg,
.dxsc-dialog div.dxflFormLayout_Glass.dialog-singlecolumn .dialog-group-Recurrence > .dialog-lgb,
.dxsc-dialog div.dxflFormLayout_Glass.dialog-singlecolumn .dialog-flow-container-RecurrenceViewModelEndDateGroup .dialog-lg,
.dxsc-dialog div.dxflFormLayout_Glass.dialog-singlecolumn .dialog-flow-container-EndDateGroup .dialog-lg,
.dxsc-dialog.dxsc-dialog-appoinment > div.dxflFormLayout_Glass:not(.dialog-singlecolumn) .dialog-lgc.dialog-group-ButtonsGroup > .dialog-lgb > .dialog-lg
{
    border-color: #7EACB1;
}
.dxsc-dialog-appoinment div.dxflFormLayout_Glass .dialog-group-Recurrence > .dialog-lg,
.dxsc-dialog-appoinment div.dxflFormLayout_Glass.dialog-singlecolumn .dialog-group-RecurrenceViewModelEndDateGroup .dialog-lgb > .dialog-lg > div,
.dxsc-dialog-appoinment div.dxflFormLayout_Glass.dialog-singlecolumn .dialog-flow-container-IsRecurring,
.dxmodalSys .dxsc-dialog-appoinment div.dxflFormLayout_Glass.dialog-singlecolumn .dialog-flow-container-RecurrenceViewModelRecurrenceGroup .dialog-group-RecurrenceViewModelRecurrenceGroup,
.dxsc-dialog-appoinment div.dxflFormLayout_Glass > .dialog-lg > div:not(.dialog-flow-container-ButtonsGroup)
{
    padding: 0 5px;
}
.dxsc-dialog-appoinment div.dxflFormLayout_Glass:not(.dialog-singlecolumn) .dialog-flow-container-ButtonsGroup
{
    margin-top: 10px;
}
.dxsc-dialog-appoinment div.dxflFormLayout_Glass.dialog-singlecolumn .dialog-lgc .dialog-item-Description
{
    padding-top: 10px;
}
.dxsc-dialog div.dxflFormLayout_Glass .dialog-item-IsAllDay .dialog-aspxcheckbox,
.dxsc-dialog div.dxflFormLayout_Glass .dialog-item-IsRecurring .dialog-aspxcheckbox
{
    padding-top: 4px;
}
.dxsc-dialog div.dxflFormLayout_Glass.dialog-singlecolumn .dialog-lgb .dialog-lg .dialog-item-IsRecurring
{
    padding-bottom: 8px;
    padding-top: 7px;
}
.dxsc-dialog div.dxflFormLayout_Glass.dialog-singlecolumn .dialog-group-Recurrence > .dialog-lgb
{
    margin-top: 10px;
}
.dxsc-dialog div.dxflFormLayout_Glass.dialog-singlecolumn .dialog-flow-container-RecurrenceViewModelRecurrenceGroup
{
    margin-bottom: 18px;
}
.dxmodalSys .dxsc-dialog div.dxflFormLayout_Glass .dialog-group-RecurrenceViewModelEndDateGroup.dialog-lgc
{
    padding-top: 9px;
}
.dxmodalSys .dxsc-dialog .dxflFormLayout_Glass.dialog-singlecolumn .dialog-flow-container-RecurrenceViewModelDailyRecurrenceDaysCount,
.dxmodalSys .dxsc-dialog .dxflFormLayout_Glass.dialog-singlecolumn .dialog-flow-container-RecurrenceViewModelMonthlyRecurrenceDay,
.dxmodalSys .dxsc-dialog .dxflFormLayout_Glass.dialog-singlecolumn .dialog-flow-container-RecurrenceViewModelMonthlyRecurrenceWeekOfMonth,
.dxmodalSys .dxsc-dialog .dxflFormLayout_Glass.dialog-singlecolumn .dialog-flow-container-RecurrenceViewModelYearlyRecurrenceWeekDaysMonth,
.dxmodalSys .dxsc-dialog .dxflFormLayout_Glass.dialog-singlecolumn .dialog-flow-container-RecurrenceViewModelYearlyRecurrenceWeekOfMonth,
.dxsc-dialog .dxflFormLayout_Glass .dialog-flow-container-SnoozeTimeSpanCaption
{
    padding-top: 8px;
}
.dxmodalSys .dxsc-dialog .dxeRadioButtonList_Glass
{
    border: none;
}
