﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Generic.EntertainmenturlCollection" Codebehind="EntertainmenturlCollection.ascx.cs" %>
<div style="padding-bottom: 11px;">
	<D:CommandButton runat="server" ID="btAdd" CommandName="Add" Text="Url toevoegen" ToolTip="Toevoegen" />
</div>
<X:GridViewColumnSelector runat="server" ID="gvcsEntertainmenturls">
	<Columns />
</X:GridViewColumnSelector>

