﻿<%@ Page Language="C#" MasterPageFile="~/MasterPages/MasterPageEntityCollection.master" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Generic.SmsInformations" Title="SMS Information" Codebehind="SmsInformations.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cplhTitle" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cplhAdditionalToolBarButtons" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cplhPrePageContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cplhPostPageContent" Runat="Server">
</asp:Content>
