﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Generic.SubPanels.PublishingItemCollection" Codebehind="PublishingItemCollection.ascx.cs" %>
    <X:GridViewColumnSelector runat="server" ID="gvcsPublishingItemCollection">
	    <Columns />
    </X:GridViewColumnSelector>


