﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Generic.Subpanels.UserBrandCollection" Codebehind="UserBrandCollection.ascx.cs" %>
<X:GridViewColumnSelector runat="server" ID="gvcsAccountBrands">
	<Columns />
</X:GridViewColumnSelector>

