﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Generic.SubPanels.VenueCategoryCollection" Codebehind="VenueCategoryCollection.ascx.cs" %>
<div style="padding-bottom: 11px;">
	<D:CommandButton runat="server" ID="btAdd" Text="Add child" ToolTip="Add" />
</div>
<X:GridViewColumnSelector runat="server" ID="gvcsVenueCategories">
	<Columns />
</X:GridViewColumnSelector>