﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Analytics.Subpanels.DeliverypointPanel" Codebehind="DeliverypointPanel.ascx.cs" %>
<D:PlaceHolder runat="server" ID="plhControls">
</D:PlaceHolder>