﻿<div class="text">
    <h1><!-- TITLE --></h1>
    <!-- TEXT -->
</div>
<div class="image">
    <!-- IMAGE -->
</div>
<div class="footer">
    <!-- OPENINGHOURS -->
    <!-- MORELINK -->
    <!-- FEATURES -->
</div>