.dx-acc-r .dxPivotGrid_CTNAttribute:before, .dx-acc-r .dxPivotGrid_CTNCalculatedMeasure:before, .dx-acc-r .dxPivotGrid_CTNDimension:before, .dx-acc-r .dxPivotGrid_CTNFolderClosed:before, .dx-acc-r .dxPivotGrid_CTNFolderOpen:before, .dx-acc-r .dxPivotGrid_CTNHierarchy:before, .dx-acc-r .dxPivotGrid_CTNKpi:before, .dx-acc-r .dxPivotGrid_CTNMeasure:before, .dx-acc-r .dxPivotGrid_FLBottomPanelOnly1by4_Glass:before, .dx-acc-r .dxPivotGrid_FLBottomPanelOnly2by2_Glass:before, .dx-acc-r .dxPivotGrid_FLButton_Glass:before, .dx-acc-r .dxPivotGrid_FLColumnAreaHeaders_Glass:before, .dx-acc-r .dxPivotGrid_FLDataAreaHeaders_Glass:before, .dx-acc-r .dxPivotGrid_FLFieldList_Glass:before, .dx-acc-r .dxPivotGrid_FLFilterAreaHeaders_Glass:before, .dx-acc-r .dxPivotGrid_FLRowAreaHeaders_Glass:before, .dx-acc-r .dxPivotGrid_FLStackedDefault_Glass:before, .dx-acc-r .dxPivotGrid_FLStackedSideBySide_Glass:before, .dx-acc-r .dxPivotGrid_FLTopPanelOnly_Glass:before, .dx-acc-r .dxPivotGrid_pgCollapsedButton_Glass:before, .dx-acc-r .dxPivotGrid_pgCustomizationFormCloseButton_Glass:before, .dx-acc-r .dxPivotGrid_pgDataHeaders_Glass:before, .dx-acc-r .dxPivotGrid_pgDragArrowDown_Glass:before, .dx-acc-r .dxPivotGrid_pgDragArrowLeft_Glass:before, .dx-acc-r .dxPivotGrid_pgDragArrowRight_Glass:before, .dx-acc-r .dxPivotGrid_pgDragArrowUp_Glass:before, .dx-acc-r .dxPivotGrid_pgDragHideField_Glass:before, .dx-acc-r .dxPivotGrid_pgExpandedButton_Glass:before, .dx-acc-r .dxPivotGrid_pgFilterButton_Glass:before, .dx-acc-r .dxPivotGrid_pgFilterButtonActive_Glass:before, .dx-acc-r .dxPivotGrid_pgFilterResizer_Glass:before, .dx-acc-r .dxPivotGrid_pgGroupSeparator_Glass:before, .dx-acc-r .dxPivotGrid_pgPrefilterButton_Glass:before, .dx-acc-r .dxPivotGrid_pgSortByColumn_Glass:before, .dx-acc-r .dxPivotGrid_pgSortDownButton_Glass:before, .dx-acc-r .dxPivotGrid_pgSortUpButton_Glass:before { content: url('spriteAccessible.png'); }
.dx-acc-r .dxPivotGrid_CTNAttribute:before { left: -303px; top: 0px; }
.dx-acc-r .dxPivotGrid_CTNCalculatedMeasure:before { left: -429px; top: 0px; }
.dx-acc-r .dxPivotGrid_CTNDimension:before { left: -465px; top: 0px; }
.dx-acc-r .dxPivotGrid_CTNFolderClosed:before { left: -483px; top: 0px; }
.dx-acc-r .dxPivotGrid_CTNFolderOpen:before { left: -411px; top: 0px; }
.dx-acc-r .dxPivotGrid_CTNHierarchy:before { left: -393px; top: 0px; }
.dx-acc-r .dxPivotGrid_CTNKpi:before { left: -375px; top: 0px; }
.dx-acc-r .dxPivotGrid_CTNMeasure:before { left: -357px; top: 0px; }
.dx-acc-r .dxPivotGrid_FLBottomPanelOnly1by4_Glass:before { left: -102px; top: 0px; }
.dx-acc-r .dxPivotGrid_FLBottomPanelOnly2by2_Glass:before { left: -136px; top: 0px; }
.dx-acc-r .dxPivotGrid_FLButton_Glass:before { left: -339px; top: 0px; }
.dx-acc-r .dxPivotGrid_FLColumnAreaHeaders_Glass:before { left: -321px; top: 0px; }
.dx-acc-r .dxPivotGrid_FLDataAreaHeaders_Glass:before { left: -447px; top: 0px; }
.dx-acc-r .dxPivotGrid_FLFieldList_Glass:before { left: -285px; top: 0px; }
.dx-acc-r .dxPivotGrid_FLFilterAreaHeaders_Glass:before { left: -267px; top: 0px; }
.dx-acc-r .dxPivotGrid_FLRowAreaHeaders_Glass:before { left: -249px; top: 0px; }
.dx-acc-r .dxPivotGrid_FLStackedDefault_Glass:before { left: -68px; top: 0px; }
.dx-acc-r .dxPivotGrid_FLStackedSideBySide_Glass:before { left: 0px; top: 0px; }
.dx-acc-r .dxPivotGrid_FLTopPanelOnly_Glass:before { left: -34px; top: 0px; }
.dx-acc-r .dxPivotGrid_pgCollapsedButton_Glass:before { left: -511px; top: -21px; }
.dx-acc-r .dxPivotGrid_pgCustomizationFormCloseButton_Glass:before { left: -194px; top: 0px; }
.dx-acc-r .dxPivotGrid_pgDataHeaders_Glass:before { left: -524px; top: -20px; }
.dx-acc-r .dxPivotGrid_pgDragArrowDown_Glass:before { left: -444px; top: -23px; }
.dx-acc-r .dxPivotGrid_pgDragArrowLeft_Glass:before { left: -476px; top: -21px; }
.dx-acc-r .dxPivotGrid_pgDragArrowRight_Glass:before { left: -487px; top: -21px; }
.dx-acc-r .dxPivotGrid_pgDragArrowUp_Glass:before { left: -431px; top: -23px; }
.dx-acc-r .dxPivotGrid_pgDragHideField_Glass:before { left: -170px; top: 0px; }
.dx-acc-r .dxPivotGrid_pgExpandedButton_Glass:before { left: -498px; top: -21px; }
.dx-acc-r .dxPivotGrid_pgFilterButton_Glass:before { left: -213px; top: 0px; }
.dx-acc-r .dxPivotGrid_pgFilterButtonActive_Glass:before { left: -231px; top: 0px; }
.dx-acc-r .dxPivotGrid_pgFilterResizer_Glass:before { left: -516px; top: 0px; }
.dx-acc-r .dxPivotGrid_pgGroupSeparator_Glass:before { left: -531px; top: 0px; }
.dx-acc-r .dxPivotGrid_pgPrefilterButton_Glass:before { left: -501px; top: 0px; }
.dx-acc-r .dxPivotGrid_pgSortByColumn_Glass:before { left: -457px; top: -22px; }
.dx-acc-r .dxPivotGrid_pgSortDownButton_Glass:before { left: -422px; top: -28px; }
.dx-acc-r .dxPivotGrid_pgSortUpButton_Glass:before { left: -413px; top: -28px; }

