
.dxPivotGrid_CTNAttribute, .dxPivotGrid_CTNCalculatedMeasure, .dxPivotGrid_CTNDimension, .dxPivotGrid_CTNFolderClosed, .dxPivotGrid_CTNFolderOpen, .dxPivotGrid_CTNHierarchy, .dxPivotGrid_CTNKpi, .dxPivotGrid_CTNMeasure, .dxPivotGrid_FLBottomPanelOnly1by4_Glass, .dxPivotGrid_FLBottomPanelOnly2by2_Glass, .dxPivotGrid_FLButton_Glass, .dxPivotGrid_FLColumnAreaHeaders_Glass, .dxPivotGrid_FLDataAreaHeaders_Glass, .dxPivotGrid_FLFieldList_Glass, .dxPivotGrid_FLFilterAreaHeaders_Glass, .dxPivotGrid_FLRowAreaHeaders_Glass, .dxPivotGrid_FLStackedDefault_Glass, .dxPivotGrid_FLStackedSideBySide_Glass, .dxPivotGrid_FLTopPanelOnly_Glass, .dxPivotGrid_pgCollapsedButton_Glass, .dxPivotGrid_pgCustomizationFormCloseButton_Glass, .dxPivotGrid_pgDataHeaders_Glass, .dxPivotGrid_pgDragArrowDown_Glass, .dxPivotGrid_pgDragArrowLeft_Glass, .dxPivotGrid_pgDragArrowRight_Glass, .dxPivotGrid_pgDragArrowUp_Glass, .dxPivotGrid_pgDragHideField_Glass, .dxPivotGrid_pgExpandedButton_Glass, .dxPivotGrid_pgFilterButton_Glass, .dxPivotGrid_pgFilterButtonActive_Glass, .dxPivotGrid_pgFilterResizer_Glass, .dxPivotGrid_pgGroupSeparator_Glass, .dxPivotGrid_pgPrefilterButton_Glass, .dxPivotGrid_pgSortByColumn_Glass, .dxPivotGrid_pgSortDownButton_Glass, .dxPivotGrid_pgSortUpButton_Glass { background-image: url('sprite.png'); background-repeat: no-repeat; background-color: transparent } 
.dxPivotGrid_CTNAttribute { background-position: -303px 0px; width: 16px; height: 16px } 
.dxPivotGrid_CTNCalculatedMeasure { background-position: -429px 0px; width: 16px; height: 16px } 
.dxPivotGrid_CTNDimension { background-position: -465px 0px; width: 16px; height: 16px } 
.dxPivotGrid_CTNFolderClosed { background-position: -483px 0px; width: 16px; height: 16px } 
.dxPivotGrid_CTNFolderOpen { background-position: -411px 0px; width: 16px; height: 16px } 
.dxPivotGrid_CTNHierarchy { background-position: -393px 0px; width: 16px; height: 16px } 
.dxPivotGrid_CTNKpi { background-position: -375px 0px; width: 16px; height: 16px } 
.dxPivotGrid_CTNMeasure { background-position: -357px 0px; width: 16px; height: 16px } 
.dxPivotGrid_FLBottomPanelOnly1by4_Glass { background-position: -102px 0px; width: 32px; height: 32px } 
.dxPivotGrid_FLBottomPanelOnly2by2_Glass { background-position: -136px 0px; width: 32px; height: 32px } 
.dxPivotGrid_FLButton_Glass { background-position: -339px 0px; width: 16px; height: 16px } 
.dxPivotGrid_FLColumnAreaHeaders_Glass { background-position: -321px 0px; width: 16px; height: 16px } 
.dxPivotGrid_FLDataAreaHeaders_Glass { background-position: -447px 0px; width: 16px; height: 16px } 
.dxPivotGrid_FLFieldList_Glass { background-position: -285px 0px; width: 16px; height: 16px } 
.dxPivotGrid_FLFilterAreaHeaders_Glass { background-position: -267px 0px; width: 16px; height: 16px } 
.dxPivotGrid_FLRowAreaHeaders_Glass { background-position: -249px 0px; width: 16px; height: 16px } 
.dxPivotGrid_FLStackedDefault_Glass { background-position: -68px 0px; width: 32px; height: 32px } 
.dxPivotGrid_FLStackedSideBySide_Glass { background-position: 0px 0px; width: 32px; height: 32px } 
.dxPivotGrid_FLTopPanelOnly_Glass { background-position: -34px 0px; width: 32px; height: 32px } 
.dxPivotGrid_pgCollapsedButton_Glass { background-position: -511px -21px; width: 11px; height: 11px } 
.dxPivotGrid_pgCustomizationFormCloseButton_Glass { background-position: -194px 0px; width: 17px; height: 17px } 
.dxPivotGrid_pgDataHeaders_Glass { background-position: -524px -20px; width: 12px; height: 12px } 
.dxPivotGrid_pgDragArrowDown_Glass { background-position: -444px -23px; width: 11px; height: 9px } 
.dxPivotGrid_pgDragArrowLeft_Glass { background-position: -476px -21px; width: 9px; height: 11px } 
.dxPivotGrid_pgDragArrowRight_Glass { background-position: -487px -21px; width: 9px; height: 11px } 
.dxPivotGrid_pgDragArrowUp_Glass { background-position: -431px -23px; width: 11px; height: 9px } 
.dxPivotGrid_pgDragHideField_Glass { background-position: -170px 0px; width: 22px; height: 22px } 
.dxPivotGrid_pgExpandedButton_Glass { background-position: -498px -21px; width: 11px; height: 11px } 
.dxPivotGrid_pgFilterButton_Glass { background-position: -213px 0px; width: 16px; height: 16px } 
.dxPivotGrid_pgFilterButtonActive_Glass { background-position: -231px 0px; width: 16px; height: 16px } 
.dxPivotGrid_pgFilterResizer_Glass { background-position: -516px 0px; width: 13px; height: 13px } 
.dxPivotGrid_pgGroupSeparator_Glass { background-position: -531px 0px; width: 5px; height: 1px } 
.dxPivotGrid_pgPrefilterButton_Glass { background-position: -501px 0px; width: 13px; height: 13px } 
.dxPivotGrid_pgSortByColumn_Glass { background-position: -457px -22px; width: 17px; height: 10px } 
.dxPivotGrid_pgSortDownButton_Glass { background-position: -422px -28px; width: 7px; height: 4px } 
.dxPivotGrid_pgSortUpButton_Glass { background-position: -413px -28px; width: 7px; height: 4px } 
.dxPivotGrid_FLButton_Glass
{
    display:block;
    height:16px;
    width:16px
}


