﻿html 
{
	overflow-y: scroll;
	overflow-x: hidden;
}

body 
{
    padding: 0;
    margin: 0;
    font: 15px/16px Arial,Helvetica,sans-serif;
}

h1
{
    font-size: 14px;
    font-weight: bold;
    color: #7f7f7f;
    margin: 8px 0 0 8px;
    float: left;
}
    h1.error
    {
        background-color: #ebb1aa;
        margin: 0;
        width: 100%;
        padding: 5px 0 6px 0;
    }
        h1.error span
        {
            color: #fff;        
            margin: 8px 8px 8px 8px;
            text-shadow: #7f7f7f 1px 1px 0;
        }
    h1.warning
    {
        background-color: #ffd855;
        margin: 0;
        width: 100%;
        padding: 5px 0 6px 0;
    }
        h1.warning span
        {
            color: #fff;        
            margin: 8px 8px 8px 8px;
            text-shadow: #7f7f7f 1px 1px 0;
        }        

h2
{
    font-size: 12px;
    font-weight: bold;
    color: #7f7f7f;
}

p
{
    color: #7f7f7f;
    margin: 0 0 8px 8px;
    float: left;
    font-size: 12px;
    clear: left;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
}

#error-content {
    width: 100%;
    align-content: center;
    line-height: initial;
}

#error-content h1 {
    font-size: 48px;
    font-weight: bold;
}

#error-content p {
    margin-top: 10px;
    font-size: 16px;
    color: #484848;
}

/*
#signon
{
    position: absolute;
    height: 150px;
    top: 50%;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
    border: solid 1px #5e5b5b;
}
    #signon .title
    {
        background: #000 url(../Images/header-bg.jpg) repeat-x;
        color: #fff;
        height: 25px;
        line-height: 25px;
        font-size: 14px;
        padding: 0 0 0 5px;
    }
    #signon .message
    {
        font-size: 12px;
        padding: 3px 0 0 5px;        
        background-color: #f2f2f2;
        height: 19px;
        border-bottom: solid 1px #afadad;
    }
    #signon .controls
    {
        margin: 5px 0 0 0;
    }
        #signon .controls label
        {
            float: left;
            text-align: right;
            width: 120px;
            line-height: 23px;
            padding-right: 5px;
            clear: left;
        }*/
        
    #signon-invalid        
    {
        border: solid 1px #ff0000;
        margin: 5px;
        padding: 5px;
        color: #ff0000;
        background-color: #f7e1df;
        font-size: 14px;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    border-radius: 3px; /* future proofing */
	    -khtml-border-radius: 3px; /* for old Konqueror browsers */	                                
    }
        
    #signon        
    {
        background: #f2f2f2;
    }
        #signon ul
        {
            margin: 0;
            padding: 5px;
            list-style-type: none;            
        }
        #signon ul li
        {
            padding: 0;
        }
        
        #signon ul li label
        {
            font-size: 16px;
        }
        
        #signon ul li input[type=text],
        #signon ul li input[type=password],
        ul li input[type=text],
        .input
        {        
            height: 35px;
            width: 100%;
            border: 1px solid #afadad;
            margin: 0 0 5px 0;
            font-size: 18px;
            padding: 0 0 0 5px;
            color: #000;
	        -moz-border-radius: 3px;
	        -webkit-border-radius: 3px;
	        border-radius: 3px; /* future proofing */
	        -khtml-border-radius: 3px; /* for old Konqueror browsers */	                        
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;	        
        }
        #signon ul li input[type=checkbox]
        {
            font-size: 14px;
        }
        #signon ul li input[type=submit]
        {
            background-position: 0% 0%;
            height: 35px;        
            width: 100%;
            margin: 10px 5px 0 0;
            padding: 0 0 0 5px;
            
            border:1px solid #3b7112;
            padding:10px 0px;
            text-align:center;
            text-decoration: none;
            color: #fff;
	        -moz-border-radius: 3px;
	        -webkit-border-radius: 3px;
	        border-radius: 3px; /* future proofing */
	        -khtml-border-radius: 3px; /* for old Konqueror browsers */	    
	        
	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#59972a, endColorstr=#93d064)";
            background-image: -webkit-gradient(
		        linear,
		        left bottom,
		        left top,
		        color-stop(0.21, #59972a),
		        color-stop(0.61, #93d064)
	        );
            /* For Internet Explorer 5.5 - 7 */
            background-color: green;
            background-repeat: repeat;
            background-attachment: scroll;
}
    
input::-webkit-input-placeholder 
{ 
    color:#afadad; 
}
input::-moz-placeholder 
{ 
    color:#afadad; 
}

#header
{
    height: 40px;
    width: 100%;
    background: #000 url(../Images/header-bg.jpg) repeat-x;
    border-bottom: solid 1px #5e5b5b;
}
    #header #logo
    {
        width: 110px;
        height: 29px;
        display: block;
        float: left;
        margin: 5px 0 0 0;        
    }
    #header .logo
    {
        background: url(../Images/crave-logo.png) no-repeat;
    }
    #header .logo-with-history
    {
        background: url(../Images/crave-logo-with-history.png) no-repeat;
    }    
    
    #header nav
    {
        float: right;
    }
        #header nav ul
        {
            list-style-type: none;
            margin: 0;
        }
            #header nav ul li
            {
                float: left;
            }
                #header nav ul li:first-child
                {
                    float: left;
                }            
                #header nav ul li a
                {
                    width: 40px;
                    height: 40px;
                    display: block;
                    border-left: solid 1px #5e5b5b;
                    border-right: solid 1px #000;                    
                    text-decoration: none;
                }
                    #header nav ul li a.issues
                    {
                        background: url(../Images/issues.png) no-repeat 10px 11px;                
                        border-left: none;
                    }
                        #header nav ul li a.issues span {
                            position: absolute;
                            top: 15px;
                            width: 40px;
                            margin: 0 1px 0 1px;
                            text-align: center;
                            color: #fff;
                            text-decoration: none;
                            font-size: 12px;
                        }
                    #header nav ul li a.no-issues
                    {
                        background: url(../Images/no-issues.png) no-repeat 10px 11px;                
                        border-left: none;
                    }   
                        #header nav ul li a.no-issues span
                        {
                            position: absolute;
                            top: 15px;
                            width: 40px;
                            margin: 0 1px 0 1px;
                            text-align: center;
                            color: #fff;
                            text-decoration: none;
                        }                                               
                    #header nav ul li a.home
                    {
                        background: url(../Images/Icons/house.png) no-repeat 10px 10px;           
                    }                
                    #header nav ul li a.refresh
                    {
                        background: url(../Images/Icons/refresh.png) no-repeat 8px 7px;                
                    }
                    #header nav ul li a.list
                    {
                        background: url(../Images/Icons/list.png) no-repeat 8px 12px;                
                    }   
                    #header nav ul li a.delivery
                    {
                        background: url(../Images/Icons/delivery.png) no-repeat 8px 12px;
                    }   

#settings
{
    display: flex;
    flex-direction: column;
    margin: 3px;
}                    
    #settings #filter
    {
        float: left;
        margin: 0 0 7px 0;
        width: 50%;
    }
        #settings #filter select {
            font-size: 15px;
            width: 194px;
            border: 0;
            border-bottom: solid;
            border-bottom-width: 1px;
            margin: 7px 0 0 0;
        }
    
#settings #title
    {
        float: left;
        color: #7F7F7F;
        font-size: 16px;
        padding: 2px 0 0 5px;
    }

    #sort
    {
        float: right;
        margin: 0 0 7px 0;
    }
        #settings #sort select {
            font-size: 15px;
            width: 194px;
            border: 0;
            border-bottom: solid;
            border-bottom-width: 1px;
        }

.category-group {
    width: 90%;
    margin: 5px;
}

    .category-group select {
        font-size: 15px;
        width: 194px;
        border: 0;
        border-bottom: solid;
        border-bottom-width: 1px;
    }

    .category-group input {
        font-size: 15px;
        border: none;
        width: 100px;
        height: 25px;
        margin-left: 10px;
    }

    .category-group .button {
        border: 1px solid #bfbfbf;
    }


.search-group {
    width: 90%;
    margin: 5px;
}

    .search-group .input {
        font-size: 15px;
        width: 190px;
        border: 0;
        border-bottom: solid;
        border-bottom-width: 1px;
        border-bottom-color: grey;
    }
    .search-group .button {
        font-size: 15px;
        border: none;
        width: 100px;
        height: 25px;
        margin-left: 10px;
        border: 1px solid #bfbfbf;
    }

.order-selection {
    display: flex;
    flex-direction: row;
    width: 250px;
    margin-top: 10px;
}

    .order-selection select {
        border: 0;
        border-bottom: solid;
        border-bottom-width: 1px;
        border-bottom-color: grey;
        width: 160px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

.order-search {
    display: flex;
    flex-direction: row;
    width: 250px;
    margin-bottom: 20px;
}

    .order-search .digitsOnly {
            border: 0;
            border-bottom: solid;
            border-bottom-width: 1px;
            border-bottom-color: grey;
            width: 190px;
    }

    .order-search .button {
        font-size: 15px;
        border: none;
        width: 96px;
        height: 25px;
        margin-left: 10px;
        border: 1px solid #bfbfbf;
    }


ul.list
{
    list-style-type: none;
    margin: 0;
    padding: 0
}             
    ul.list li
    {
        float: left;
        width: 100%;            
        min-height: 80px;
        border-top: solid 1px #fff;
        border-bottom: solid 1px #e5e5e5;
        background-color: #f7f7f7;
    }

        ul.list li.nonlink
        {
            background-color:transparent;
        }

    ul.list.compact li
    {
        min-height:0;
    }
        ul.list li:hover
        {
            background-color: #efefef;
        }    

        ul.list li.nonlink:hover
        {
            background-color:transparent;
        }    
        
        ul.list li > a,
        ul.list li .order
        {
            width: 100%;            
            min-height: 64px;            
            background: url(../Images/Icons/arrow-right.png) no-repeat right 33px;    
            text-decoration: none;
            padding: 6px 0 8px 0;
            cursor: pointer;
            overflow:hidden;
            display: block;
        }

        .centerContent {
            display: flex;
            align-items: center;
        }

            ul.list li.nonlink .order
            {
                background:none;
                cursor:auto;
            }

        ul.list.compact li > a
        { min-height:0;
        }

            ul.list li > a img,
            ul.list li .order img
            {
                float: left;
                margin: 0 4px 0 8px;        
            }

            ul.list li > a a,
            ul.list li .order a
            {
                color:#7f7f7f;
            }
        
            ul.list li > a .title,
            ul.list li .order .title
            {
                font-size: 16px;
                font-weight: bold;
                color: #7f7f7f;                
                margin: 0 0 7px 8px;
                text-shadow: #fff 1px 1px 0;
            }
            .companySelectionTitle {
                font-size: 20px;
                font-weight: bold;
                color: #7f7f7f;
                margin: 0 0 7px 8px;
                text-shadow: #fff 1px 1px 0;
                width: 80%;
                line-height: 21px;
                display: flex !important;
                align-items: center;
            }
            ul.list li > a .subtitle,
            ul.list li .order .subtitle
            {
                font-size: 12px;
                font-weight: bold;
                color: #7f7f7f;                
                margin: 0 0 2px 8px;
                text-shadow: #fff 1px 1px 0;
            } 
            ul.list li > a .navigation,
            ul.list li .order .navigation
            {
                font-size: 18px;
                font-weight: bold;
                color: #7f7f7f;                
                margin: 25px 0 2px 8px;
                text-shadow: #fff 1px 1px 0;
            }                        
            ul.list li > a .label,
            ul.list li .order .label
            {
                color: #7f7f7f;                
                margin: 0 0 5px 8px;
                width: 100px;
                float: left;
                clear: both;
            }
            uil.list li > a .clientssummary,
            ul.list li .order .clientssummary
            {
                width: 220px;
            }
            ul.list li > a .value,
            ul.list li .order .value
            {
                color: #7f7f7f;                
                margin: 0 0 0 8px;
                float: left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                max-height: 63px;
            }
            ul.list li .order .value_nolimit {
                font-size: 12px;
                color: #7f7f7f;
                margin: 0 0 0 8px;
                float: left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
            }
                ul.list li > a .value.fullwidth,
                ul.list li .value.fullwidth {
                    clear:both;
                    width:100%;
                }
                ul.list li > a .value .action,
                ul.list li .order .value .action
                {
                    font-size: 12px;
                    color: #7f7f7f;                
                    margin: 0;
                    float: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    max-height: 63px;   
                    
                    border:1px solid #dbdbdb;
                    display:block;
                    padding: 6px;
                    margin-bottom: 6px;
                    text-align:center;
                    font-size:16px;    
                    text-decoration: none;
                    background: #f2f2f2;
                    color: #7f7f7f;
	                -moz-border-radius: 3px;
	                -webkit-border-radius: 3px;
	                border-radius: 3px; /* future proofing */
	                -khtml-border-radius: 3px; /* for old Konqueror browsers */	
	                float: left;                                     
                }
                    ul.list li > a .value .action:hover,
                    ul.list li .order .value .action:hover
                    {
                        background: #f3f3f3;
                        border: 1px solid #c6c6c6;
        	            -moz-box-shadow: 0 2px 4px #d4d4d4;
	                    -webkit-box-shadow: 0 2px 4px #d4d4d4;
	                    box-shadow: 0 2px 4px #d4d4d4;
                    }
                        ul.list li > a .value .button,
                        ul.list li .order .value .button {
                            margin-left: -8px;
                    }

                    ul.list li > a .value .button:hover,
                    ul.list li .order .value .button:hover {

                    }
                
                ul.list li > a .value span.error,
                ul.list li .order .value span.error
                {
                    color: #e25f53;
                    font-weight: bold;
                    float: left;
                }

                ul.list li > a .value span.warning,
                ul.list li .order .value span.warning
                {
                    color: #ff9600;
                    font-weight: bold;
                }

                ul.list li > a .value span.info,
                ul.list li .order .value span.info
                {
                    color: #7ba7dc;
                    font-weight: bold;
                }
            
ul.details
{
    font-size: 16px;
    list-style-type: none;
    margin: 8px 0 8px 0;
    padding: 0;
}             
    ul.details li
    {
        float: left;
        width: 100%;
    }   
        ul.details li:last-child
        {
            margin-bottom: 8px;        

        }       
        ul.details li img
        {
            float: left;
            margin: 0 4px 0 8px;        
        }
        
        ul.details li .title
        {
            line-height: 1;
            margin: 0 0 2px 8px;
            text-shadow: #fff 1px 1px 0;
            font-size: 24px;
            font-weight: bold;
            color: #7f7f7f;
            margin-bottom: 15px;
        }
        ul.details li .label
        {
            color: #7f7f7f;                
            margin: 0 0 5px 8px;
            width: 180px;
            float: left;
            clear: both;
        } 
            ul.details li .label span.info
            {
                color: #7ba7dc;
                font-weight: bold;
            }               
                                             
        ul.details li .subtitle
        {
            font-size: 16px;
            color: #7f7f7f;                
            margin: 0 0 5px 8px;
            width: 160px;
            float: left;
            clear: both;
            font-weight: bold;
        }                    
        ul.details li .value
        {
            font-size: 15px;
            color: #7f7f7f;                
            margin: 0 0 0 8px;
            float: left;
        }        
            ul.details li .value span.error
            {
                color: #e25f53;
                font-weight: bold;
            }
            ul.details li .value span.info
            {
                color: #7ba7dc;
                font-weight: bold;
            }                                                
            ul.details li .value ul
            {
                padding: 0 0 0 14px;
            }
            ul.details li .value a
            {            
                color: #7f7f7f;
            }

        ul.details li.spacer
        {
            height: 6px;
        }
            
        ul.statistics li .label
        {
            font-size: 18px;
            color: #7f7f7f;                
            margin: 0 0 10px 8px;
            width: 190px;
            float: left;
            clear: both;
        }             
            
ul.buttonlist
{
    padding: 8px;
    list-style-type: none;
}
    ul.buttonlist li
    {
        margin: 0 0 8px 0;
        width: 100%;
    }

    ul.buttonlist li a , .listButton
    {
        width: 100%;
        border:1px solid #dbdbdb;
        display:block;
        padding:10px 0px;
        margin-bottom: 6px;
        text-align:center;
        text-decoration: none;
        background: #f2f2f2;
        color: #7f7f7f;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    border-radius: 3px; /* future proofing */
	    -khtml-border-radius: 3px; /* for old Konqueror browsers */	
	    float: left;
        font-weight: bold;
    }
        ul.buttonlist li a:hover, .listButton:hover {
            background: #f3f3f3;
            border: 1px solid #c6c6c6;
            -moz-box-shadow: 0 2px 4px #d4d4d4;
            -webkit-box-shadow: 0 2px 4px #d4d4d4;
            box-shadow: 0 2px 4px #d4d4d4;
        }



table, td, th {
    padding: 5px;
    border-collapse: collapse;
    border: 1px solid #484848;
}

tr.totals td {
    border-top: 4px double;
}
        
.green
{
    color: #519038;
}

.orange
{
    color: #F0B505;
}

.red
{
    color: #e25f53;
}

.noc-button {
    border:1px solid #dbdbdb;
    padding:5px 5px;
    margin-bottom: 6px;
    text-align:center;
    font-size:12px;    
    text-decoration: none;
    background: #f2f2f2;
    color: #4c4c4c;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* future proofing */
	-khtml-border-radius: 3px; /* for old Konqueror browsers */	
}
.noc-button:hover {
	background: #f3f3f3;
    border: 1px solid #c6c6c6;
    -moz-box-shadow: 0 2px 4px #d4d4d4;
	-webkit-box-shadow: 0 2px 4px #d4d4d4;
	box-shadow: 0 2px 4px #d4d4d4;
}
       
.noc-dropdownlist {
    border:1px solid #dbdbdb;
    padding:5px 5px;
    margin-bottom: 6px;
    text-align:center;
    font-size:12px;    
    text-decoration: none;
    background: #f2f2f2;
    color: #4c4c4c;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* future proofing */
	-khtml-border-radius: 3px; /* for old Konqueror browsers */	
}
 
#footer
{
    width: 100%;
    float: left;
    color: #7f7f7f;
    background-color: #f2f2f2;
    padding: 8px 0 8px 0;
    margin-top: 10px;
}
    #footer #user
    {
        float: left;
        margin: 0 0 0 10px;
        font-size: 12px;
        color: #000;
    }
    #footer #logout {
        float: left;
        margin: 0 10px 2px 10px;
        font-size: 17px;
    }
        #footer #logout a
        {
            color: Blue;    
            text-decoration: none;
        }

    #footer #copyright
    {
        text-align: center;
        width: 100%;
        float: left;
    }

div#customerstatus
{

}

    div#customerstatus p,
    div#customerstatus h1
    {
        float:none;
        clear:none;
    }

    div#customerstatus a.button
    {
        text-decoration:none;
        color:#000;
        display:block;
        text-align:center;
        border:1px solid #dbdbdb;
        background:#fff;
        padding:20px;
        font-size:14px;
        margin:15px;   
        width:50%;     
        background: #f2f2f2;
        color: #7f7f7f;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    border-radius: 3px; /* future proofing */
	    -khtml-border-radius: 3px; /* for old Konqueror browsers */		    
    }

    div#customerstatus small
    {
        font-size:11px;
    }

/* Sorting and paging */
#content .sorting-paging,
#content .search.paging {
	color: #666;
	background: #f2f2f2;
	overflow: hidden;
	padding: 4px;
	border: 1px solid #e6e6e6;
	margin: 0 6px 6px 0;
    float: right;
}
	
#content .search.paging {
	margin: 0 0 20px -10px;
}
	
	#content .sorting-paging dl {
		float: left;
	}
		
		#content .sorting-paging dl.paging {
			float: right;
		}
			
	#content .sorting-paging dt,
	#content .sorting-paging dd,
	#content .sorting-paging ul,
	#content .sorting-paging li,
	#content .sorting-paging a,
	#content .search.paging dt,
	#content .search.paging ul,
	#content .search.paging li,
	#content .search.paging a {
		float: left;
	}
		
	#content .sorting-paging dt,
	#content .search.paging dt {
		padding: 0 5px;
	}
		
	#content .search.paging dd {
		float: right;
	}
	
	#content .sorting-paging ul,
	#content .search.paging ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
			
	#content .sorting-paging li,
	#content .search.paging li {
		float: left;
		color: #666;
	}
		
	#content .sorting-paging a,
	#content .search.paging a {
		text-decoration: none;
		color: #666;
	}
		
		#content .sorting-paging a:hover,
		#content .search.paging a:hover {
			color: #333;
		}
		
		#content .sorting-paging li.active,
		#content .sorting-paging li a,
		#content .search.paging li.active,
		#content .search.paging li a {
			padding: 0 5px;
			border-left: 1px solid #e6e6e6;
		}
			
			#content .search.paging li.previous a,
			#content .search.paging li.active:first-child {
				border-left: none;
			}
		
			#content .sorting-paging li.active,
			#content .search.paging li.active {
				font-weight: bold;
				color: #333;
			}
	
/* terminal paging */
#content .paging .filter-text
{
    float: right;
    margin-right: 4px;
}
#content .paging .log-filter{
    position: fixed;
    
    float: left;
    width: 300px;
    height: auto;
    min-height: 150px;
    
    top:50%;
    left:50%;
    
    margin-top: -150px;
    margin-left: -150px;

    padding: 4px 0 4px 0;
    
    z-index: 100;
   
    visibility: hidden;
    display: none;
    
    background: #FFF;
    border: 1px solid #A9A9AB;
}
    #content .paging .log-filter .log-timespan
    {
        float: left;
        width: 288px;
        
        margin: 8px 6px 6px 6px;
    }
    #content .paging .log-filter .log-type
    {
        float: left;
        margin-bottom: 4px;
    }
    #content .paging .log-filter .checkbox
    {
        float: left;
        width: 100%;
        padding: 4px;
    }

.error-text {
    color: #e25f53 !important;
    font-weight: bold !important;
    font-size: 16px !important;
}

span.small {
    font-size: 0.8em;
}

span.pre {
	white-space: pre;
}

#titleHeader {
    height: 60px;
}

    #titleHeader h1 {
        font-size: 20px;
    }

    #titleHeader h2 {
        font-size: 13px;
        margin: 10px 10px 10px 8px;
        font-style: italic;
        margin-top: 12px;
    }
.StatisticsH2 {
    margin-top: 5px !important;
}

.noResultsFound {
    margin: 30px; 
    text-align: center;
}
.no-search-results-found-text {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    padding: 20px;
    width: 90%;
}

.infoButton {
    margin-top: 8px;
    margin-left: 5px;
}

.noMargin {
    margin: 0 !important;
}
