﻿.outletContainer {
	padding: 5px;
	font-size: 18px;
}

.outletApplessGrid {
	display: grid;
	grid-template-columns: 70% 30% ;
}

	.outletApplessGrid > * {
		border-bottom: 1px dotted #ccc;
		position: relative;
		padding: 5px 10px;
		display: grid;
		align-items: center
	}

.buttonContainer {
	display: flex;
	justify-content: center;
	padding: 1rem 2rem;
}

	.buttonContainer input {
		background-color: green;
		color: white;
		transition: 0.4s;
	}

		.buttonContainer input:hover {
			background-color: darkgreen;
			color: white;
		}
