﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="UserControls_Listitems_ClientsSummary" Codebehind="ClientsSummary.ascx.cs" %>
<D:PlaceHolder runat="server" ID="plhContainerOpenTags"></D:PlaceHolder>    
        <div class="title"><D:Label ID="lblTitle" runat="server"></D:Label></div>
        <D:PlaceHolder runat="server" ID="plhCompany">
        </D:PlaceHolder>
        <D:PlaceHolder runat="server" ID="plhOperationModes">
        </D:PlaceHolder>
<D:PlaceHolder runat="server" ID="plhContainerClosingTags"></D:PlaceHolder>