﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="UserControls_Listitems_CompanySimplified" Codebehind="CompanySimplified.ascx.cs" %>
<li class="centerContent">
    <D:HyperLink CssClass="companySelectionTitle" ID="hlCompany_s" runat="server">
        <div class="companySelectionCenter"><D:LabelTextOnly ID="lblTitle_s" runat="server"></D:LabelTextOnly></div>
    </D:HyperLink>
</li>