﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="UserControls_Listitems_OrderitemAlterationitem" Codebehind="OrderitemAlterationitem.ascx.cs" %>
<li>
    <D:HyperLink ID="hlOrderitemAlterationitem" runat="server">
        <D:Image ID="imgOrderitemAlterationitem" runat="server" />
        <div class="subtitle"><D:LabelTextOnly ID="lblTitle" runat="server"></D:LabelTextOnly></div>
    </D:HyperLink>
</li>