﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="UserControls_Listitems_Outlet" Codebehind="Outlet.ascx.cs" %>
<li data-id="<%= this.Outlet.OutletId %>">
     <D:Button ID="btnVisibility" UseSubmitBehavior="false" runat="server" />
     <D:Label ID="lblNameValue" runat="server" />
</li>
