﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="UserControls_Listitems_OutletWaitTime" Codebehind="OutletWaitTime.ascx.cs" %>


     <D:Label ID="lblNameValue" runat="server" />
     <span><input Id="WaitTime" type="number" class="input" min="0" max="1000" runat="server"  /> </span>


