﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Configuration.Subpanels.CustomerSocialmediaCollection" Codebehind="CustomerSocialmediaCollection.ascx.cs" %>
<X:GridViewColumnSelector runat="server" ID="gvcsCustomerSocialmedia">
	<Columns />
</X:GridViewColumnSelector>

