﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Configuration.Subpanels.DevicemediaCollection" Codebehind="DevicemediaCollection.ascx.cs" %>
<X:GridViewColumnSelector runat="server" ID="gvcsDevicemedia">
	<Columns />
</X:GridViewColumnSelector>

