﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Configuration.Subpanels.DeviceTokenHistoryCollection" Codebehind="DeviceTokenHistoryCollection.ascx.cs" %>
<X:GridViewColumnSelector runat="server" ID="gvcsDeviceTokenHistory">
	<Columns />
</X:GridViewColumnSelector>

