﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Configuration.Subpanels.ReleaseReadmeCollection" Codebehind="ReleaseReadmeCollection.ascx.cs" %>
<X:GridViewColumnSelector runat="server" ID="gvcsReleaseReadme">
	<Columns />
</X:GridViewColumnSelector>

