﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Configuration.Subpanels.ReleaseCollection" Codebehind="ReleaseCollection.ascx.cs" %>
<X:GridViewColumnSelector runat="server" ID="gvcsRelease">
	<Columns />
</X:GridViewColumnSelector>

