﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Configuration.SubPanels.SupportpoolNotificationRecipientCollection" Codebehind="SupportpoolNotificationRecipientCollection.ascx.cs" %>
<div style="overflow:hidden;margin-bottom:10px;">
   <div style="float:left;">
   <D:CommandButton runat="server" ID="btnAdd" Text="Add recipient" ToolTip="Add" CommandName="Add" />
   </div>
</div>

<X:GridViewColumnSelector runat="server" ID="gvcsSupportpoolNotificationRecipient" >
	<Columns />
</X:GridViewColumnSelector>