.dxscControl_Glass
{    
    background: #4986a2;
    border: solid 1px #4986a2;
    font: 12px Tahoma, Geneva, sans-serif;
}
.dxscLoadingPanel_Glass
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #303030;
	border: 1px solid #7EACB1;
	background-color: White;
}
.dxscLoadingPanel_Glass td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxscLoadingPanel_Glass .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 27px;
	width: 27px;
}

/* Headers */
.dxscDateHeader_Glass, 
.dxscAlternateDateHeader_Glass,
.dxscDayHeader_Glass,
.dxscDateCellHeader_Glass,
.dxscTodayCellHeader_Glass,
.dxscTimelineDateHeader_Glass,
.dxscHorizontalResourceHeader_Glass,
.dxscVerticalResourceHeader_Glass
{    
    color: white;
    background: url('CssImages/HeaderBack.gif') repeat-x left top #5d99b2;
    border: solid 1px #296e8e;
    border-width: 0 1px 1px 0;
    padding: 4px;
    text-align: center;
    vertical-align: top;    
    cursor: default;
    overflow: hidden;
    white-space: nowrap;	
}

.dxscAlternateTimelineDateHeader_Glass,
.dxscAlternateDateHeader_Glass
{    
    background: url('CssImages/HeaderAltBack.gif') repeat-x left top #8ce2db;
    color: black;
}
.dxscDayHeader_Glass
{
    border-width: 1px 1px 0 0;
}
.dxscDateCellHeader_Glass
{
    border-width: 1px;
}
.dxscTodayCellHeader_Glass
{    
    border-top-width: 1px;
    background: url('CssImages/HeaderAltBack.gif') repeat-x left top #8ce2db;
    color: black;
}
.dxscTimelineDateHeader_Glass
{
    border-width: 1px 1px 1px 0;
}
.dxscHorizontalResourceHeader_Glass
{
    border-width: 1px 1px 1px 0;
    background: url('CssImages/ResHeaderBack.gif') repeat-x #559ab7;    
}
.dxscVerticalResourceHeader_Glass
{
    border-width: 1px 1px 0 0;
    background: url('CssImages/ResHeaderBack.gif') repeat-x #559ab7;    
    white-space: normal;
}
.dxscSelectionBar_Glass 
{	
    border-style: solid;
    border-width: 0 1px 0 0;
    height: 30px;
}

/* Corners */
.dxscLeftTopCorner_Glass, 
.dxscRightTopCorner_Glass
{
    background: url('CssImages/AdaBack.gif') repeat-x left bottom #f8fbfd;
    width: 1px;
    border-style: solid;
    border-color: #93c3d3;	
    border-width: 0 0 1px;
}
.dxscLeftTopCorner_Glass
{    
    border-width: 1px 1px 1px 0;
    font-size: 0.91em;
    text-align: center;
    padding: 2px;
    overflow: hidden;
}

/* Separators */
.dxscGroupSeparatorVertical_Glass, 
.dxscGroupSeparatorHorizontal_Glass
{
    background: white;
    border: solid 1px #90b5c9;
}

.dxscGroupSeparatorVertical_Glass
{
    width: 1px; 
    border-width: 0 1px;
}
.dxscGroupSeparatorHorizontal_Glass
{
    height: 1px;
    border-width: 1px 0 0;
    font-size: 0;
}

/* Apts Area */
.dxscAllDayArea_Glass
{
    background: url('CssImages/AdaBack.gif') repeat-x left bottom #f8fbfd;
    border: solid 1px #93c3d3;
    border-width: 0 1px 1px 0;
}
.dxscDateCellBody_Glass 
{
    height: 100px;
    border: solid 1px;
    border-width: 0 1px 0 0;
}
.dxscTimeCellBody_Glass
{
    border: solid 1px;
}
.dxscTimelineCellBody_Glass
{
    height: 300px;
    border-style: solid;
    border-width: 1px 1px 0 0;
}

.dxscAppointment_Glass
{
    color: black;
    font-size: 0.91em;
    border: solid 1px #7f9db9;
    padding: 0;
    margin: 0;
    cursor: default;		
    width: 100%;
    height: 100%;
    overflow: hidden;	
}

.dxscAppointmentInnerBorders_Glass
{	
    border: solid 1px #7f9db9;
    padding: 0px;
}
.dxscAppointmentHorizontalSeparator_Glass
{
    height: 1px;
    width: 100%;
    overflow: hidden;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}
.dxscMoreButton_Glass
{
    font-size: 0.91em;
    color: black;
    text-decoration: underline;
    padding: 0;
}

/* Rulers */
.dxscTimeRulerHoursItem_Glass, .dxscTimeRulerMinuteItem_Glass
{
    color: #5d5d5d;
    background: #edf3f4;
    border: solid 1px #93c3d3;
    border-width: 0px 1px 1px 0;
    vertical-align: top;
    white-space: nowrap;
} 
.dxscTimeRulerHoursItem_Glass
{
    border-right-width: 0;
    border-left-color: #4986a2;
    font-size: 1.42em;
    text-align: right;
    width: 45px;
    padding: 2px 4px 0px;
}
.dxscTimeRulerMinuteItem_Glass
{
    border-left-width: 0px;
    text-align: center;
    width: 18px;
    font-size: 0.91em;
    padding: 4px 1px 4px 1px;
}

.dxscTimeRulerHeaderHourItem_Glass
{
    width: 55px;
}
.dxscTimeRulerHeaderMinuteItem_Glass
{
    width: 16px;
}
.dxscScrollHeaderItem_Glass 
{
    width: 16px;
}
/* Control elements */
.dxscToolbarContainer_Glass 
{
    background: url('CssImages/ToolbarBack.gif') repeat-x #b7dded;
}
.dxscToolbar_Glass,
.dxscViewSelector_Glass 
{    
    padding: 9px 6px;    
}
.dxscResourceNavigator_Glass 
{    
    background: #dbeff7;
    padding: 7px;
    border: solid 1px #4986a2;
}
.dxscViewVisibleInterval_Glass
{
    color: black;
    white-space: nowrap;
}
.dxscInplaceEditor_Glass
{
    background: #edf3f4;
    border: solid 1px #4986a2;
    padding: 0;
    font-size: 0.91em;
    color: Black;
}
.dxscErrorInfo_Glass
{
    background: #f1abab;
    color: #853a3a;
    padding: 10px;
    border: solid 1px #4986a2;
    border-width: 1px 0;    
}

/* Buttons */
.dxscViewNavigatorButton_Glass,
.dxscViewNavigatorGotoDateButton_Glass
{    
    background: url('CssImages/ButtonBack.gif') repeat-x #5592ac;
    border: solid 1px #4986a2;
    color: white;
    line-height: 100%;
    padding: 4px 7px;    

    min-height: 1em;
    display: block!important;
}
.dxscViewNavigatorGotoDateButton_Glass
{
    padding: 4px 6px;
}
.dxscViewNavigatorButton_Glass.dxscViewNavigatorGotoTodayButton
{    
    padding: 2px 7px;
}
.dxscViewNavigatorButtonHover_Glass,
.dxscViewNavigatorGotoDateButtonHover_Glass 
{
    background: url('CssImages/ButtonHoverBack.gif') repeat-x #74bcdb;
    border: solid 1px #6bb3d5;
}
.dxscViewNavigatorButtonPressed_Glass,
.dxscViewNavigatorGotoDateButtonPressed_Glass 
{
    background: url('CssImages/ButtonPressedBack.gif') repeat-x #86b5c9;
    border: solid 1px #7dacc2;
}

.dxscViewSelectorButton_Glass 
{
    color: black;
    background: url('CssImages/ViewSelectorButtonBack.gif') repeat-x #ecf1f2;
    border: solid 1px #b2bcbe;		
    padding: 6px 8px;	
    margin-right: 3px;
}
.dxscViewSelectorButtonHover_Glass,
.dxscViewSelectorButtonChecked_Glass 
{
    background: url('CssImages/ViewSelectorButtonHoverBack.gif') repeat-x #b5d7db;
    border-color: #71acb4;
}
.dxscViewSelectorButtonPressed_Glass
{
    background: url('CssImages/ViewSelectorButtonPressedBack.gif') repeat-x #9abdc1;
    border-color: #71acb4;
}

.dxscResourceNavigatorButton_Glass
{    
    background: #5592ac;
    cursor: pointer;
}
.dxscResourceNavigatorButtonHover_Glass
{
    background: #74bcdb;
}
.dxscResourceNavigatorButtonPressed_Glass
{
    background: #86b5c9;
}


.dxscNavigationButton_Glass
{
    background: #e5eef1;
    cursor: pointer;
}
.dxscNavigationButtonHover_Glass
{
    background: #eff5f7;    
}

.dxscSmartTagButton_Glass 
{
    border: solid 1px black;
    background: #ffffee;
    padding: 4px 5px;
    cursor: pointer;
}

.dxscDVBottomMoreButton_Glass,
.dxscDVTopMoreButton_Glass
{
    background: url('CssImages/ButtonBack.gif') repeat-x #5592ac;
    border: solid 1px #4986a2;
    padding: 7px;
    cursor: pointer;
}
.dxscDVBottomMoreButtonHover_Glass,
.dxscDVTopMoreButtonHover_Glass
{
    background: url('CssImages/ButtonHoverBack.gif') repeat-x #74bcdb;
    border: solid 1px #6bb3d5;
}
.dxscDVBottomMoreButtonPressed_Glass,
.dxscDVTopMoreButtonPressed_Glass
{
    background: url('CssImages/ButtonPressedBack.gif') repeat-x #86b5c9;
    border: solid 1px #7dacc2;
}

.dxscNoBorderButton_Glass
{
    border: solid 1px #EDF3F4;
    cursor: pointer;
}
.dxscNoBorderButtonHover_Glass
{
    background: #d9eced;
    border: solid 1px #c0dde0;
}
.dxscNoBorderButtonPressed_Glass
{
    background: #bcd6d7;
    border-color: #c0dde0;
}
.dxscControlAreaForm_Glass
{
    font-size: 1.33em;
    color: #010000;
    white-space: normal;
    padding: 9px 12px 13px 12px;
    background-color: #EDF3F4;	
}
.dxscToolTipRoundedCornersTopBottomRow_Glass
{
    font-size: 0;
}
.dxscToolTipRoundedCornersTopSide_Glass
{
    border-top: 1px black solid; 
    vertical-align:bottom; 
    height:1px;	
    background-color:#fafad2;
}
.dxscToolTipRoundedCornersLeftSide_Glass
{
    border-left: 1px black solid; 
    vertical-align:bottom; 
    background-color:#fafad2;
}
.dxscToolTipRoundedCornersRightSide_Glass
{
    border-right: 1px black solid; 
    vertical-align:bottom; 
    background-color:#fafad2;
}
.dxscToolTipRoundedCornersBottomSide_Glass
{
    border-bottom: 1px black solid; 
    vertical-align:bottom; 
    height:1px;	
    background-color:#fafad2;
}
.dxscToolTipRoundedCornersContent_Glass
{
    background-color:#fafad2;
    padding:0;
}
.dxscToolTipSquaredCorners_Glass
{
    background: #f9f9cd;
    padding: 0;
    font-size: 0;
    color: #303030;
    white-space: nowrap;
    border: solid 1px black;
}
.dxscTimeMarker_Glass
{
    top:-7px;
}
.dxscTimeMarkerLine_Glass
{
    top:-2px;
    height:3px;
    font-size: 0;
}
.dxscTimeMarkerLineV_Glass
{
    position:absolute;
    background-color:#296E8E;
    width:1px;
    font-size: 0;
    border:solid 1px white;
    border-top-width:0;
    border-bottom-width:0;
}
.dxscTimeMarkerLineH_Glass
{
    position:absolute;
    top:-2px;
    background-color:#296E8E;
    height:1px;
    font-size: 0;
    border:solid 1px white;
    border-left-width:0;
    border-right-width:0;
}
