﻿canvas.chart-js-canvas {
    max-width: 700px;
    display: inline;
    margin: 0 auto;
}

.full-div {
    width: 100%;
    display: block;
}

.div-side {
    width: 49.8%;
    display: inline-block;
}
