
.dxRichEdit_CenterTabDragHandle_Glass, .dxRichEdit_ColumnSeparatorDragHandle_Glass, .dxRichEdit_DecimalTabDragHandle_Glass, .dxRichEdit_FirstLineIndentDragHandle_Glass, .dxRichEdit_LeftIndentDragHandle_Glass, .dxRichEdit_LeftTabDragHandle_Glass, .dxRichEdit_QuickSearchCloseButton_Glass, .dxRichEdit_QuickSearchCollapseButton_Glass, .dxRichEdit_QuickSearchNextButton_Glass, .dxRichEdit_QuickSearchPrevButton_Glass, .dxRichEdit_RightIndentDragHandle_Glass, .dxRichEdit_RightTabDragHandle_Glass { background-image: url('sprite.png'); background-repeat: no-repeat; background-color: transparent } 
.dxRichEdit_CenterTabDragHandle_Glass { background-position: -124px 0px; width: 8px; height: 6px } 
.dxRichEdit_ColumnSeparatorDragHandle_Glass { background-position: -115px 0px; width: 7px; height: 8px } 
.dxRichEdit_DecimalTabDragHandle_Glass { background-position: -134px 0px; width: 8px; height: 6px } 
.dxRichEdit_FirstLineIndentDragHandle_Glass { background-position: -82px 0px; width: 9px; height: 8px } 
.dxRichEdit_LeftIndentDragHandle_Glass { background-position: -93px 0px; width: 9px; height: 8px } 
.dxRichEdit_LeftTabDragHandle_Glass { background-position: -144px 0px; width: 6px; height: 6px } 
.dxRichEdit_QuickSearchCloseButton_Glass { background-position: -44px 0px; width: 17px; height: 17px } 
.dxRichEdit_QuickSearchCollapseButton_Glass { background-position: -63px 0px; width: 17px; height: 17px } 
.dxRichEdit_QuickSearchNextButton_Glass { background-position: 0px 0px; width: 20px; height: 18px } 
.dxRichEdit_QuickSearchPrevButton_Glass { background-position: -22px 0px; width: 20px; height: 18px } 
.dxRichEdit_RightIndentDragHandle_Glass { background-position: -104px 0px; width: 9px; height: 8px } 
.dxRichEdit_RightTabDragHandle_Glass { background-position: -152px 0px; width: 6px; height: 6px } 

