.dx-acc-r .dxRichEdit_CenterTabDragHandle_Glass:before, .dx-acc-r .dxRichEdit_ColumnSeparatorDragHandle_Glass:before, .dx-acc-r .dxRichEdit_DecimalTabDragHandle_Glass:before, .dx-acc-r .dxRichEdit_FirstLineIndentDragHandle_Glass:before, .dx-acc-r .dxRichEdit_LeftIndentDragHandle_Glass:before, .dx-acc-r .dxRichEdit_LeftTabDragHandle_Glass:before, .dx-acc-r .dxRichEdit_QuickSearchCloseButton_Glass:before, .dx-acc-r .dxRichEdit_QuickSearchCollapseButton_Glass:before, .dx-acc-r .dxRichEdit_QuickSearchNextButton_Glass:before, .dx-acc-r .dxRichEdit_QuickSearchPrevButton_Glass:before, .dx-acc-r .dxRichEdit_RightIndentDragHandle_Glass:before, .dx-acc-r .dxRichEdit_RightTabDragHandle_Glass:before { content: url('spriteAccessible.png'); }
.dx-acc-r .dxRichEdit_CenterTabDragHandle_Glass:before { left: -124px; top: 0px; }
.dx-acc-r .dxRichEdit_ColumnSeparatorDragHandle_Glass:before { left: -115px; top: 0px; }
.dx-acc-r .dxRichEdit_DecimalTabDragHandle_Glass:before { left: -134px; top: 0px; }
.dx-acc-r .dxRichEdit_FirstLineIndentDragHandle_Glass:before { left: -82px; top: 0px; }
.dx-acc-r .dxRichEdit_LeftIndentDragHandle_Glass:before { left: -93px; top: 0px; }
.dx-acc-r .dxRichEdit_LeftTabDragHandle_Glass:before { left: -144px; top: 0px; }
.dx-acc-r .dxRichEdit_QuickSearchCloseButton_Glass:before { left: -44px; top: 0px; }
.dx-acc-r .dxRichEdit_QuickSearchCollapseButton_Glass:before { left: -63px; top: 0px; }
.dx-acc-r .dxRichEdit_QuickSearchNextButton_Glass:before { left: 0px; top: 0px; }
.dx-acc-r .dxRichEdit_QuickSearchPrevButton_Glass:before { left: -22px; top: 0px; }
.dx-acc-r .dxRichEdit_RightIndentDragHandle_Glass:before { left: -104px; top: 0px; }
.dx-acc-r .dxRichEdit_RightTabDragHandle_Glass:before { left: -152px; top: 0px; }

