/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
.dxreControl_Glass
{
    border: solid 1px #4986A2;
    font: 12px Tahoma, Geneva, sans-serif;
}
.dxreControl_Glass .dxreTableBorderLine
{
    background-color: #599eff;
}
.dxreControl_Glass .dxrePage
{
    border: 1px solid #000000;
}
.dxreControl_Glass .dxreView
{
    background-color: #94B8CC;
}
.dxreControl_Glass .dxflFormLayout_Glass .dxre-editorsGroupWithPaddings
{
    padding-left: 32px;
    padding-right: 32px;
}
.dxreControl_Glass .dxrControl_Glass .dxr-minBtn
{
    padding-right: 7px;
}
.dxreControl_Glass .dxrControl_Glass .dxtcLite_Glass
{
    background: #D3E9F0;
}
.dxreControl_Glass .dxrControl_Glass .dxtcLite_Glass.dxtc-top .dxtc-leftIndent
{
    width: 3px;
}
.dxreControl_Glass .dxrControl_Glass .dxr-tabContent
{
    border-left-style: none;
    border-right-style: none;
}
.dxrControl_Glass .dxreRibbonCBSmall
{
    width: 60px;
}
.dxrControl_Glass .dxreRibbonCBLarge
{
    width: 140px;
}
.dxrControl_Glass .dxreRibbonCBMiddle
{
    width: 100px;
}
.dxrControl_Glass .dxreRibbonSE
{
    width: 70px;
}
.dxreControl_Glass .dxreRulerWrapper
{
    padding-top: 2px;
    background-color: #94B8CC;
}
.dxreControl_Glass .dxreRulerWrapper .dxre-rulertabAlignBox
{
    background-color: #d3d3d3;
}
.dxreControl_Glass .dxreRulerWrapper .dxre-rulertabAlignBox > div
{
    background-color: #fff;
}
.dxreControl_Glass .dxreRulerLine
{
    border-left: 1px dashed #717171;
}
.dxreControl_Glass .dxreRulerLine.table
{
    border-left: 1px solid #599eff;
}
.dxreControl_Glass .dxreRuler .dxre-columnHandleLeftPart,
.dxreControl_Glass .dxreRuler .dxre-columnHandleRightPart
{
    width: 5px;
    background-color: #bcb8b8;
}
.dxreControl_Glass .dxreRuler .dxre-rulerTableColumnSeparatorHandle
{
    height: 12px;
    background-color: #d3d3d3;
}
.dxreControl_Glass .dxreRuler .dxre-rulerTableColumnSeparatorHandle > div
{
    margin-top: 2px;
}
.dxreControl_Glass .dxreRuler .dxre-rulerDivisions
{
    height: 12px;
    background-color: #fff;
}
.dxreControl_Glass .dxreRuler .dxre-rulerDivisions div
{
    height: 12px;
}
.dxreControl_Glass .dxreRuler .dxre-rulerDivisions .dxre-rulerMinorDivision,
.dxreControl_Glass .dxreRuler .dxre-rulerDivisions .dxre-rulerMajorDivision
{
    border-left: 1px solid #a3a3a3;
}
.dxreControl_Glass .dxreRuler .dxre-rulerDivisions .dxre-rulerNumberDivision
{
    color: #4e4e4e;
}
.dxreControl_Glass .dxreRuler .dxre-rulerMarginLeftPanel,
.dxreControl_Glass .dxreRuler .dxre-rulerMarginRightPanel,
.dxreControl_Glass .dxreRuler .dxre-rulerMarginLeftHandlePanel,
.dxreControl_Glass .dxreRuler .dxre-rulerMarginRightHandlePanel,
.dxreControl_Glass .dxreRuler .dxre-columnHandle,
.dxreControl_Glass .dxreRuler .dxre-columnHandle > div
{
    height: 12px;
}
.dxreControl_Glass .dxreRuler .dxre-rulerMarginLeftPanel,
.dxreControl_Glass .dxreRuler .dxre-rulerMarginRightPanel,
.dxreControl_Glass .dxreRuler .dxre-rulerMarginLeftHandlePanel,
.dxreControl_Glass .dxreRuler .dxre-rulerMarginRightHandlePanel,
.dxreControl_Glass .dxreRuler .dxre-columnHandle
{
    background-color: #d3d3d3;
}
.dxreControl_Glass .dxre-leftIndentDragHandleBody
{
    background-color: #fff;
    border: 1px solid #929292;
    border-top: none;
    height: 6px;
}
.dxreControl_Glass .dxreQuickSearchPanel
{
    background-color: #EDF3F4;
    border: 1px solid #4986a2;
    border-top: none;
    padding: 6px;
}
.dxreControl_Glass .dxreQuickSearchPanel .dxreQuickSearchButtonEdit
{
    width: 200px;
}
.dxreControl_Glass .dxreQuickSearchPanel .dxreQuickSearchButton:first-of-type
{
    margin-top: 1px;
    margin-right: 2px;
    margin-left: 5px;
}
.dxreControl_Glass .dxreQuickSearchPanel .dxreQuickSearchButton:nth-of-type(2)
{
    margin-top: 1px;
}
.dxreControl_Glass .dxreQuickSearchPanel .dxreQuickSearchButton:nth-of-type(3)
{
    margin-top: 1px;
    margin-right: 2px;
    margin-left: 25px;
}
.dxreControl_Glass .dxreQuickSearchPanel .dxreQuickSearchButton:nth-of-type(4)
{
    margin-top: 1px;
}
.dxreControl_Glass .dxreQuickSearchPanel .dxreQuickSearchButton,
.dxreControl_Glass .dxreQuickSearchPanel .dxreQuickSearchButton .dxb
{
    padding: 0px !important;
    background: none !important;
    border: none !important;
}
.dxreControl_Glass .dxreBar
{
    background-color: #f4fafb;
    border-top: 1px solid #7EACB1;
    height: 22px;
}
.dxreControl_Glass .dxreBar .dxreLoadingPanel
{
    float: right;
    margin: 3px 2px 0 0;
    color: #4986a2;
}
.dxreControl_Glass .dxreBar .dxreLoadingPanel .dx
{
    line-height: 0;
}
.dxreControl_Glass .dxreBar .dxreLoadingPanel .dxlp-loadingImage
{
    width: 16px;
    height: 16px;
    background: url('reLoadingOnStatusBar.gif');
}
.dxreControl_Glass .dxreDlgListBox
{
    padding: 1px;
}
.dxreControl_Glass .dxreDlgListBox > div
{
    border: 1px solid #7EACB1;
    margin: 1px;
}
.dxreControl_Glass .dxreDlgListBox .dxreDlgListHover
{
    background-color: #D9ECED;
}
.dxreControl_Glass .dxreDlgListBox .dxreDlgListSelected
{
    background-color: #E9F6F8;
}
.dxreControl_Glass .dxre-numberinglistdialog
{
    max-width: 541px;
}
.dxreControl_Glass .dxre-simplenumberinglistdialog
{
    max-width: 385px;
}
.dxreControl_Glass .dxreDlgNumberingListForm .dxreDlgNumberingListPreview
{
    padding: 10px;
    width: 90px;
    height: 90px;
}
.dxreControl_Glass .dxreDlgNumberingListForm .dxreDlgMainContainer
{
    height: 220px;
}
.dxreControl_Glass .dxreDlgNumberingListForm .dxreDlgListBox > div
{
    width: 120px;
    height: 120px;
    line-height: 120px;
}
.dxreControl_Glass .dxre-bulletedlistdialog
{
    max-width: 350px;
}
.dxreControl_Glass .dxreDlgBulletedListForm .dxreDlgBulletPresetBtn
{
    width: 45px !important;
    height: 45px !important;
    float: left;
    margin: 0px 0px 5px 5px;
}
.dxreControl_Glass .dxre-multilevelnumberinglistdialog
{
    max-width: 422px;
}
.dxreControl_Glass .dxreMultiLevelNumberingListBoxLayout,
.dxreControl_Glass .dxreMultiLevelNumberingListBoxLayout .dxlbd
{
    width: 30px;
    height: 100% !important;
}
.dxreControl_Glass .dxre-multiLevelOptionsLayout .dxflGroup_Glass
{
    padding: 0px;
}
.dxreControl_Glass .dxreDlgMultiLevelNumberingListForm .dxre-dialogContentGroup > tbody > tr > td:first-child
{
    padding-right: 0px;
}
.dxreControl_Glass .dxreDlgMultiLevelNumberingListForm .dxre-dialogContentGroup > tbody > tr > td:last-child
{
    padding: 0px;
}
.dxreControl_Glass .dxre-alertdialog
{
    max-width: 350px;
}
.dxreControl_Glass .dxre-alertdialog span
{
    user-select: text;
}
.dxreControl_Glass .dxre-layoutoptionsdialog
{
    max-width: 515px;
}
.dxreControl_Glass .dxreDlgLayoutForm .dxtc-content
{
    min-height: 420px;
}
.dxreControl_Glass .dxreDlgLayoutForm .dxre-layoutFormOriginalSizeGroup .dxflCaptionCellSys
{
    padding-top: 0px;
}
.dxreControl_Glass .dxreDlgLayoutForm .dxre-dialogPresetButton
{
    width: 25% !important;
    text-align: center;
    float: left;
}
@media (max-width: 500px)
{
    .dxreControl_Glass .dxreDlgLayoutForm .dxre-dialogPresetButton
    {
        width: 33% !important;
    }
}
@media (max-width: 380px)
{
    .dxreControl_Glass .dxreDlgLayoutForm .dxre-dialogPresetButton
    {
        width: 50% !important;
    }
}
.dxreControl_Glass .dxreDlgLayoutForm .dxre-buttonLable
{
    display: block;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 5px;
}
.dxreControl_Glass .dxreDlgLayoutForm .dxre-sizeTabLayout .dx-dialogEditRoot > tbody > tr > td:first-child,
.dxreControl_Glass .dxreDlgLayoutForm .dxre-positionTabLayout .dx-dialogEditRoot > tbody > tr > td:first-child
{
    width: 5% !important;
}
.dxreControl_Glass .dxreDialog .dxrpControl_Glass.dxrp-noCollapsing > tbody > tr.dxrpCR > .dxrpcontent
{
    padding: 15px;
}
.dxreControl_Glass .dxreDialog .dxrpControlGB_Glass > tbody > tr.dxrpCR > .dxrpcontent
{
    padding: 6px 10px 10px 10px;
}
@media (max-width: 420px)
{
    .dxreControl_Glass .dxreDialog .dxre-dialogShortEditor:not(.dxre-dialogNotResponsiveEditor),
    .dxreControl_Glass .dxreDialog .dxre-dialogEditor:not(.dxre-dialogNotResponsiveEditor),
    .dxreControl_Glass .dxreDialog .dxre-dialogLongEditor:not(.dxre-dialogNotResponsiveEditor)
    {
        max-width: 100%;
    }
    .dxreControl_Glass .dxreDialog .dxflItemSys .dxflCaptionCellSys
    {
        min-width: 25px !important;
    }
}
.dxreControl_Glass .dxre-dialogShortEditor
{
    max-width: 70px;
}
.dxreControl_Glass .dxre-dialogEditor
{
    max-width: 110px;
}
.dxreControl_Glass .dxre-dialogLongEditor
{
    max-width: 170px;
}
.dxreControl_Glass .dxreDlgInLayoutButton
{
    width: 68px !important;
}
.dxreControl_Glass .dxreDlgFooterBtn
{
    width: 80px !important;
    margin-left: 8px;
}
.dxreControl_Glass .dxre-EmptyLine
{
    height: 10px;
}
.dxreControl_Glass .dxre-dialogFooter
{
    width: auto;
    padding: 11px;
    background-color: #D3E6F3;
}
.dxreControl_Glass .dxre-dialogLG.dxflGroupSys.dxre-dialogContentGroup
{
    padding: 11px 3px;
}
.dxreControl_Glass .dxre-dialogLGB > .dxre-dialogLG > div > .dxre-dialogLGC > .dxre-dialogLI
{
    padding-top: 2px;
}
.dxreControl_Glass .dxre-bookmarksdialog
{
    max-width: 300px;
}
.dxreControl_Glass .dxre-columnsdialog
{
    max-width: 435px;
}
.dxreControl_Glass .dxreDlgColumnsForm .dxreDlgColumnsEditorMainTable > tbody > tr > td
{
    padding: 2px 4px;
}
.dxreControl_Glass .dxreDlgColumnsForm .dxreDlgColumnsEditor
{
    height: 100px;
}
.dxreControl_Glass .dxreDlgColumnsForm .dxreDlgColumnsEditor .dxreDlgTextBox
{
    width: 40px;
}
.dxreControl_Glass .dxreDlgColumnsForm .dxreDlgColumnsEditor .dxreDlgSpinEdit
{
    width: 90px;
}
@media (max-width: 420px)
{
    .dxreControl_Glass .dxreDlgColumnsForm .dxbButton_Glass div.dxb
    {
        padding: 3px 5px 3px !important;
        border: none;
    }
    .dxreControl_Glass .dxreDlgColumnsForm tbody > tr.dxrpCR > .dxrpcontent > .dxrpAW > .dxrpCW
    {
        padding: 10px 0;
    }
    .dxreControl_Glass .dxreDlgColumnsForm .dxflGroup_Glass, .dxreControl_Glass .dxreDlgColumnsForm .dxflGroupCell_Glass
    {
        padding: 0 4px;
    }
    .dxreControl_Glass .dxreDlgColumnsForm .dxreDlgColumnsEditorMainTable
    {
        width: 100%;
    }
    .dxreControl_Glass .dxreDlgColumnsForm .dxflNotFloatedElSys .dxrpControl_Glass .dxflGroupCell_Glass
    {
        padding: 0px;
    }
}
.dxreControl_Glass .dxre-Separator
{
    height: 0px;
    margin: 5px 0;
    border-top: 1px solid #808080;
}
.dxreControl_Glass .dxre-findreplacedialog
{
    max-width: 426px;
}
.dxreControl_Glass .dxre-findreplacedialog .dxre-searchResultList
{
    width: 100%;
    height: 180px;
}
.dxreControl_Glass .dxre-findreplacedialog .dxre-searchResultList .dxeListBoxItem
{
    white-space: normal;
}
.dxreControl_Glass .dxre-findreplacedialog .dxre-dialogContentGroup
{
    padding: 24px !important;
}
.dxreControl_Glass .dxre-findreplacedialog .dxre-searchResult
{
    width: 100% !important;
}
.dxreControl_Glass .dxre-findreplacedialog .dxre-searchResult > div
{
    float: none !important;
    width: auto !important;
}
.dxreControl_Glass .dxre-findreplacedialog .dxre-searchResult .dxflCaptionCell_Glass
{
    padding-top: 0px;
}
.dxreControl_Glass .dxre-findreplacedialog .dxre-searchResult .dxflNestedControlCell_Glass
{
    text-align: right;
    white-space: nowrap;
    color: #acacac;
}
.dxreControl_Glass .dxre-findreplacedialog .dxre-dialogControlsWrapper > tbody > tr > td:first-child
{
    width: auto;
}
.dxreControl_Glass .dxre-findreplacedialog .dxre-dialogControlsWrapper > tbody > tr > td:nth-child(2)
{
    width: 100%;
    text-align: left;
}
.dxreControl_Glass .dxre-findreplacedialog .dxre-replaceInfo
{
    position: absolute;
    left: 0;
    visibility: hidden;
}
.dxreControl_Glass .dxre-findreplacedialog .dxre-replaceInfo > div
{
    padding: 8px;
    background: #FFF2C0;
}
@media (max-width: 420px)
{
    .dxreControl_Glass .dxre-findreplacedialog .dxre-dialogFooter .dxreDlgFooterBtn
    {
        width: auto !important;
    }
    .dxreControl_Glass .dxre-findreplacedialog .dxre-dialogFooter .dxreDlgFooterBtn > div.dxb
    {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }
}
.dxreControl_Glass .dxre-fontdialog
{
    max-width: 500px;
}
.dxreControl_Glass .dxreDlgFontForm .dxreCheckBoxContainer .dxflGroup_Glass,
.dxreControl_Glass .dxreDlgFontForm .dxreCheckBoxContainer .dxflGroupCell_Glass
{
    padding: 0px;
}
.dxreControl_Glass .dxreDlgFontForm .dxreCheckBoxContainer .dxflItem_Glass
{
    padding: 0px !important;
}
@media (max-width: 420px)
{
    .dxreControl_Glass .dxreDlgFontForm .dxre-dialogContentGroup .dxflLastChildSys .dxflGroupSys > div:not(.dxflFirstChildSys)
    {
        margin-top: 7px;
    }
}
.dxreControl_Glass .dxre-hyperlinkdialog
{
    max-width: 470px;
}
.dxreControl_Glass .dxre-insertimagedialog
{
    max-width: 450px;
}
.dxreControl_Glass .dxreDlgInsertImageForm .dxreDlgImagePreview
{
    margin-top: 10px;
    width: 100%;
    height: 170px;
    color: #878787;
    border: dashed 1px #cac8c8;
    text-align: center;
}
.dxreControl_Glass .dxreDlgInsertImageForm .dxflCaption_Glass
{
    white-space: normal;
}
.dxreControl_Glass .dxreDlgInsertImageForm .dxre-dialogRadioNavigation
{
    padding-bottom: 7px;
}
.dxreControl_Glass .dxre-insertmergefielddialog
{
    max-width: 300px !important;
}
.dxreControl_Glass .dxre-insertmergefielddialog .dxeListBox_Glass
{
    height: 250px;
}
.dxreControl_Glass .dxre-finishandmergedialog
{
    max-width: 215px;
}
.dxreControl_Glass .dxre-openfiledialog
{
    max-width: 800px;
}
.dxreControl_Glass .dxreDlgOpenFileForm
{
    height: 500px;
}
.dxreControl_Glass .dxreDlgOpenFileForm .dxflGroupCell,
.dxreControl_Glass .dxreDlgOpenFileForm .dxre-dialogContentGroup,
.dxreControl_Glass .dxreDlgOpenFileForm .dxre-dialogContentGroup .dxflItem_Glass
{
    padding: 0px !important;
}
.dxreControl_Glass .dxre-pagesetupdialog
{
    max-width: 340px;
}
.dxreControl_Glass .dxreDlgPageSetupForm .dxre-headersAndFootersGroup .dxflLastChildSys > .dxre-dialogLGC
{
    padding: 0px;
}
.dxreControl_Glass .dxreDlgPageSetupForm .dxre-offsetGroup .dxflGroupCell_Glass
{
    padding: 0px;
}
.dxreControl_Glass .dxreDlgPageSetupForm .dxre-offsetGroup tr:first-child .dxflGroupCell_Glass:first-child
{
    padding-right: 10px;
}
@media (min-width: 420px)
{
    .dxreControl_Glass .dxreDlgPageSetupForm .dxtc-content
    {
        min-height: 255px;
    }
}
.dxreControl_Glass .dxre-paragraphdialog
{
    max-width: 404px;
}
.dxreControl_Glass .dxreDlgParagraphForm .dxtc-content
{
    min-height: 335px;
}
.dxreControl_Glass .dxreDlgParagraphForm .dxre-dialogControlsWrapper > tbody > tr > td:first-child
{
    text-align: left;
}
@media (min-width: 420px)
{
    .dxreControl_Glass .dxreDlgParagraphForm .dxre-dialogParagraphInnerLayout
    {
        padding-top: 3px;
    }
    .dxreControl_Glass .dxreDlgParagraphForm .dxre-dialogParagraphInnerLayout .dxflFirstChildSys .dxflGroupCell_Glass
    {
        padding-right: 8px;
    }
}
.dxreControl_Glass .dxreDlgSaveFileForm
{
    width: 470px;
}
.dxreControl_Glass .dxre-spellingdialog
{
    max-width: 455px;
}
.dxreControl_Glass .dxreDlgSpellingForm .dxreDlgSB
{
    min-width: 80px;
    width: 100%;
    margin-bottom: 5px;
}
.dxreControl_Glass .dxreDlgSymbolsForm .dxreDlgSymbolsList
{
    height: 250px;
    border: 1px solid #7EACB1;
}
.dxreControl_Glass .dxreDlgSymbolsForm .dxreDlgListBox > div
{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: large;
}
.dxreControl_Glass .dxre-splittablecellsdialog,
.dxreControl_Glass .dxre-deletetablecellsdialog,
.dxreControl_Glass .dxre-inserttabledialog
{
    max-width: 300px;
}
.dxreControl_Glass .dxre-tablepropertiesdialog
{
    max-width: 460px;
}
.dxreControl_Glass .dxreDlgTablePropertiesForm .dxtc-content
{
    min-height: 435px;
}
.dxreControl_Glass .dxreDlgTablePropertiesForm .dxre-dialogTableSpacing
{
    text-align: right;
}
.dxreControl_Glass .dxreDlgTablePropertiesForm .dxre-dialogTableSpacing table
{
    display: inline-block;
}
@media (max-width: 380px)
{
    .dxreControl_Glass .dxreDlgTablePropertiesForm .dxre-dialogTableSpacing
    {
        text-align: left;
    }
}
.dxreControl_Glass .dxreDlgTablePropertiesForm .dxreDlgRight .dxreDlgFooterBtn
{
    display: inline-table;
}
.dxreControl_Glass .dxre-bordershadingdialog
{
    max-width: 410px;
}
.dxreControl_Glass .dxreDlgBorderShadingForm .dxre-dialogBorderPresets
{
    padding: 6px 0;
}
.dxreControl_Glass .dxreDlgBorderShadingForm .dxre-dialogBorderPresets .dxre-dialogLGC
{
    padding: 0px;
}
.dxreControl_Glass .dxreDlgBorderShadingForm .dxre-dialogBorderPresets .dxre-dialogPresetButton
{
    padding-bottom: 5px;
    text-align: center;
}
.dxreControl_Glass .dxreDlgBorderShadingForm .dxre-dialogBorderPresets .dxre-dialogPresetButton .dxre-buttonLable
{
    display: block;
}
.dxreControl_Glass .dxreDlgBorderShadingForm .dxreTableBorderPreview
{
    width: 130px !important;
    display: inline-block;
}
.dxreControl_Glass .dxre-dialogCellMargins td.dxre-dialogLGC
{
    padding: 0 2px 0 0 !important;
}
.dxreControl_Glass .dxre-dialogCellBlock
{
    width: 68px;
    background-color: #D3E6F3;
    border: dashed 1px #818181;
}
.dxreControl_Glass .dxreBorderButton
{
    visibility: hidden;
}
.dxreControl_Glass .dxreBorderButton div.dxb
{
    padding: 0px !important;
}
.dxreControl_Glass .dxre-tabsdialog
{
    max-width: 380px;
}
.dxreControl_Glass .dxreDlgTabsForm .dxreDlgTabsList
{
    height: 70px;
}
.dxreControl_Glass .dxreDlgTabsForm .dxre-flowRadioButtonList span.dxichCellSys
{
    min-width: 90px;
}
.dxFirefox .dxreControl_Glass .dxreQuickSearchPanel .dxreQuickSearchButton
{
    margin-top: 2px;
}
.dxreControl_Glass .dxre-dialogFooter
{
    background-image: url('DlgFooterBack.gif');
    background-repeat: repeat-x;
    background-position: top;
    border-top-style: none;
}
.dxreControl_Glass .dxreDlgListBox > div
{
    background-color: #FFF;
}
