﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Obymobi.ObymobiCms.Cms.SubPanels.PageTypeElementEditors.SingleLineTextEditor" Codebehind="SingleLineTextEditor.ascx.cs" %>
                        <tr>
							<td class="label">
								<D:Label runat="server" ID="lblPageTypeElementName" LocalizeText="false"></D:Label>
							</td>
							<td class="control" colspan="3">
								<D:TextBoxString ID="tbText" runat="server"></D:TextBoxString>
							</td>
						</tr>					