.dx-acc-r .dxVerticalGrid_CategoryCollapsed_Glass:before, .dx-acc-r .dxVerticalGrid_CategoryExpanded_Glass:before, .dx-acc-r .dxVerticalGrid_CollapsedButton_Glass:before, .dx-acc-r .dxVerticalGrid_CTClearFilter_Glass:before, .dx-acc-r .dxVerticalGrid_CTClearFilterDisabled_Glass:before, .dx-acc-r .dxVerticalGrid_CTDeleteRow_Glass:before, .dx-acc-r .dxVerticalGrid_CTDeleteRowDisabled_Glass:before, .dx-acc-r .dxVerticalGrid_CTEditRow_Glass:before, .dx-acc-r .dxVerticalGrid_CTEditRowDisabled_Glass:before, .dx-acc-r .dxVerticalGrid_CTExportCsv_Glass:before, .dx-acc-r .dxVerticalGrid_CTExportCsvDisabled_Glass:before, .dx-acc-r .dxVerticalGrid_CTExportDocx_Glass:before, .dx-acc-r .dxVerticalGrid_CTExportDocxDisabled_Glass:before, .dx-acc-r .dxVerticalGrid_CTExportPdf_Glass:before, .dx-acc-r .dxVerticalGrid_CTExportPdfDisabled_Glass:before, .dx-acc-r .dxVerticalGrid_CTExportRtf_Glass:before, .dx-acc-r .dxVerticalGrid_CTExportRtfDisabled_Glass:before, .dx-acc-r .dxVerticalGrid_CTExportXls_Glass:before, .dx-acc-r .dxVerticalGrid_CTExportXlsDisabled_Glass:before, .dx-acc-r .dxVerticalGrid_CTExportXlsx_Glass:before, .dx-acc-r .dxVerticalGrid_CTExportXlsxDisabled_Glass:before, .dx-acc-r .dxVerticalGrid_CTNewRow_Glass:before, .dx-acc-r .dxVerticalGrid_CTNewRowDisabled_Glass:before, .dx-acc-r .dxVerticalGrid_CTRefresh_Glass:before, .dx-acc-r .dxVerticalGrid_CTRefreshDisabled_Glass:before, .dx-acc-r .dxVerticalGrid_CTShowFilterEditor_Glass:before, .dx-acc-r .dxVerticalGrid_CTShowFilterEditorDisabled_Glass:before, .dx-acc-r .dxVerticalGrid_CTShowSearchPanel_Glass:before, .dx-acc-r .dxVerticalGrid_CTShowSearchPanelDisabled_Glass:before, .dx-acc-r .dxVerticalGrid_CTUpdateSummaries_Glass:before, .dx-acc-r .dxVerticalGrid_ExpandedButton_Glass:before, .dx-acc-r .dxVerticalGrid_gvCellError_Glass:before, .dx-acc-r .dxVerticalGrid_gvFilterRowButton_Glass:before, .dx-acc-r .dxVerticalGrid_gvHeaderFilter_Glass:before, .dx-acc-r .dxVerticalGrid_gvHeaderFilterActive_Glass:before, .dx-acc-r .dxVerticalGrid_gvHeaderSortDown_Glass:before, .dx-acc-r .dxVerticalGrid_gvHeaderSortUp_Glass:before, .dx-acc-r .dxVerticalGrid_gvUpdateSummariesButton_Glass:before { content: url('spriteAccessible.png'); }
.dx-acc-r .dxVerticalGrid_CategoryCollapsed_Glass:before { left: -40px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CategoryExpanded_Glass:before { left: -328px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CollapsedButton_Glass:before { left: -98px; top: -20px; }
.dx-acc-r .dxVerticalGrid_CTClearFilter_Glass:before { left: -364px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTClearFilterDisabled_Glass:before { left: -346px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTDeleteRow_Glass:before { left: -400px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTDeleteRowDisabled_Glass:before { left: -436px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTEditRow_Glass:before { left: -18px; top: -20px; }
.dx-acc-r .dxVerticalGrid_CTEditRowDisabled_Glass:before { left: -418px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTExportCsv_Glass:before { left: -472px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTExportCsvDisabled_Glass:before { left: -454px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTExportDocx_Glass:before { left: -508px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTExportDocxDisabled_Glass:before { left: -490px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTExportPdf_Glass:before { left: -310px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTExportPdfDisabled_Glass:before { left: 0px; top: -20px; }
.dx-acc-r .dxVerticalGrid_CTExportRtf_Glass:before { left: -274px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTExportRtfDisabled_Glass:before { left: -382px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTExportXls_Glass:before { left: -220px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTExportXlsDisabled_Glass:before { left: -256px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTExportXlsx_Glass:before { left: -238px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTExportXlsxDisabled_Glass:before { left: -292px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTNewRow_Glass:before { left: -184px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTNewRowDisabled_Glass:before { left: -202px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTRefresh_Glass:before { left: -148px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTRefreshDisabled_Glass:before { left: -166px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTShowFilterEditor_Glass:before { left: -112px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTShowFilterEditorDisabled_Glass:before { left: -130px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTShowSearchPanel_Glass:before { left: -76px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTShowSearchPanelDisabled_Glass:before { left: -94px; top: 0px; }
.dx-acc-r .dxVerticalGrid_CTUpdateSummaries_Glass:before { left: -58px; top: 0px; }
.dx-acc-r .dxVerticalGrid_ExpandedButton_Glass:before { left: -85px; top: -20px; }
.dx-acc-r .dxVerticalGrid_gvCellError_Glass:before { left: -54px; top: -20px; }
.dx-acc-r .dxVerticalGrid_gvFilterRowButton_Glass:before { left: -70px; top: -20px; }
.dx-acc-r .dxVerticalGrid_gvHeaderFilter_Glass:before { left: 0px; top: 0px; }
.dx-acc-r .dxVerticalGrid_gvHeaderFilterActive_Glass:before { left: -20px; top: 0px; }
.dx-acc-r .dxVerticalGrid_gvHeaderSortDown_Glass:before { left: -529px; top: -14px; }
.dx-acc-r .dxVerticalGrid_gvHeaderSortUp_Glass:before { left: -526px; top: 0px; }
.dx-acc-r .dxVerticalGrid_gvUpdateSummariesButton_Glass:before { left: -36px; top: -20px; }

