
.dxVerticalGrid_CategoryCollapsed_Glass, .dxVerticalGrid_CategoryExpanded_Glass, .dxVerticalGrid_CollapsedButton_Glass, .dxVerticalGrid_CTClearFilter_Glass, .dxVerticalGrid_CTClearFilterDisabled_Glass, .dxVerticalGrid_CTDeleteRow_Glass, .dxVerticalGrid_CTDeleteRowDisabled_Glass, .dxVerticalGrid_CTEditRow_Glass, .dxVerticalGrid_CTEditRowDisabled_Glass, .dxVerticalGrid_CTExportCsv_Glass, .dxVerticalGrid_CTExportCsvDisabled_Glass, .dxVerticalGrid_CTExportDocx_Glass, .dxVerticalGrid_CTExportDocxDisabled_Glass, .dxVerticalGrid_CTExportPdf_Glass, .dxVerticalGrid_CTExportPdfDisabled_Glass, .dxVerticalGrid_CTExportRtf_Glass, .dxVerticalGrid_CTExportRtfDisabled_Glass, .dxVerticalGrid_CTExportXls_Glass, .dxVerticalGrid_CTExportXlsDisabled_Glass, .dxVerticalGrid_CTExportXlsx_Glass, .dxVerticalGrid_CTExportXlsxDisabled_Glass, .dxVerticalGrid_CTNewRow_Glass, .dxVerticalGrid_CTNewRowDisabled_Glass, .dxVerticalGrid_CTRefresh_Glass, .dxVerticalGrid_CTRefreshDisabled_Glass, .dxVerticalGrid_CTShowFilterEditor_Glass, .dxVerticalGrid_CTShowFilterEditorDisabled_Glass, .dxVerticalGrid_CTShowSearchPanel_Glass, .dxVerticalGrid_CTShowSearchPanelDisabled_Glass, .dxVerticalGrid_CTUpdateSummaries_Glass, .dxVerticalGrid_ExpandedButton_Glass, .dxVerticalGrid_gvCellError_Glass, .dxVerticalGrid_gvFilterRowButton_Glass, .dxVerticalGrid_gvHeaderFilter_Glass, .dxVerticalGrid_gvHeaderFilterActive_Glass, .dxVerticalGrid_gvHeaderSortDown_Glass, .dxVerticalGrid_gvHeaderSortUp_Glass, .dxVerticalGrid_gvUpdateSummariesButton_Glass { background-image: url('sprite.png'); background-repeat: no-repeat; background-color: transparent } 
.dxVerticalGrid_CategoryCollapsed_Glass { background-position: -40px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CategoryExpanded_Glass { background-position: -328px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CollapsedButton_Glass { background-position: -98px -20px; width: 11px; height: 11px } 
.dxVerticalGrid_CTClearFilter_Glass { background-position: -364px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTClearFilterDisabled_Glass { background-position: -346px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTDeleteRow_Glass { background-position: -400px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTDeleteRowDisabled_Glass { background-position: -436px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTEditRow_Glass { background-position: -18px -20px; width: 16px; height: 16px } 
.dxVerticalGrid_CTEditRowDisabled_Glass { background-position: -418px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTExportCsv_Glass { background-position: -472px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTExportCsvDisabled_Glass { background-position: -454px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTExportDocx_Glass { background-position: -508px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTExportDocxDisabled_Glass { background-position: -490px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTExportPdf_Glass { background-position: -310px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTExportPdfDisabled_Glass { background-position: 0px -20px; width: 16px; height: 16px } 
.dxVerticalGrid_CTExportRtf_Glass { background-position: -274px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTExportRtfDisabled_Glass { background-position: -382px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTExportXls_Glass { background-position: -220px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTExportXlsDisabled_Glass { background-position: -256px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTExportXlsx_Glass { background-position: -238px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTExportXlsxDisabled_Glass { background-position: -292px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTNewRow_Glass { background-position: -184px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTNewRowDisabled_Glass { background-position: -202px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTRefresh_Glass { background-position: -148px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTRefreshDisabled_Glass { background-position: -166px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTShowFilterEditor_Glass { background-position: -112px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTShowFilterEditorDisabled_Glass { background-position: -130px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTShowSearchPanel_Glass { background-position: -76px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTShowSearchPanelDisabled_Glass { background-position: -94px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_CTUpdateSummaries_Glass { background-position: -58px 0px; width: 16px; height: 16px } 
.dxVerticalGrid_ExpandedButton_Glass { background-position: -85px -20px; width: 11px; height: 11px } 
.dxVerticalGrid_gvCellError_Glass { background-position: -54px -20px; width: 14px; height: 14px } 
.dxVerticalGrid_gvFilterRowButton_Glass { background-position: -70px -20px; width: 13px; height: 13px } 
.dxVerticalGrid_gvHeaderFilter_Glass { background-position: 0px 0px; width: 18px; height: 18px } 
.dxVerticalGrid_gvHeaderFilterActive_Glass { background-position: -20px 0px; width: 18px; height: 18px } 
.dxVerticalGrid_gvHeaderSortDown_Glass { background-position: -529px -14px; width: 7px; height: 4px } 
.dxVerticalGrid_gvHeaderSortUp_Glass { background-position: -526px 0px; width: 7px; height: 4px } 
.dxVerticalGrid_gvUpdateSummariesButton_Glass { background-position: -36px -20px; width: 16px; height: 16px } 

