/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
.dxvgControl_Glass,
.dxvgDisabled_Glass
{
    border: 1px solid #7EACB1;
    font: 12px Tahoma, Geneva, sans-serif;
    background-color: #f4fafb;
    color: Black;
    cursor: default;
}
.dxvgDisabled_Glass
{
    color: Gray;
}
.dxvgControl_Glass a.dxeHyperlink:not([href]):not([onclick]):not(.dxbButtonSys)
{
    color: Black;
    text-decoration: none;
}
.dxvgControl_Glass a
{
    color: #5555FF;
}
.dxvgControl_Glass a:hover
{
    color: #F39128;
}
.dxvgControl_Glass a:hover.dxbDisabled_Glass
{
    color: #93a1a4;
}
.dxvgDisabled_Glass a
{
    color: Gray;
}
.dxvgTable_Glass
{
    background-color: #f4fafb;
    border-width: 0;
    border-collapse: separate !important;
    overflow: hidden;
    table-layout: fixed;
}
.dxvgTable_Glass .dxvgHEC
{
    background-color: #f4fafb;
    border-width: 0;
    overflow: hidden;
}
.dxvgHeader_Glass
{
    cursor: pointer;
    color: Black;
    font-weight: normal;
    text-align: left;
    background-color: #b7d8dc;
    padding: 4px 6px 5px;
    border: 1px Solid #7EACB1;
    border-width: 0 1px 1px 0;
    overflow: hidden;
    white-space: nowrap;
}
.dxvgCategory_Glass
{
    font-weight: bold;
    background-color: #D5DFE6;
    padding: 9px 6px;
    border-bottom: 1px solid #7EACB1;
    overflow: hidden;
    white-space: nowrap;
}
.dxvgCSD .dxvgCategory_Glass:not(.dxvg__I)
{
    border-right: 1px solid #D5DFE6;
}
.dxvgCategoryRow_Glass.dxvgER .dxvgCategory_Glass,
.dxvgCategoryRow_Glass.dxvgCR .dxvgCategory_Glass
{
    cursor: pointer;
}
.dxvgCategoryRow_Glass.dxvgER .dxvgCategory_Glass.dxvg__I,
.dxvgCategoryRow_Glass.dxvgCR .dxvgCategory_Glass.dxvg__I
{
    cursor: default;
}
.dxvgRecord_Glass
{
    padding: 2px 6px 4px;
    border: 1px Solid #C2D4DA;
    border-width: 0 1px 1px 0;
    background: White;
    overflow: hidden;
}
.dxvgRecord_Glass:last-child
{
    border-right-width: 0;
}
.dxvgRPFC .dxvgRecord_Glass
{
    border-bottom: 1px Solid #7EACB1;
}
.dxvgRPFC.dxvgER .dxvgRecord_Glass
{
    border-bottom-color: #C2D4DA;
}
.dxvgGLNV .dxvgRecord_Glass
{
    border-right-width: 0;
}
.dxvgGLNH .dxvgRecord_Glass
{
    border-bottom-width: 0;
}
.dxvgGLNH .dxvgRPFC .dxvgRecord_Glass
{
    border-bottom-width: 1px;
}
.dxvgGLNH .dxvgRPFC.dxvgER .dxvgRecord_Glass
{
    border-bottom-width: 0;
}
.dxvgFC .dxvgGLNH tr:last-child .dxvgRecord_Glass
{
    border-bottom-width: 1px;
}
.dxvgControl_Glass .dxvgFCSD
{
    border-top: 1px solid #C2D4DA;
}
.dxvgRecordAlt_Glass
{
    background-color: #F3F8F7;
}
/* Select, Hover */
.dxvgSelectedRecord_Glass
{
    background-color: #E9F6F8;
}
.dxvgDataRowHover_Glass .dxvgRecord_Glass
{
    background: #d9eced none;
    color: Black;
}
/* Command Items */
.dxvgCommandCell_Glass a,
.dxvgHeader_Glass a.dxvgCommandItem_Glass
{
    margin: 0 3px 0 0;
}
.dxvgHeader_Glass a
{
    color: #2a769d;
}
.dxvgHeader_Glass a.dxvgCommandItem_Glass:hover
{
    color: #ff9600;
}
.dxvgCommandCell_Glass a
{
    color: #3e6b96;
}
.dxvgCommandCell_Glass a:hover
{
    color: #ff9600;
}
.dxbButton_Glass[class~="dxvgCommandItem_Glass"]
{
    margin: 0px 2px;
}
.dxbButton_Glass[class~="dxvgCommandItem_Glass"] .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
/* Indents */
.dxvgControl_Glass .dxvg__I
{
    border-style: solid;
    border-color: #7EACB1;
    border-width: 0 1px 0 0;
    cursor: default;
}
.dxvgControl_Glass .dxvg__I.dxvg__BB
{
    border-bottom-width: 1px;
}
.dxvgControl_Glass .dxvgER .dxvg__I.dxvg__BB
{
    border-bottom-width: 0;
}
.dxvgControl_Glass .dxvgMHI .dxvg__I
{
    border-right-width: 0;
}
.dxvgControl_Glass .dxvgMHI .dxvgER .dxvg__I.dxvg__BB
{
    border-bottom-width: 1px;
}
/* Title Panel, Status bar, Summary Panel */
.dxvgTitlePanel_Glass,
.dxvgTable_Glass caption
{
    font-weight: bold;
    padding: 3px;
    text-align: center;
    border-bottom: 1px solid #7EACB1;
    background-color: White;
}
.dxvgStatusBar_Glass
{
    border-top: 1px solid #7EACB1;
}
.dxvgStatusBar_Glass tr.dxvg
{
    height: 20px;
}
.dxvgStatusBar_Glass tr.dxvg > td
{
    padding: 4px;
}
.dxvgStatusBar_Glass tr.dxvg span .dxbButtonSys:first-child
{
    margin-left: 2px;
}
.dxvgSummaryPanel_Glass
{
    background: #e9f8fa;
    border-top: 1px solid #BCCBD1;
    padding: 8px 21px;
}
.dxvgSummaryItem_Glass
{
    display: inline-block;
    margin: 5px 8px 5px 0;
}
/* Pager */
.dxvgPagerTopPanel_Glass,
.dxvgPagerBottomPanel_Glass
{
    padding: 3px 0;
}
.dxvgPagerTopPanel_Glass
{
    border-bottom: 1px solid #7EACB1;
}
.dxvgPagerBottomPanel_Glass
{
    border-top: 1px solid #7EACB1;
}
/* Toolbar */
.dxvgControl_Glass .dxctToolbar_Glass.dxm-main.dxvgCTTop
{
    border-bottom: 1px solid #7EACB1;
}
.dxvgControl_Glass .dxctToolbar_Glass.dxm-main.dxvgCTBottom
{
    border-top: 1px solid #7EACB1;
}
/* Filter Builder, Filter Bar */
.dxvgFilterBar_Glass
{
    border-top: 1px solid #bccbd1;
    background: #d8e4e8 none;
}
.dxvgFilterBar_Glass a
{
    color: #2a769d;
    text-decoration: underline;
}
.dxvgFilterBarCheckBoxCell_Glass
{
    padding: 0 7px 0 3px;
}
.dxvgFilterBarImageCell_Glass
{
    padding: 0 1px 0 3px;
    cursor: pointer;
}
.dxvgFilterBarExpressionCell_Glass
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxvgFilterBarClearButtonCell_Glass
{
    padding: 5px 6px 8px;
}
.dxvgFilterBuilderMainArea_Glass
{
    background: white none;
    padding: 6px 2px;
}
.dxvgFilterBuilderButtonArea_Glass
{
    border-top: 1px solid #c4d3de;
    background: #D3E6F3 none;
    padding: 6px;
    white-space: nowrap;
}
/* Header Filter */
.dxvgControl_Glass .dxvgHFC
{
    padding-left: 4px;
    padding-bottom: 3px;
}
.dxvgControl_Glass .dxvgHFC .dxeCalendar_Glass
{
    margin-left: 24px;
}
.dxvgControl_Glass .dxvgHFC
{
    background: White;
}
.dxvgControl_Glass div[id$='DXEPLPC']
{
    height: 52px;
}
.dxvgControl_Glass .dxvgHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxvgControl_Glass .dxvgHFDRC
{
    margin: 15px 15px 25px;
}
.dxvgControl_Glass .dxvgHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxvgControl_Glass .dxvgHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxvgControl_Glass .dxvgHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}
/* Batch Edit */
.dxvgControl_Glass td.dxvgBatchEditCell_Glass:not(.dxBatchEditCheckBoxCell)
{
    padding: 0 2px;
}
.dxvgControl_Glass td.dxvgBatchEditModifiedCell_Glass
{
    background: #d7f9c7;
}
.dxvgBatchEditDeletedItem_Glass,
.dxvgBatchEditNewItem_Glass.dxvgBatchEditDeletedItem_Glass
{
    background: #EFEFEF;
}
td.dxvgBatchEditDeletedItem_Glass:not(.dxvgCommandColumn_Glass)
{
    color: rgba(0,0,0,0.5);
}
.dxvgBatchEditDeletedItem_Glass.dxvgBatchEditModifiedCell_Glass
{
    background: #eefbe7 !important;
}
.dxvgBatchEditNewItem_Glass
{
    background: #F0FAEA;
}
.dxvgControl_Glass .dxvgErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxvgControl_Glass .dxvgErrorCell img
{
    margin: -3px 0;
}
.dxvgStatusBar_Glass .dxbButton_Glass
{
    margin-right: 10px;
}
.dxvgRecordError_Glass
{
    background-color: #FFC8C8;
    color: Red;
    padding: 6px 10px;
    height: 100%;
}
.dxvgERV .dxvgRecord_Glass
{
    display: none;
}
.dxvgEmptyRecord_Glass
{
    display: none;
    text-align: center;
}
.dxvgERV .dxvgEmptyRecord_Glass
{
    display: table-cell;
}
/* LoadingPanel */
.dxvgLoadingPanel_Glass
{
    font: 12px Tahoma, Geneva, sans-serif;
    color: #303030;
    border: 1px solid #7EACB1;
    background-color: White;
}
.dxvgLoadingPanel_Glass td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 12px;
}
.dxvgLoadingPanel_Glass .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 27px;
    width: 27px;
}
.dxvgLoadingPanelStatusBar_Glass .dxlp-loadingImage
{
    background-image: url('../GridView/gvLoadingOnStatusBar.gif');
    height: 16px;
    width: 16px;
}
.dxvgLoadingPanelStatusBar_Glass
{
    background-color: transparent;
    font-size: 0.91em;
}
.dxvgLoadingPanelStatusBar_Glass td
{
    white-space: nowrap;
    text-align: center;
    padding: 0px 2px;
}
/* Search Panel */
.dxvgSearchPanel_Glass
{
    padding: 7px 4px 7px 6px;
    border-bottom: 1px solid #7EACB1;
}
.dxvgSearchPanel_Glass > table
{
    width: 70%;
    max-width: 450px;
}
.dxvgControl_Glass .dxvgSearchPanel_Glass .dxbButton_Glass
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxvgControl_Glass .dxvgSearchPanel_Glass .dxbButton_Glass
{
    margin-left: 0;
    margin-right: 7px;
}
.dxvgControl_Glass .dxvgHL
{
    background: #ffd83a;
    color: #333333;
    font-weight: bold;
    font-style: normal;
}
/* TODO remove (replace to command button style) */
.dxvgControl_Glass .dxvgSearchPanel_Glass .dxbButton_Glass
{
    font-size: 0.9em;
    margin-top: -2px;
    margin-bottom: -2px;
}
.dxvgControl_Glass .dxvgSearchPanel_Glass .dxbButton_Glass .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
/* Removes flicking in iOS Safari*/
.dxvgTable_Glass
{
    -webkit-tap-highlight-color: transparent;
}
.dxvgFocusedCell_Glass
{
    box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
    -webkit-box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
    -moz-box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
}
